[2020-10-07 17:57] yophilav commented on #3671
Hello rajaggrawal,

Thank you the question! Given the nature of the question, I believe you would get a more accurate answer by posting the question directly to Azure IoT C SDK git repo  [https://github.com/Azure/azure-iot-sdk-c](https://github.com/Azure/azure-iot-sdk-c)

[2020-10-07 18:11] kgremban commented on #3644
Although as @asergaz pointed out, both create_edge_device_certificate and create_edge_device_ca_certificate look like call identical functions. I'm happy to standardize around one across the docs, but I'd like to know why create_edge_device_certificate isn't working in case the same issues show up down the line for create_edge_device_ca_certificate.

[2020-10-07 18:28] rajaggrawal commented on #3671
Hi @yophilav

this is not entirely related with c-sdk.

its about sign method of workload.

i am following C# signKey implementaion from azure-iot-edge-identity-translation module.
### https://github.com/Azure-Samples/azure-iot-edge-identity-translation-lite/blob/master/src/edge/modules/IdentityTranslationLite/Program.cs#L93

I am trying to do same with curl command
**Is the following does the sam

[2020-10-08 01:01] yophilav commented on #3649
I couldn't reproduce the symptoms given the repro steps.
I did the following:
1. Create `deployment1` from azure portal with just  default runtime modules (edgeAgent1.0 & edgeHub:1.0 ; priority = 10)
2. Wait for the modules to be deployed on the target device
3. Clone `deployment1` and named it `deployment2` and update the image tags of runtime modules from `1.0` to be `1.0.10-rc2` ; priority = 20

[2020-10-08 01:37] yophilav commented on #3671
Could you please elaborate on what exactly are you trying to sign/auth here?

[2020-10-08 04:18] MohanGopi2010 opened #3679 "How to include SSL certificate in IOTEdge Module"
We have a concept like WEB API as a iotedge module. We created it. In this web api iotedge module we need to use SSL certificate.
Is their way to add this.

[2020-10-08 05:49] rajaggrawal commented on #3671
Hi @yophilav ,

Purpose is to connect a leaf device to IoTHub which does not have identity,  to implement this we are referring **azure-iot-edge-identity-translation module**.

please check this registration flow.

### https://github.com/Azure-Samples/azure-iot-edge-identity-translation-lite/blob/master/docs/media/registrationflow.png

Steps 1 to 6 :  Are fine for us.
Step 7 : Azure function has g

[2020-10-08 08:59] JesvinJoseph commented on #3649
@yophilav I have mentioned the case of a twin change trigger. Please add a custom module that can receive its module twin change and do the steps once again. If that is difficult, deploy a stream analytics edge module. clone the deployment, delete and add the stream analytics module once again.   So that its module twin will get change in the cloned deployment. Then if you delete the old deploymen

[2020-10-08 10:50] davidguidali commented on #3647
Its difficult to reproduce since I don't know what data were stored originally in the cache. However, If I'm gonna see this error again I'll do the steps you recommended. Thanks!

[2020-10-08 12:43] Gimly opened #3680 "Edge agent cannot start with error "Insufficient system resources exist to complete the requested service.""
## Expected Behavior
Edge agent should start successfully on a Windows Server 2019 Datacenter 1809 virtualized with 8GB of RAM and dual core 2.2GHz processor.

## Current Behavior
Edge agent does not start, when the daemon tries to start the Docker image it gets an error when trying to run `CreateComputeSystem` with the error `Insufficient system resources exist to complete the requested service.`

[2020-10-08 13:54] Bengkel commented on #972
I still experience the same problemn with 1.0.9.5 on a rPi3

[2020-10-08 13:56] RotateAt60MPH commented on #3602
@veyalla  I will be testing this this week.

[2020-10-08 14:22] robinmholt commented on #3679
Short answer is yes.

Long answer is very-very long.  I sent you an email describing what we have done and what we currently don't have working, but it comes down to we have a ASP.NET restful API.  We create our listener giving it the location to a .PFX file and a password and the listener does come up supporting TLS 1.2.  The complexity comes from having unique certificates per device and the CN=

[2020-10-09 03:32] veyalla commented on #3680
Since the issue seems unrelated to IoT Edge, I suggest posting this on the Windows containers forum https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowscontainers

[2020-10-09 08:16] Gimly commented on #3680
@veyalla What makes you think this is unrelated to IoT Edge? It's the edge agent that can't start with a default installation on those machines.

[2020-10-09 08:56] Gimly commented on #3680
@veyalla I have found a temporary solution from here: https://github.com/Microsoft/hcsshim/issues/437. The fix was to set the registry `HKLM\SYSTEM\ControlSet001\Services\NDIS\IfTypes\24\IfUsedNetLuidIndices` to 01 (it was the max value) and reboot the computer.

The main cause seems to be a bug in hcsshim used by Moby in which a restart didn't release this registry key. But what is annoying is th

[2020-10-09 17:32] veyalla commented on #3680
Thanks for the update. The built-in Moby engine for Windows containers is being updated in the 1.0.10 release which is coming out soon.

[2020-10-09 17:32] #3680 closed

[2020-10-09 17:37] veyalla commented on #3671
I suggest you open an issue on the https://github.com/Azure-Samples/azure-iot-edge-identity-translation-lite repo as you are following guidance from there.

[2020-10-09 17:37] veyalla commented on #3647
Thank you!

[2020-10-09 17:37] #3647 closed

[2020-10-09 17:37] vinils opened #3693 "problem to find package while installing iotedge on ubuntu 16.04 for arm32"
**Device**
Raspberry PI 4 with Ubuntu 16.04

**Repro steps** (link ref [how-to-install-iot-edge-linux](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux) )
curl https://packages.microsoft.com/config/ubuntu/16.04/multiarch/prod.list > ./microsoft-prod.list
sudo cp ./microsoft-prod.list /etc/apt/sources.list.d/
curl https://packages.microsoft.com/keys/microsoft.asc | gpg

[2020-10-09 17:42] veyalla commented on #3644
Thanks all, closing as this is being handled in the docs.

[2020-10-09 17:42] #3644 closed

[2020-10-09 17:46] veyalla commented on #3693
This is by design. Currently only Tier 1 OS packages are available from the MS Linux repos. Raspbian is the only arm32 OS in Tier 1.

[2020-10-09 17:46] #3693 closed

[2020-10-09 17:46] #3656 closed

[2020-10-09 19:23] JesvinJoseph commented on #3649
@veyalla @yophilav Are you able to reproduce the issue? Do you need any additional information?

[2020-10-12 13:52] FabGre opened #3702 "edgeAgent apply CoolOff after closed-but-regular reboots"
Hi there. We are working on an iotedge device which has a specific "low-power" behaviour : it has to be off most of the time and start-up only a few times per days and for a few minutes to collect all its sensors (with different custom edge modules), sent data to iotHub, then shutdown.

During our dev, we start-up again and again our device, always for very few minutes, and we saw that the edgeAge

[2020-10-12 15:18] afoui opened #3703 "moby-engine: Invalid 80-moby-engine.rules"
## Expected Behavior
No systemd-udevd error.

## Current Behavior
An error message shows up in the systemd journal:
[code]

## Steps to Reproduce
1. Create `/etc/apt/sources.list.d/microsoft-prod.list` with:
[code]
2. Install moby-engine

## Context (Environment)

### Output of `iotedge check`
(iotedge install is broken for unrelated reasons)

### Device Information
* Host OS: Debian Buster
* Arch

[2020-10-12 23:52] massand commented on #3679
Thank you for reporting. Based on the detailed description provided on your Stackoverflow post, I see this issue being more about module development and tooling specific to Windows Containers. The ASP.Net / Windows Containers community will likely provide better guidance on the other forums you have posted.

One suggestion I have is sharing the Dockerfile corresponding to your code in the Windows

[2020-10-12 23:52] #3679 closed

[2020-10-13 00:38] massand commented on #3702
@FabGre could you confirm if edgeAgent applies a CoolOff > 5 minutes before starting any module? Or is it capped at 5 minutes and that is above your device's cutoff threshold?

[2020-10-13 06:05] henioStraszny commented on #3648
I've created Private Endpoint connected to IoT Hub, this was setup within VNET. This VNET is paired with another VNET which has VPN tunnel setup to my corporate network.

[2020-10-13 07:17] FabGre commented on #3702
@massand Hello, yes your right we have a system watchdog which shutdown before the end of the maximum 5min CoolOff value. **But**, "after a while", we definitely saw that there's no module start-up triggered by the edgeModule in our syslogs.

We tried several things when it's happened :

[2020-10-13 07:57] massand commented on #3703
@afoui - thanks for reporting this issue. Generally speaking, the udev error seems benign because moby-engine operates without issues and never seems to use the loopback devices listed in the actual moby repo (80-docker.rules)[https://github.com/moby/moby/blob/master/contrib/udev/80-docker.rules] file. Do you see any issues arising from this error, other than the error message showing up in journa

[2020-10-13 08:31] massand commented on #3702
I assume your system watchdog would need to allow edgeAgent between 5-10 minutes (maximum cool off period for edgeAgent's exponential backoff retry mechanism for issuing docker management commands) between restarts. This would be a feature request if less time is provided to edgeAgent in one boot session.

If enough time is being provided to edgeAgent and this is still an issue, we need more infor

[2020-10-13 08:55] afoui commented on #3703
I haven't noticed any other problem related to this but such log entries are a potential source of questions from QA for something that looks like an easy-to-fix packaging issue.

[2020-10-13 15:50] veyalla commented on #3703
Adding @cpuguy83

[2020-10-13 15:53] veyalla commented on #3649
This is the response we got from the IoT Hub team:

*Yes that is expected. Any deployment crud will rerun the ADM engine in the backend which might evaluate that the device/module needs to be updated with cumulative payload of all the applicable deployments based on device/module state and deployment priority and create/update/delete event.*

If you have further questions, I suggest you open a sup

[2020-10-13 15:53] #3649 closed

[2020-10-13 16:01] #3671 closed

[2020-10-13 16:11] rajaggrawal opened #3710 "Not able to see logs from module."
I am running C module and which is started successfully.
i am not able to see any logs from module.

**sudo iotedge logs myModule -f**

there is no single log which is visible.

if i restart iotedge then i can see few logs from module

**sudo /etc/init.d/iotedge restart**

After restart myModule started before edgeHub and i can see few logs.
**But once edgehub started, no single logs appear** .

I

[2020-10-13 17:10] cpuguy83 commented on #3703
The error seems strange... what is the contents of 80-docker.rules in your actual machine?
Since line 1 char 1 is not a `c`... actually the first line is a comment.

The issue is generally going to be benign. The rules are there for the case of using devicemapper with loopback devices instead of the default overlay2 storage driver... and even then for desktop users.

[2020-10-13 17:32] afoui commented on #3703
@cpuguy83 There is no 80-docker.rules file on my device. The problem is with 80-moby-engine.rules, and it does start with a 'c':

[code]

`contrib/udev/80-docker.rules` refers to a valid file in the moby/moby github repo though.

Could it be that, when the moby-engine deb package is built, something like this runs:
`echo -n contrib/udev/80-docker.rules > .../80-moby-engine.rules`
where `cat contri

[2020-10-13 17:34] cpuguy83 commented on #3703
Not exactly that problem no.
It's a disconnect in the format that debian is expecting in the packaging.

[2020-10-13 17:35] CindyXing commented on #3645
@clustor can you please confirm if the password contains '?' or '~'; and what iotedged version you are using? Thanks.

[2020-10-13 17:42] cpuguy83 commented on #3703
We can fix this in packaging, no biggie.

However we have not been building for Debian Stretch for a few months now since the last security update was in the beginning of July.... I see now there's this weird LTS status where some other team picks up maintenance until 2022, though.

[2020-10-13 20:14] clustor commented on #3645
@veyalla I am using 1.0.10~dev
@CindyXing  Yes. It does have '~'.  I created service principal using the script provided here https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-service-principal.

[2020-10-13 23:38] massand commented on #3710
@rajaggrawal - Could you provide the support-bundle from your installation by running the [`iotedge support-bundle` command if you are running the latest 1.0.9+ build](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#gather-debug-information-with-support-bundle-command)? If `iotedge support-bundle` isn't available, please gather the iotedged logs by following instructions [here](https:

[2020-10-15 01:46] chipalost commented on #3283
@florianbader, you may have noticed that 1.0.10 was released a couple days ago. It does not have the fix to this issue but it should be available soon in a servicing release to 1.0.10. We released 1.0.10 without the fix as it contains some security fixes that couldn't wait on us completing the fix for the issue discussed in this thread.

[2020-10-15 08:31] fgheysels opened #3723 "IoT Edge Deployment is targetting a device, but the deployment is not applied"
Hi,

This is my current situation:

- I have IoT Edge installed on a VM;
- IoT Edge is configured to be provisioned via DSP (TPM enrollment)
- I have an IoT Edge deployment defined in my IoT Hub
- The IoT Edge VM is enrolled in DPS and shows up as IoT Edge device in IoT Hub
- In IoT Hub, I can see that my deployment is targetting the IoT Edge device, but the deployment is not applied
- The IoT Edg

[2020-10-15 09:18] ArsalanSaleemGhuman commented on #27
This resolved the error I was getting which is  error reported here https://github.com/Azure/iotedge/issues/671

[2020-10-15 12:53] kiranpradeep opened #3724 "[documentation request] Workload API"
<sub>This is not an issue ticket and hence not following the template. This is only a documentation request. Kindly guide if the issues page is not appropriate for this type of requests.</sub>

Question: Is the Workload API intended to be used by customer applications? For e.g if I like to encrypt minimal data to be stored on device, can I start using `encrypt()` which is part of Workload API?

If

[2020-10-15 17:34] veyalla commented on #3646
@clustor do you need any further help here?

[2020-10-16 06:00] sacvalleytech opened #3730 "Bugs in azureiotedge-diagnostics:1.0.10"
## Expected Behavior
Running `iotedge check` should not throw errors when using a VALID configuration

## Current Behavior

`iotedge check` fails with:

config.yaml has correct URIs for daemon mgmt endpoint - Error
    One or more errors occurred. (Response status code does not indicate success: 404 (Not Found).)

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. edit

[2020-10-16 07:52] fgheysels commented on #3723
I've removed the IoT Hub, redeployed the IoT Hub, deployed the same IoT Edge deployment to that IoT hub and everything is working again ....

[2020-10-16 12:43] wvangeem opened #3732 "Access Transparent Gateway through hostname"
Hi,

I've succesfully set up a Transparent Gateway with a child device.
I can use the example EdgeDownStreamDevice, but only with this connection string:
`HostName=myhubname.azure-devices.net;DeviceId=iotdemo07-child01;SharedAccessKey=<MyKey>;GatewayHostName=iotdemo07`
When I stop the iotedge service on my gateway, the messages are not sent anymore, so it really uses my gateway.
When I use followi

[2020-10-16 14:12] fgheysels opened #3733 "IoT Edge containers on Windows host OS"
In the documentation, it is stated [here](https://docs.microsoft.com/en-us/azure/iot-edge/support#operating-systems) that only Windows containers are supported in Azure IoT Edge when the host OS is Windows.
However, it seems that the edgeAgent and edgeHub system modules are only available as Linux containers, wo when running IoT Edge on Windows, those 2 system modules are in fact linux containers

[2020-10-16 14:39] fgheysels opened #3734 "DNS resolution doesn't work in IoT Edge Windows containers"
I have a set of custom containers (Windows) running in Azure IoT Edge on a Windows host OS.   In one of those containers, I need to call a http endpoint for which I have the hostname.   However, when performing that HTTP request using the hostname, I get the following exception back:

[code]

When I change the code so that the IP address is used to do the request instead of the hostname, everythin

[2020-10-16 18:07] veyalla commented on #3734
After DNS is set in daemon.json the container instances need to be deleted before the new DNS takes effect. Please run the following commands in an elevated PowerShell environment after DNS is set:

[code]
This operation will delete all the saved and running containers, but new instances should be created in about a minute with DNS configured in daemon.json if iotedged is running.

I am not aware

[2020-10-16 18:23] massand commented on #3733
edgeAgent and edgeHub modules run as Windows containers when Windows containers are enabled natively on the system. If Linux containers are enabled on docker, docker will pull the Linux container version.

Here is the full list of tags on Docker Hub - https://mcr.microsoft.com/v2/azureiotedge-agent/tags/list

[2020-10-16 18:32] massand commented on #3723
Based on your twin document, it sounds like the service hadn't applied the deployment on the IoT Hub side and Edge Agent rightfully threw an exception at this state. Also, since your issue is fixed with an IoT Hub redeployment, it could have been a service blip in your specific region. Which region was this and did you have any Layered deployments applied on the IoT Hub for IoT Edge devices when t

[2020-10-16 18:57] fgheysels commented on #3723
This was in the North Europe region, on a F1 IoT Hub.

I had performed multiple kinds of deployments that day:
- I've uninstalled iotedge on an existing VM , and re-installed IoT Edge and reprovisioned the VM to DPS (I did this multiple times to test our registration/onboarding procedure)
- I've deployed custom modules and routes multiple times on that day to that VM

[2020-10-16 19:01] fgheysels commented on #3734
Thanks, I'll try to do that and post any updates on that.

Some extra information:  we have defined an 'onboarding' process for our edge devices where we install the IoT Edge and directly after that we set the DNS in daemon.json.   So actually, the DNS information is available before any modules (except for the edgeAgent) are available.

[2020-10-16 19:19] massand commented on #3724
The Workload API exposes APIs that are used by edgeAgent and edgeHub out-of-the-box. I don't believe there is an SDK support for leveraging these APIs yet because it isn't fully supported AFAIK. However, there is a [swagger](https://github.com/Azure/iotedge/blob/e10f76b390896f2a512ccd0d4b3c7adec4c95d77/edgelet/api/workloadVersion_2019_01_30.yaml) for it, which was used to generate C# client code f

[2020-10-16 20:29] massand commented on #3730
Thanks for reporting this. Our team is taking a look.

[2020-10-16 22:41] massand commented on #3732
@wvangeem thanks for your question. All Azure IoT SDKs require downstream devices, connecting to IoT Edge as their gateway device, to be pre-provisioned in IoT Hub and linked as a child device. The only acceptable connection string format for all SDKs  requires the `HostName` parameter to be the IoT Hub hostname. There is no way to provision a child device via DPS and assign it to a specific IoT E

[2020-10-16 23:01] veyalla commented on #3723
Free hubs frequently run into quota issues. That might a reason as well. Closing as the issue seems to be fixed now.

[2020-10-16 23:01] #3723 closed

[2020-10-16 23:06] veyalla commented on #3648
This issue can be better serviced via an Azure support request from the Portal. It involves some level of expertise in networking intricacies that IoT Edge team does not have.

[2020-10-16 23:07] #852 closed

[2020-10-17 14:51] Lexmark-chad opened #3746 "Recently released EdgeAgent container v1.0.10 causes iotedged v1.0.9.4 to crash on Yocto arm64 build"
We have a custom embedded yocto build on an arm64 platform utilizing Azure IoT Edge.  Earlier this week when new versions of Azure IoT Edge and associated EdgeAgent / EdgeHub containers were released we observed iotedge caught in a crash loop in all of our devices.  Both config.yaml and the deployment manifests specified edgeAgent versions of "1.0" (i.e., 'rolling tags').  After the release earlie

[2020-10-19 03:57] kiranpradeep commented on #3724
Thanks for the helpful reply. Looking at azure-iot-edge-identity-translation-lite[[1](https://github.com/Azure-Samples/azure-iot-edge-identity-translation-lite)] repo, I was getting an impression like Workload API was intended to be used by user modules. But from the reply, it feels more like, if user modules have to use the Workload API, we need to understand some amount of iotedge internals (e.g

[2020-10-19 03:57] #3724 closed

[2020-10-19 06:18] wvangeem commented on #3732
@massand thanks for the reply. My goal is not to pre-provision the child devices. I already saw that they could not be provisioned through DPS.
So they are created as child devices to my provisioned gateway.
When you check this document: [https://docs.microsoft.com/en-us/azure/iot-edge/how-to-authenticate-downstream-device](url)
It says:
Instead of: HostName=myiothub.azure-devices.net;DeviceId=myD

[2020-10-19 06:38] krottiers commented on #3733
@massand Could you point us to the dockerfile of the windows version then? In the docker folder of the edge agent and hub I can only see a linux folder: [https://github.com/Azure/iotedge/tree/master/edge-agent/docker](https://github.com/Azure/iotedge/tree/master/edge-agent/docker )

[2020-10-19 10:13] FMauroy commented on #3730
On a side note, on Windows, we have this error at the same location:

`Only 'http' and 'https' schemes are allowed. (Parameter 'requestUri')`

[2020-10-19 14:09] massand commented on #3733
https://github.com/Azure/iotedge/tree/release/1.0.10/edge-agent/docker/windows

[2020-10-19 14:39] massand commented on #3710
@rajaggrawal - the entire support-bundle might not be needed here. Please provide the logs required by the new issue template (in addition to the custom module logs):

## Logs

<details>
<summary>iotedged logs</summary>

[code]
</details>

<details>
<summary>edge-agent logs</summary>

[code]
</details>

<details>
<summary>edge-hub logs</summary>

[code]
</details>

[2020-10-19 15:19] massand commented on #3732
@wvangeem thanks for the pointers. Just to be sure EdgeHub configuration checks out, please provide the output for the troubleshooting instructions in this article - https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connect-downstream-device#test-the-gateway-connection.

It appears your error is emerging from the SDK during [connection string validation](https://github.com/Azure/azure-iot-sdk

[2020-10-19 15:23] sandervandevelde opened #3748 "Refinement: Some Direct methods are not listed in log when EdgeAgent starts"
## Expected Behavior

When the edgeAgent starts, ALL the supported Direct Methods should be shown in the logging.

## Current Behavior

Direct methods [Ping](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-edgeagent-direct-method#ping) and [GetTaskStatus](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-retrieve-iot-edge-logs#get-upload-request-status) are not shown in the list of sup

[2020-10-20 05:18] veyalla commented on #3746
Thanks for the report, we'll investigate.

[2020-10-20 05:19] veyalla commented on #3748
Thanks for the report, we'll add to our backlog.

[2020-10-20 05:22] veyalla commented on #3602
Any update here? 1.0.10 is now released.

[2020-10-20 08:14] wvangeem commented on #3732
@massand
`openssl s_client -connect IOTDEMO07:8883 -CAfile C:/certificates/certs/azure-iot-test-only.root.ca.cert.pem -showcerts`
returns "Verify return code: 0 (ok)"
I already checked this before, and I think configuration and certificates are ok
`openssl s_client -connect IOTDEMO07.local:8883 -CAfile C:/certificates/certs/azure-iot-test-only.root.ca.cert.pem -showcerts`
returns also "Verify retu

[2020-10-20 08:14] #3732 closed

[2020-10-20 09:12] harounshehata opened #3758 "Error when setting up IoT Edge on Windows IoT Core"
Hello Dev Team,

I have a Raspberry PI 3 Model B with Windows IoT Core version 10.01.17763.107 (Build 17763 is supported by IoT Edge), but because IoT Core has no PowerShell I had to use remote PowerShell to connect to the Raspberry (https://docs.microsoft.com/en-us/windows/iot-core/connect-your-device/powershell). This was successful and I managed to install the IoT-Edge Runtime on the raspberry.

[2020-10-20 14:32] omarine opened #3759 "When iotedge is installed on aks,i couldn't find find links to device ca certificates"
Describe the bug
certificates settings missing in config.yaml when iotedge runtime deployed on aks

To Reproduce

Install iotedge runtime on aks cluster(Linux)
Connect to your pod/container (iotedged)
Navigate to /etc/iotedged and display content of the confi.yaml
Expected behavior
certificates settings missing

Screenshots

when iotedge runtime is installed on windows vm

the certificates setting

[2020-10-20 16:19] veyalla commented on #3758
@harounshehata IoT Edge does not support Windows IoT Core on ARM32.

[2020-10-20 16:19] #3758 closed

[2020-10-20 16:22] veyalla commented on #3759
What was the helm command used to install IoT Edge on K8s? Also, what is the relation between opcpublisher and device ca certs in iotedged?

[2020-10-20 17:31] #3648 closed

[2020-10-20 20:48] dylanbronson commented on #3746
Similar to the issue linked in this one, the backtrace is truncated. This is probably because it's a release build. Are you able to try with a debug build? This might let us see the backtrace code.

There is also a chance that it's actual truncation, and that by doing "journalctl" with no filtering we might see more.

[2020-10-20 20:58] Chad-McQuillen commented on #3746
I modified both meta-iotedge/recipes-core/iotedge-daemon/iotedge-daemon.inc and meta-iotedge/recipes-core/iotedge-cli/iotedge-cli.inc to include `INHIBIT_PACKAGE_STRIP = "1"` to retain debug symbols.  I don't see anything specific in iotedge's devguide for how to build a 'debug' build.  Please advise.

[2020-10-20 23:59] ms-amakumar opened #3764 "Edge running on AKS is not updating module images with new tag and version in IotHub"
Hey all,

We have an edge device running on AKS and our release pipeline on every deployment updates the image tag as well as module version. We are using automatic deployments. I see that the deployments are being applied on the devices, but the module image is actually not updating iot hub.

I have been using Helm chart from below
https://edgek8s.blob.core.windows.net/staging

Screenshot for ref

[2020-10-21 00:31] arsing commented on #3746
I'm not familiar with the yocto build but I assume it implicitly invokes `make install` ? If so, you'll have to remove the `--release` flag passed to `cargo build`, ie https://github.com/Azure/iotedge/blob/1.0.10/edgelet/Makefile#L61 , and also change https://github.com/Azure/iotedge/blob/1.0.10/edgelet/Makefile#L2 to `target/debug`

[2020-10-21 07:04] XUWeijiang opened #3768 "Agent doesn't really support Docker Health Checks"
In the past, we are using docker swarm for a long time. Currently we are trying to convert swarm to Azure IoT based service. In swarm, we are using health check to make sure the service is in good state. But when we use Azure IoT, the health check we specifies is never triggerred.  So we can't get any hint on the service status, and Azure IoT will never try to restart service(module) when the serv

[2020-10-21 08:17] omarine commented on #3759
Sorry a mistake, i meant iotedge runtime.so do you have an explanation on how to use device ca in aks ?
 here is the helm command :
helm install --repo https://edgek8s.blob.core.windows.net/staging {name of release} edge-kubernetes \
  --namespace {namespace name} \
  --set "iotedged.data.persistentVolumeClaim.name={name of the pvc}" \
  --set "provisioning.deviceConnectionString=$connStr" \
  --s

[2020-10-21 09:02] kajakIYD commented on #1815
New release appeared, but it does not address the issue - or am I wrong? :)

[2020-10-21 10:43] franperezlopez opened #3769 "error BouncyCastle.Crypto - access is denied"
## Expected Behavior
edgeHub container does run

## Current Behavior
edgeHub container does not run

## Steps to Reproduce

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Windows IoT Core]: SuSE 4.8.5-11
* Architecture [e.g. amd64, arm32, arm64]: amd64
* Containe

[2020-10-21 12:44] XUWeijiang commented on #3768
Sorry, My mistake.

I found my health check config is wrong.  After correcting health check config, everything works.

[2020-10-21 12:44] #3768 closed

[2020-10-21 16:42] veyalla commented on #3759
This is not listed in the examples, but [values.yaml](https://github.com/Azure/iotedge/blob/a9ff7e70677bb2765e1cd2ef467bd49021d9aa4a/kubernetes/charts/edge-kubernetes/values.yaml#L108-L125) has information in it to set it up.

[2020-10-21 17:05] FabGre commented on #3702
Hi @massand, sorry I can't find time to perform the tests you asked but two questions remains :

* why do the edgeAgent apply cool off to modules after a clean shutdown ?
* why can it falls in a mode when it never starts module anymore ?

You can easily test that with a VM, instructions and script I provided in my first post. Thx

[2020-10-21 17:28] massand commented on #3702
As per edgeAgent's [RestartPolicyManager](https://github.com/Azure/iotedge/blob/master/edge-agent/src/Microsoft.Azure.Devices.Edge.Agent.Core/RestartPolicyManager.cs#L76),  `max(2 ^ restartCount, maxCoolOff)` is applied to each module regardless of when it is started.

Without module logs that are failing, it is hard for me to tell what the issue is.

[2020-10-21 18:11] darobs commented on #3764
Thank you @ms-amakumar, I have started investigating.

[2020-10-21 18:38] Chad-McQuillen commented on #3746
I've confirmed that the information provided was, in fact, from a debug build.  The poky build generates an auto.conf which has `DEBUG_BUILD = "1"` defined based on the flavor of the build our tools establish when the build workspace is setup.  This in turn sets the build type appropriately in meta-rust's cargo.bbclass file which is used in building iotedge.

[2020-10-21 18:59] arsing commented on #3746
There would be a lot more frames in the backtrace if it were a debug build. So either it isn't a debug build, or something else has broken the backtrace-taking code on yocto (not impossible).

Like I said in #2747 the string that's being indexed incorrectly doesn't appear to be in our code nor our deps, so we can't tell without a proper backtrace who the culprit is.

Maybe configure your distro to

[2020-10-21 19:42] dylanbronson commented on #3769
Do you have any createOptions set that weren't set by default?
This problem is quite odd, since we would expect to see it for everyone using the edgeHub 1.0.10 container, but we don't

[2020-10-21 20:03] franperezlopez commented on #3769
I've got the default create options
[code]

can you explain me what was the cause of the error in the past? Is this something related with validating SSL certificates?

[2020-10-21 21:38] dylanbronson commented on #3769
I don't think we've had this error in the past. It happens when validating certificate, but it looks like it's happening because it can't grab the BouncyCastle DLL due to some permissions error.
It could be related to the user that edgeHub is running, since the error is a permissions one. But if your createOptions is clean, it doesn't make sense to me.

Have you removed the docker container? 'dock

[2020-10-21 21:40] massand commented on #3702
@veyalla provided me the possible RCA and workaround for edgeAgent never starting modules anymore -

[2020-10-22 05:40] KevinKao809 opened #3774 "IoT edge security daemon (V1.0.7.1) is not compatible with edgeAgent (1.0.10)"
## Expected Behavior
edgeAgent and edgeHub shall start and connect to Azure IoT Hub as normal.

## Current Behavior
edgeAgent can't communicate with security daemon

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. Every things are fine until reboot gateway device.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summar

[2020-10-22 06:50] franperezlopez commented on #3769
I've got same behaviour removing the image with `docker image rm -f mcr.microsoft.com/azureiotedge-hub:1.0`

I can run
[code]

the error is different, but I suppose it's because I lack some environment setup:
[code]

[2020-10-22 09:34] omarine commented on #3759
Hello,

it's on the iotedge-k8s-doc

https://microsoft.github.io/iotedge-k8s-doc/examples/pervol_translation.html

helm install --repo https://edgek8s.blob.core.windows.net/staging pv-example1 edge-kubernetes \
  --namespace pv1 \
  --set "provisioning.deviceConnectionString=$connStr" \
  --set "edgeAgent.env.persistentVolumeClaimDefaultSizeInMb=5000" \
  --set "edgeAgent.env.storageClassName=azur

[2020-10-22 15:17] pcurt commented on #3702
I am working with @FabGre
Looking  at sources, I have applied the following configuration:
-  `IntensiveCareTimeInMinutes = 0` To always clear the module stats
- `CoolOffTimeUnitInSeconds = 1` To only wait 2 second after a backOff module state
- `MaxRestartCount = 2147483647`  To never block a module start

We are now using the following versions :
- iotedged [1.0.10]
- Edge Agent [1.0.10]
- Edge

[2020-10-22 15:18] MET-Sam opened #3776 "iotedge check not executing"
## Expected Behavior
iotedge check should return a status report

## Current Behavior
iotedge check does not return a status report and needs to be stopped with ctrl-c

## Steps to Reproduce
Install iotedge runtime following the steps here

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?tabs=linux

and here

https://docs.microsoft.com/en-us/azure/iot-edge/how-to-manual-pro

[2020-10-22 16:24] #3646 closed

[2020-10-22 16:27] veyalla commented on #3645
1.0.10 GA was released last week , please try on this and re-open if still an issue.

[2020-10-22 16:27] #3645 closed

[2020-10-22 16:28] veyalla commented on #3710
@rajaggrawal any update?

[2020-10-22 16:39] veyalla commented on #3774
@KevinKao809 The config.yaml defines the "bootstrap" edge agent, please ensure that is pinned to a specific version as well and referencing the rolling tag "1.0"

[2020-10-22 19:13] Chad-McQuillen commented on #3746
I added gdb to our build.  I focused on `iotedge check` because it's the simplest to recreate and run in the debugger.

[code]

Output of `info threads`:

[code]

Backtrace of thread 7 which SIGABRT'd:

[code]

Backtrace of thread 1:

[code]

Backtrace of thread 2:

[code]

Backtrace of thread 8:

[code]

Backtrace of thread 9:

[code]

Backtrace of thread 10:

[code]

[2020-10-22 19:43] Chad-McQuillen commented on #3746
This likely isn't helpful, but a colleague of mine who is well versed in Rust helped me to set breakpoints to navigate back up through the stack to try to get a better callstack.  This is as far as I could get:

[code]

[2020-10-22 19:44] arsing commented on #3746
Thread 2 parked in `epoll` and the other threads parked on condvars is to be expected; they're tokio's I/O reactor thread and the other worker threads, and the worker threads have nothing to do. The relevant one is thread 7, and it's annoying that its stack is corrupted. (It *is* surprising that the other threads also don't have proper stacks after frame 44.)

You might get a better stack with `br

[2020-10-22 19:46] arsing commented on #3746
Okay, so if `break slice_error_fail` also has a corrupted stack that is annoying...

[2020-10-22 19:50] Chad-McQuillen commented on #3746
This time I set a breakpoint on mod.rs:1792..... progress?

[code]

[2020-10-22 19:57] arsing commented on #3746
That is excellent! Let me check what sysinfo 0.9.6 is doing.

[2020-10-22 20:04] arsing commented on #3746
Okay, so https://docs.rs/sysinfo/0.9.6/src/sysinfo/linux/component.rs.html#51 is the problem. `entry` there could be `"temp"`, and indexing it with `4..5` will indeed panic. In #2747 the issue was probably caused by line 46, due to indexing `"temp1"` with `6..`

It was inadvertently fixed by https://github.com/GuillaumeGomez/sysinfo/commit/01e0c7339348a9100ac3ab13b7511af159fd042d which was made ju

[2020-10-22 20:13] Chad-McQuillen commented on #3746
Awesome.  I think you nailed it.  I was chatting in real-time with @srwalter and he pointed out the following:

[code]

I can try updating that crate first as a quick fix.  We have plans to move to 1.0.10, but will that will take a bit more time.  Thanks for all your help!

[2020-10-22 20:16] arsing commented on #3746
That also explains why both `iotedge check` and Edge Agent 1.0.10 on iotedged 1.0.9 trigger it; the code to use the sysinfo crate is only invoked by those two. For `iotedge check` it's part of gathering additional info, and for Edge Agent it's because it started invoking the `/systeminfo/resources` endpoint for collecting metrics.

So please update iotedged to 1.0.10 and see if the issue is resolv

[2020-10-22 20:22] arsing commented on #3746
Your hwmon0 listing doesn't have any files that would cause the problem. Do you have any other hwmon devices that have a file named just `temp` ? That file would be the one causing the panic.

[2020-10-22 20:25] Chad-McQuillen commented on #3746
Sorry, wasn't paying close enough attention.  Yes, there is also an hwmon1 that has just 'temp'.

[2020-10-22 20:34] arsing commented on #2747
This was figured out in https://github.com/Azure/iotedge/issues/3746 to be due to a bug in the sysinfo dependency when it enumerates hwmon devices looking for temp sensors. If it finds a file whose name starts with `"temp"` but is less than six characters long it indexes it incorrectly and causes the panic. In this user's case, the old board presumably had an hwmon device that created a file named

[2020-10-22 23:32] darobs commented on #3759
Hi @omarine,

Right now, Edge on K8s has feature parity with 1.0.9, which **doesn't have manual x.509 provisioning**, just X.509 through DPS.

Feature parity for 1.0.10 is planned for Edge on K8s - coming soon now that 1.0.10 is released.  This is how it will work:

You will have to create a secret to install the certificates into the pods then reference the secret in the Helm chart.
[code]

I ext

[2020-10-23 00:18] KevinKao809 commented on #3774
Hi Venkat,
Where I can get flow diagram about Azure IoT Edge starting process?

[2020-10-23 09:13] fgheysels commented on #3283
Not sure if I understand this issue completely.  Does this have to do with the fact that when you restart the iotedge service for a configured device, iotedge will query IoT Hub to get information about it's deployment and then apply that configuration instead of first starting with it's last known deployment  ?
We're currently seeing this behavior with IoT Edge installed on vessels that are not a

[2020-10-23 12:57] surlemur commented on #2747
Thank for the update!

[2020-10-23 15:44] karok2m opened #3793 "Clarification regarding number of dropped messages by edgeHub."
Hello IoT Edge team. I have a few question regarding cleanup of messages by `edgeHub`. I see that `edgeHub` performs a periodic cleanup of messages, I do have `timeToLiveSec` set to `7200`. And I want to understand if those messages should be considered as dropped or not. So, are the messages reported as cleaned up the ones which were in the send queue but were dropped because of the ttl ? Are tho

[2020-10-23 22:44] ryayl opened #3795 "New edgeAgent Direct Method GetModuleLogs returns empty payload when management/workload URIs are http-based"
## Expected Behavior
The new direct method GetModuleLogs (provided by edgeAgent 1.0.10) is working correctly on a RaspberryPi based system, where the iotedge config file has the following settings for both connect and listen:

[code]

After sending GetModuleLogs command from the Azure CLI, I get a response including the payload containing the logs. Meanwhile I can observe the following activity in

[2020-10-23 22:48] veyalla commented on #3776
I could not repro this.

 Does the VM have restrictions in accessing the internet or connect via proxy? Can you share the logs from iotedged?

[2020-10-23 22:54] veyalla commented on #3774
@kgremban is the startup flow documented in our docs?

@KevinKao809 - Quick summary, when iotedged starts up (and there is no re-provisioning required), it looks for existing container named edgeAgent. If found it starts it up, otherwise it creates a container named edgeAgent from the image specified in its config.yaml (a.k.a the bootstrap agent). That agent updates itself to version specified in

[2020-10-23 22:58] veyalla commented on #3795
Thanks for the report, we'll take a look.

[2020-10-23 23:13] dylanbronson commented on #3793
Firstly, in release 1.0.10, we fixed a metric called "edgehub_messages_dropped_total" - this metric should get you what you're looking for.

For more info on your other questions:
Messages that are cleaned up in those logs have either expired or already been sent. so you cannot use just that log for dropped messages.
edgehub_messages_sent_total is a total number of message an endpoint is sending.

[2020-10-26 06:02] massand commented on #3703
@cpuguy83 Please keep this thread posted on availability of the fix for this bug. Ideally, we should have this in the next moby-engine package release. There are no iotedge changes needed for issue.

[2020-10-26 06:02] #3703 closed

[2020-10-26 06:02] #3733 closed

[2020-10-26 12:42] chipalost commented on #3283
@arsing @eustacea, please help fgheysels determine whether the issue he is seeing is related to this bug or is a completely different issue.

[2020-10-26 16:35] #3759 closed

[2020-10-26 16:35] veyalla commented on #3734
Any updates here?

[2020-10-26 16:36] veyalla commented on #3776
Closing since a support ticket was opened for this

[2020-10-26 16:36] #3776 closed

[2020-10-26 17:21] jsucco-growlink opened #3805 "edgehub fails to clean messages for endpoint 'Value not found in store'"
## Expected Behavior
EdgeHub should clean up messages and device memory should maintain stable level.

## Current Behavior
'System.InvalidOperationException: Value not found in store' error is thrown while edge attempts to clean up messages for an endpoint.  Full exception below was found in edgeHub logs.

**<4> 2020-10-25 14:58:06.346 +00:00 [WRN] - Error cleaning up messages for endpoint Core-c6

[2020-10-26 20:06] fgheysels commented on #3734
I've verified if daemon.json contains the correct DNS IP's
I've executed the commands you listed here, the containers were removed and new instances were created
The issue however, remains.

I'm pretty sure that the issue originates from the nanoserver-1809 image, which we also need to use since IoT Edge for Windows requires this base image (which is actually EOL next month).

[2020-10-26 20:56] Chad-McQuillen commented on #3746
Are you sure 1.0.10 is updated to sysinfo 0.12.0?

https://github.com/Azure/iotedge/blob/release/1.0.10/edgelet/iotedge/Cargo.toml

I've successfully built 1.0.10, but I'm crashing in the same place.  Please note that I'm still using the prior pinned version of Rust in the build and I'm working on bringing that up to Rust 1.44.1.

[2020-10-26 21:22] veyalla commented on #3734
We cannot repro this issue with nanoserver-1809 image. Since we'll need more details from device, can you please go ahead and open a support ticket from the Azure Portal? You can reference this github issue in the support ticket.

Re: Nanoserver 1809 EOL, we have some good news. It has been extended -
![image](https://user-images.githubusercontent.com/22105760/97230055-84793000-1796-11eb-95b5-f0de

[2020-10-26 23:11] and-rewsmith commented on #3805
What else is running on that host? While newer than 1.0.9, I have looked at memory metrics for changes in our master branch over the last few months and there doesn't seem to be a leak. If you can upgrade to 1.0.10 this might help you out. Regarding the exception, I have never seen this failure to remove from storage before and am reaching out to others on the team for perspectives. I don't think

[2020-10-26 23:19] jsucco-growlink commented on #3805
We have teamviewer (backdoor remote control), and a .net core service running on the host as well.  I'll try upgrading to 1.0.10 and see if that resolves it.  Yeah that exception is just the only odd thing out we see in the logs.  The main problem that we don't understand is the memory degration issue.

And yeah thanks for the tip on rotating container logs.

[2020-10-27 10:09] Gimly opened #3818 "Edge Agent restarts every ~30 minutes without any info in log"
## Expected Behavior
The Edge agent should stay up as long as possible

## Current Behavior
The Edge Agent restarts around every 30 minutes with seemingly no reason. We have that behavior happening on two different installation.

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
Difficult to say, we have a standard installation.

## Context (Environment)

### Output of `i

[2020-10-27 10:24] Sdelausnay opened #3819 "IoTedge release 1.0.10 custom certificates edgeAgent Failes"
## Expected Behavior
We are upgrading the IoT edge runtime on some of our devices from `1.0.9.5` to `1.0.10` and everything should work like before where the device can onboard through DPS (with certificates) and running with production certificates

## Current Behavior
Currently edgeAgent is not starting up because of an Hsm failure. We use custom production certificates which are valid according

[2020-10-27 13:16] jsucco-growlink commented on #3805
![DeviceMemoryByProcess](https://user-images.githubusercontent.com/66380588/97306600-504c5080-1824-11eb-88fc-db9cab172a10.png)

[2020-10-27 13:17] jsucco-growlink commented on #3805
thats a breakdown by process if that helps .. you can see edgeHub taking up 40% of the memory ... it grows and grows until we have to reboot to clear the memory....

[2020-10-27 16:24] and-rewsmith commented on #3818
From the iotedged logs it seems edge agent is exiting with a failing code. The fact that there are no logs here is certainly a bug. I did notice though that your iotedge check has an error with:
[code]

Let's try fixing this and seeing if it helps.

[2020-10-27 16:47] Chad-McQuillen commented on #3746
fyi.  I patched the above file to pin sysinfo to version 0.12.0 and 'iotedge check' now successfully runs on our platform.

[2020-10-27 16:54] and-rewsmith commented on #3819
The error message says that it cannot get the trust bundle. Can you confirm you have ```trusted_ca_certs``` set correctly in your ```config.yaml```?

[2020-10-27 17:03] Sdelausnay commented on #3819
Yes, because I have downgraded to ```iotedge-1.0.9.5``` without changing the ```config.yaml``` file and than everything was working fine. These certificates are already installed on 50+ devices on the previous version of iotedge all configured with same installation script.

[2020-10-27 17:43] rajaggrawal commented on #3710
Apologize to respond late.

This issue may not be related with iotedge as i am not able to see logs while running docker logs command.
**docker logs containerID**

i am not able to collect logs. needs to make setup freshly.

[2020-10-27 18:17] and-rewsmith commented on #3819
I don't currently understand how this downgrade scenario to 1.0.9.5 works given that the error here indicates a problem reading the trust bundle. If I recall correctly, there are some options when upgrading to either keep your config yaml, or switch to the new one. What did you select here?

Also, I think it would be helpful if you could post your config.yaml here **with sensitive information reda

[2020-10-27 20:07] and-rewsmith commented on #3805
Will it grow until it becomes a problem? This is a Pi so it doesn't have that much memory to begin with. Unfortunately I cannot find any info about these rocksdb exceptions. The edgehub logs seem to indicate it can still successfully clear messages from the store, so I am assuming this isn't a blocker for you.

 Let me know if either of these issues occur in our 1.0.10 bits.

[2020-10-27 21:09] Gimly commented on #3818
@and-rewsmith well, I'd love to fix it, but I think it's a bug with Moby and, looking at what I have found online it's not really fixable on Windows. As far as I understand it's linked to the use of `npipe://` in the moby_runtime URI in the config.yaml.

[code]

If you have any way to fix it I'd be happy to try.

[2020-10-27 21:17] veyalla commented on #3818
Are you saying the restart every 30m is linked to use of npipe? Can you point to some information that makes you think this is a bug in Moby?

[2020-10-27 21:36] veyalla commented on #3818
Also, this failure is unexpected as well, I don't see it on my system:
[code]

[2020-10-27 21:41] Vijay-Karthick commented on #3283
Hi @fgheysels
The problem I face is for IoT devices using TPM and DPS. Everytime a device reboots, all IoT Edge module containers are recreated, leading to data loss. This is not the case when I have a static SAS connection string in the config.yaml file. @ksaye created a feedback ticket a while ago:
https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/40983106-do-not-delete-modules

[2020-10-27 22:08] jsucco-growlink commented on #3805
ok .. when the memory runs out the device crashes.  .  It's definitely a blocker for us because the device keeps crashing because edeHub uses all the memory.  I'm still trying to find the time to upgrade.  Is there an option or an environment variable to set that will force edgeHub to clear messages faster ... as in edgeHub is accumulating messages faster then it can clear?

[2020-10-27 22:22] Gimly commented on #3818
@veyalla No, sorry, I wasn't very clear, I have read that the  `config.yaml has correct URIs for daemon mgmt endpoint - Error` seems to be linked to the Moby engine, but I can't find the source on this right now, I'll write a comment on that tomorrow morning when I'm on my work computer.

As for the Access is denied I have fixed that in the meantime, it was an issue with the file access to that fo

[2020-10-27 22:31] and-rewsmith commented on #3805
Ok yes that is certainly a problem :)

I believe the configuration you are looking for is ttl (time to live) specified on the routes in the edgehub twin, but I really don't think this is the issue given a message rate of 2/sec.

I am thinking it is a more fundamental problem given that it doesn't happen on your other deployments. If you want to potentially avoid upgrading, you can send me the supp

[2020-10-27 22:33] veyalla commented on #3805
You can also put memory limits for edgeHub module:
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-use-create-options#restrict-module-memory-and-cpu-usage

[2020-10-27 23:03] jsucco-growlink commented on #3805
cool thanks for the tip .. so if i set a memory limit on edgeHub just edgeHub would stop working and no messages would be passed between modules??  Guess that's better then the device crashing.  Also I'll upgrade tommorow so I'll keep you posted.  Thanks for all the help on this! greatly appreciated.

[2020-10-28 06:43] Dolphinsimon opened #3829 "iotedge check error: config.yaml has correct URIs for daemon mgmt endpoint - Error"
## Expected Behavior
iotedge check should be passed

## Current Behavior
config.yaml has correct URIs for daemon mgmt endpoint - Error

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.updating iotedge daemon to 1.0.10
2.restart device
3.run iotedge check
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</deta

[2020-10-28 07:47] Sdelausnay commented on #3819
We selected to keep the config.yaml file, have check with the new version and doesn't seem to have changed. So just to be clear, we installed the device with the latest version of IoT Edge as we have always done and since 1.0.10 things don't start properly even if we deliver all the same settings as before (config, certificates, etc.). Without making any changes to settings and just downgrading to

[2020-10-28 10:57] Gimly commented on #3818
@vayalla About the error in the iotedge check, you have already two issues on that subject opened: #3730 and a fresh #3829.

[2020-10-28 14:06] veyalla commented on #3818
Yes, I’m aware of those and a fix is in the works. However, they seem unrelated to the 30 min restart you’re reporting here which I haven’t been able to repro.

One edgeAgent change we made in 1.0.10 is running it as non-root user. Can you try running it as root user by adding the following JSON in its **createOptions** and see if it makes a difference:

[code]

[2020-10-28 14:36] karok2m commented on #3793
Thanks @dylanbronson, I will use `edgehub_messages_dropped_total`  with `1.0.10` version of `edgeHub` then.

[2020-10-28 15:39] veyalla commented on #3829
Thanks for the report, this is a known issue. A fix will be available in the coming week in a 1.0.10 patch.

[2020-10-28 15:55] veyalla commented on #3602
Please re-open if still an issue with 1.0.10

[2020-10-28 15:55] #3602 closed

[2020-10-28 15:56] #3734 closed

[2020-10-28 15:57] #3793 closed

[2020-10-28 16:18] and-rewsmith commented on #3805
If there is a real memory issue (which it looks like there is), then EdgeHub will probably crash. But this will at least allow you to keep accessing the device and hopefully speed up the debugging process.

I notice you have a lot of other modules running. I know it is the EdgeHub container with the high memory usage, but does this problem reproduce with just EdgeHub running (and no external clien

[2020-10-28 17:27] and-rewsmith commented on #3819
You said you tried test certificates on 1.0.10, right? Just want to double check you tried it.

I am not sure what is going on here yet, but I was questioning the four dot syntax in your paths. I was going to suggest changing to absolute paths to eliminate noise, but I am guessing that since dps works with these same paths they aren't the issue.

I''ll check with others on the team for more insigh

[2020-10-28 17:31] Sdelausnay commented on #3819
Yes we first tried it on 1.0.10 and then we had the issue with EdgeAgent throwing the error. Moving back to 1.0.9.5 solved it.

Well the dots in the paths are just hiding where the certificate is for the post here. Normally the absolute path is in the file for every certificate.

[2020-10-28 18:13] jsucco-growlink commented on #3805
Yeah it will definitely be a big help being able to still access the device after edgeHub goes down.  We have deployed just edgeHub and edge agent on those devices after device assembly and iotedge install but before the production deployment is set and we haven't had issues.  We haven't had issues witht he same deployment on the device with no activity.

[2020-10-28 18:17] and-rewsmith commented on #3805
Interesting. Maybe we can try reintroducing these components piece by piece to narrow down where the issue starts?

[2020-10-28 22:36] and-rewsmith commented on #3819
So we did make a change in 1.0.10 to some cert logic:
https://github.com/Azure/iotedge/commit/f0ff86565e81525d936582d773a83098100b3a34

This is related to what the screenshot of errors is showing. The function this change added is used for all certs, so presumably the problematic cert is in your trust bundle. Can you send your trust bundle file here? It is public information so it should be fine,

[2020-10-29 08:21] FabGre commented on #3702
Hello Venkat, for now we are testing values for parameters found by @pcurt with the 1.0.10 version which is now available for our Yocto Thud (_Thx Azure team for that !_). Seems it works as expected.

[2020-10-29 12:23] Gimly commented on #3818
@veyella We've tried to put set this in the createOptions for the edge agent:

[code]

But it gave us the following error when doing the `iotedge check --verbose`:

[code]

[2020-10-29 16:11] and-rewsmith commented on #3818
@Gimly did you resolve this new iotedge check error?

[2020-10-29 16:17] Gimly commented on #3818
@and-rewsmith by removing  the parameter and running the provisioning on the server, it removed the error yes.

But the 30 minutes restart is still here.

[2020-10-29 16:23] and-rewsmith commented on #3818
What do you mean by "running the provisioning on the server"? We have a bug open right now and are working on an RCA/fix. Unfortunately, I don't think there is an easy workaround here. As a mitigation you can downgrade to edge agent 1.0.9 which should be compatible with the 1.0.10 iotedged service.

[2020-10-29 16:28] and-rewsmith commented on #3818
Actually this issue appears to also affect 1.0.9, so this mitigation won't work.

[2020-10-29 16:28] veyalla commented on #3818
@Gimly can you also share the output of

[code]

[2020-10-29 17:05] fgheysels commented on #3283
When a device reboots, isn't it normal that the containers are recreated ? Or do you mean : repulled from the remote container registry ?
What I face, is the fact that on reboot, the 'deployment' manifest is retrieved again from IoT Hub, and if IoT Hub is at that moment not reachable, my containers are not being started.
I think it would make more sense if, on reboot of iotedge, the last known dep

[2020-10-29 20:28] jsucco-growlink commented on #3805
yeah definitly something to try in our office.  This device is in production.  We just updated it.  Just the nature of the issue its going to take a couple of days to see if the upgrade to 1.0.10 worked or not.  I'll post the results if this issue isn't closed.  If you think the exception I reference in this issue isn't related to the edgeHub memory I am thinking this device is just experiencing a

[2020-10-30 00:39] dvescovi1 opened #3845 "module start up issue with NXP yocto port of iotedge"
#2926  Expected Behavior
NoderedModule should start

## Current Behavior
NoderedModule does not start with some kind of authentication issue on iMX8Mmini evk board.
See documented issue [here](https://github.com/iotblackbelt/noderededgemodule/issues/9)

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. see NXP iotedge port [here](https://source.codeaurora.org/external/

[2020-10-30 14:04] jsucco-growlink commented on #3805
so after upgrade the edgeHub memory usage stabilized.  Thanks alot.. didn't expect the upgrade to help honestly.

[2020-10-30 15:51] and-rewsmith commented on #3805
Awesome!

[2020-10-30 15:51] #3805 closed

[2020-10-31 03:46] dvescovi1 commented on #3845
I suspect some of this has to do with differences in users and permissions.
While the raspberry pi is a true Debian system yocto usually does not normally have "users" per se.
Could this be the issue?

[2020-11-01 17:16] Ilheu opened #3864 "Production Certificates"
Hello, I want to use production certificates instead of dev or test ones. I can't find information about how to get a production root CA and two x.509 certificates for each device I create. I've read all documentation and information inside documents provided by azure.

Does anyone has documentation or any tutorial to add a production certificate? What should I do after picking a certificate autho

[2020-11-02 04:25] newmys opened #3866 "custom modules start failed with error：Operation timed out"
## Expected Behavior
The custom modules should start successfully

## Current Behavior
Custom modules start failed with error：Operation timed out

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.Install IoT edge runtime on CentOs
2.Edit config.yaml to connect Azure IoT Central
3.Restart iotedge

## Context (Environment)

### Output of `iotedge check`

<details>
<summa

[2020-11-02 09:02] archanabwk opened #3867 "Environment IOTEDGE_AUTHSCHEME not set on Ubuntu"
**IoTEdge version:** 1.0.10
**OS:** Ubuntu 18.04
I am facing IOTEDGE_AUTHSCHEME related issue on my Ubuntu system. I have added the proper device connection string in /etc/iotegde/config.yaml file. I reinstalled IoTEdge last week, so looks like it has upgraded to 1.0.10. This error was not there with earlier version.

[code]
Please help.

[2020-11-02 21:57] and-rewsmith commented on #3864
Here is the documentation I am familiar with about production certs:
https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-certs#root-ca-certificate

I'm not aware of a tutorial which we endorse. I would recommend reaching out to Baltimore, Verisign, or DigiCert to discuss how to obtain these.

[2020-11-03 07:21] Gimly commented on #3818
@veyalla Here's the output of the inspect edgeAgent.

<details>
<summary>inspect edgeAgent output</summary>

[code]

</details>

@and-rewsmith I meant that I had called "Remove-IotEdge" and then "Deploy-IotEdge" again and "Initialize-IotEdge".

[2020-11-03 22:49] keeper-117 commented on #24
Hi, I had the same issue, I wrote a post:
[https://wordpress.com/post/jkeeper.wordpress.com/302](https://wordpress.com/post/jkeeper.wordpress.com/302)
The problem was Raspberry Time @scottjreece .

[2020-11-04 06:30] archanabwk commented on #3867
Any reply to this issue?

[2020-11-04 13:06] Arnab6 opened #3900 "Unable to fetch built-in metrics from Edge Agent and hub"
## Expected Behavior
To provide insights on built-in metrics from edgeAgent and EdgeHub.

## Current Behavior
unable to access the built-in metrics.

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. deploy the latest version of edgeAgent and Edgehub
2. Try to access the built-in metrics like [this](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-access-built-in

[2020-11-04 19:04] arsing commented on #3845
So if the issue is with that module and you've already opened a bug there, do you need us to do anything?

[2020-11-04 19:05] arsing commented on #3900
"unable to access the built-in metrics" doesn't tell us anything. What did you do? How did it fail?

[2020-11-04 19:08] arsing commented on #3866
You've given Edge Agent logs in the section for iotedged logs. Also the template asks for logs from all three. Furthermore "Custom modules start failed with error：Operation timed out" doesn't give us any information that we can help you with.

[2020-11-04 19:11] Arnab6 commented on #3900
Hi, thanks for responding, I tried to access the CPU, RAM and storage usage of the gateway using the built-it metrics that is offered by edgeAgent and hub 1.0.10 version. In steps to reproduce i have mentioned the URL for the same.  I tried to get data from the specified server and port as in the document and checked in iothub metrics as well, but unable to get those information.

[2020-11-04 19:13] arsing commented on #3867
You need to fill in the issue template. That's why we have one.

[2020-11-04 19:17] arsing commented on #3900
is just repeating what you wrote in the OP. It doesn't tell us anything.

What did you do?

How did it fail?

[2020-11-04 20:09] veyalla commented on #3818
@Gimly ....Thanks for the 'docker inspect' output. I see that "storageFolder=C:\\Windows\\Temp" but

[code]

Can you try making these consistent? bind destination should be same as value of `storageFolder`

[2020-11-04 21:24] nainesh72 commented on #3829
Hi
I have same issu on my win10 vm chen i go for iotedge-check it show me
√ Windows host version is supported - OK
√ config.yaml has correct hostname - OK
× config.yaml has correct URIs for daemon mgmt endpoint - Error
    One or more errors occurred. (Only 'http' and 'https' schemes are allowed. (Parameter 'requestUri'))
√ latest security daemon - OK
√ host time is close to real time - OK
√ conta

[2020-11-04 21:50] nainesh72 commented on #3829
Hi
i use 1.0.10 version but same issue

C:\WINDOWS\system32>iotedge version
iotedge 1.0.10 (c6350db898b2bd7abe1d50a340a1b1a91e72127d)

C:\WINDOWS\system32>iotedge check
Configuration checks
--------------------
√ config.yaml is well-formed - OK
√ config.yaml has well-formed connection string - OK
√ container engine is installed and functional - OK
√ Windows host version is supported - OK
√ config.

[2020-11-05 01:51] arsing commented on #3864
@eustacea Do you have any links?

[2020-11-05 07:51] luiscantero commented on #1105
See [StartupOrder](https://docs.microsoft.com/en-us/azure/iot-edge/module-composition#module-configuration-and-management).

[2020-11-05 08:41] Gimly commented on #3818
@veyalla I made both consistent, here's the output of command again:

<details>
<summary>docker inspect edgeAgent</summary>

[code]

</details>

As you can see, the `storageFolder` and `Destination` are now consistent.

Unfortunately, it doesn't fix the issue of the 30 minutes reboot and it doesn't also remove the warning about the Edge Agent's storage directory persistence.

<details>
<summary>io

[2020-11-05 15:11] davidguidali opened #3907 "How to downgrade iotedge runtime?"
Whats the proposed way to downgrade the installed iotedge runtime version w/o losing any caches (e.g. edge hub offline storage)?
I want to downgrade from 1.0.10 to 1.0.8. I tried with _Install-IoTEdge_ as well as _Update-IoTEdge_ and provided the 1.0.8 .cab file as parameter (offline installation). Both commands worked, but both did not really install the older version of the runtime.

Do I need t

[2020-11-05 18:08] eustacea commented on #3864
Here is documentation on installing the certificates:
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-manage-device-certificates

Global Sign is one recommendation for commercial PKI service provider and already understands IoT Edge certificates needs including DeviceCA which appears to be what you need.
https://www.globalsign.com/en/iot-edge-enroll

Hope this helps.

[2020-11-05 18:21] #3864 closed

[2020-11-05 18:24] and-rewsmith commented on #3819
@Sdelausnay Any update?

[2020-11-05 21:32] arsing commented on #3907
The parameter takes the directory containing the .cab file, not the .cab file itself. In older versions of the script it silently ignored this situation and went ahead and downloaded the latest CAB anyway. It was fixed later.

Note that you must use the version of the script that matches the package you're trying to install. ie you can't use a 1.0.x script to install a 1.0.y package. It may or may

[2020-11-06 15:13] Arnab6 commented on #3900
I tried to get the metrics as per documentation from  http://edgeHub:9600/metrics and http://edgeAgent:9600/metrics
 also in IoT hub, I tried to check using the Diagonaicts settings and metics graphs but **unable to get the CPU**, RAM and storage information of the gateway.

![Screenshot 2020-11-06 at 8 29 51 PM](https://user-images.githubusercontent.com/47913360/98380776-00b12480-206f-11eb-8bbc-1

[2020-11-06 17:49] and-rewsmith commented on #3819
@Sdelausnay Also If there is a tool or script you are using to generate your production certs, that context could be helpful.

[2020-11-06 18:10] Lexmark-chad opened #3921 "'iotedge check' can not detect moby-engine in Yocto build"
## Expected Behavior
Check for moby-engine should have passed.

## Current Behavior
`iotedge check` warned that the device was not using a production-supported container engine.

## Steps to Reproduce

We are using the Zeus version of Yocto / Poky.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS

[2020-11-06 19:47] chuckb1300 opened #3923 "Cant install Moby on Raspberry Pi 3 with Stretch based on docs.microsoft.com"
## Expected Behavior
Should be able to follow instructions at https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?tabs=linux to install IoT Edge on Raspberry Pi

## Current Behavior
Installation fails when trying to install Moby

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. Install Raspian Stretch from https://downloads.raspberrypi.org/raspbian

[2020-11-07 11:48] sutthisart opened #3932 "Error code 401002 Unauthorized iot edge"
Excuse ,me. Do you have solutions for this error code?
I don't know what should I do.

Win10
https://imgur.com/a/4eBUXmn.jpg

Ubuntu18.04
https://imgur.com/a/oTgEOhS.jpg

Thank you for advance

[2020-11-09 01:31] #3866 closed

[2020-11-09 01:40] newmys commented on #3866
Maybe it was my mistake，closed

[2020-11-09 12:22] Sdelausnay commented on #3819
The certificates are acquired through a Windows Server CA which was setup specially for the IoT solution. This was done by an other party, where I only provided them the requirements for the certificates meaning Key length, CA requirements, etc. , and they build a template where we could request a certificate through NDES.

We have had the issue that our Root certificate was set to 2050 and this d

[2020-11-09 14:52] Hariharnath-Paduchuru opened #3933 "Azure IoT Edge Module Identity Translation for Downstream Devices in IoT Central and IoT Hub"
**Problem Statement :**
Need to provision Leaf devices via Azure Edge Runtime on IoT central and IoT hub
We are trying to implement the Identity translation pattern as mentioned in below link.
https://docs.microsoft.com/en-us/azure/iot-central/core/concepts-architecture#iot-edge-gateway-device-connected-to-downstream-devices-with-identity-provided-by-the-iot-edge-gateway
But found that "Runtime su

[2020-11-09 19:44] ebertrams commented on #3933
As you found out @Hariharnath-Paduchuru, it is not officially supported today.

However we will be releasing a new MQTT broker with a new authorization model this week in public preview that will significantly simplify how to send/receive data on behalf of other devices. It will only work with IoT Hub during the public preview though and does not solve the provisioning problem that needs to be add

[2020-11-09 20:03] ancaantochi commented on #3932
Hi @sutthisart,

Can you please follow the github issue template to provide more information and also paste the logs from iotedged?

How are the devices provisioned? Is it with manual provisioning and you set up the connection string of the device in the config.yaml?

Thanks!

[2020-11-09 21:33] spranav72 commented on #3829
It seems I have the same issue in Version # 1.0.10

× config.yaml has correct URIs for daemon mgmt endpoint - Error
    One or more errors occurred. (Connection refused /var/run/iotedge/mgmt.sock)
        caused by: docker returned exit code: 1, stderr = One or more errors occurred. (Connection refused /var/run/iotedge/mgmt.sock)

Is there a fix or any  workaround?

[2020-11-10 00:03] ancaantochi commented on #3923
Hi @chuckb1300
Please provide the error you get when trying to install it.

Thanks!

[2020-11-10 05:21] Hariharnath-Paduchuru commented on #3933
Thanks @ebertrams for your prompt response

1. As of now we have a custom module which uses IoT central group-level symmetric key and derives device-level symmetric keys to provision the leaf devices but it doesn't use ModuleClient class and it bypasses Edge runtime(edgeHub). Our goal is to use the Edge runtime and do the same approach that we mentioned.

2. Is there anyway right now for us to mod

[2020-11-10 15:54] Mimmi511 commented on #3363
@gerhard67 Were you able to solve this?

[2020-11-10 15:54] veyalla commented on #3900
@Arnab6 An end-to-end path for monitoring metrics is in the works but not available yet. Release 1.0.10 adds support for the first step - emitting metrics *available* for collection. In the future, we'll build on this for a complete monitoring solution. For now, you can use OSS tools like telegraf and grafana to locally process the metrics.

You can see the raw metrics by executing the following c

[2020-11-10 17:08] ebertrams commented on #3933
2. Not that I am aware of. Note that the azure-iot-edge-identity-translation-lite code is a sample provided by Azure Technical Sales team, it is not officially supported by the IoT Edge Product Team or the IoT Central Product Team. The official solution that we re working on is still work in progress and will leverage the new MQTT broker of version 1.2-rc1 or higher.
3. The IoT Edge runtime curren

[2020-11-10 17:22] veyalla commented on #3921
This is expected as the source for moby-engine supplied by Microsoft is not available publicly. We will provide official guidance on this topic if and when Yocto is supported as a [Tier 1 OS](https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-1) for IoT Edge.

[2020-11-10 18:34] ebertrams commented on #3829
HI @spranav72, Could you please try out the latest 1.0.10.1 release? Here it is: https://github.com/Azure/azure-iotedge/releases/tag/1.0.10.1
It should fix this issue. Please confirm. Thanks.

[2020-11-10 18:46] spranav72 commented on #3829
I uninstalled iotedge and then reinstalled latest 1.0.10.1 by specifying version number. It seems to work 👍

[2020-11-10 19:12] ebertrams commented on #3829
Great, thanks for the confirmation!

[2020-11-10 19:35] nainesh72 commented on #3829
Thanks it work

Thanks
Nainesh
346-901-0770

________________________________
From: Emmanuel Bertrand <notifications@github.com>
Sent: Tuesday, November 10, 2020 12:35:07 PM
To: Azure/iotedge <iotedge@noreply.github.com>
Cc: nainesh72 <nsap72@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [Azure/iotedge] iotedge check error: config.yaml has correct URIs for daemon mgmt endpoint -

[2020-11-10 19:39] nainesh72 commented on #3829
Thanks Now it Work

[2020-11-10 20:23] osmodies opened #3942 "Error to execute certGen.sh from task ssh in azure pipelines"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. Create pipeline in yaml  for execute with agent ubuntu-latets
Example:
 - task: SSH@0
            displayName: 'Donwloads file for Generate Certificates'
            inputs:
              sshEndpoi

[2020-11-11 01:10] ancaantochi commented on #3942
This doesn't look like an edge issue. It might be that some prerequisites are missing from the pipeline, the script requires the cnf file and openssl.

[2020-11-11 01:10] #3942 closed

[2020-11-11 01:12] and-rewsmith commented on #3819
I tried this trusted cert on 1.0.10 and 1.0.9 and it didn't cause any issues. The expiration for this cert is 2049, but you mention you set it back to 2035.  Are you sure this is the correct certificate? Based on the errors you are seeing in 1.0.10 I am not sure why this also does not complain for me.

[2020-11-11 01:34] osmodies commented on #3942
Hi thanks, but the prerequisites ara fine, the task ssh inline  faile when sh generated "......++" in the section script line  102 to 109.

 echo "Creating the root CA private key"
    openssl ${ALGORITHM} \
            ${password_cmd} \
            -out ${key_file} \
            ${RSA_CA_KEY_BITS_LENGTH}
    [ $? -eq 0 ] || exit $?
    chmod 400 ${key_file}
    [ $? -eq 0 ] || exit $?

[2020-11-11 05:00] Hariharnath-Paduchuru commented on #3933
I want to clarify one thing in **azure-iot-edge-identity-translation-lite**.
In the following sample flow **image, at step 9**, Identity translation module creates a device client to connect new leaf device to IoT hub.
**By using the device client, does this mean that it is bypassing edgehub(Edgeruntime) to connect leaf devices to IoT Hub**

[azure-iot-edge-identity-translation-lite Image](https:/

[2020-11-11 05:23] ebertrams commented on #3933
No the device client created in a module still connects to the edgeHub as a leaf device.

Our 1.2-RC1 release is now out and you can check out our MQTT broker and its authorization policy article here: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-publish-subscribe?view=iotedge-2020-11

This bullet point is particularly interesting for the identity translation use case "Azure IoT devices

[2020-11-11 11:28] gerhard67 commented on #3363
Version 1.0.10 fix the problem

[2020-11-11 15:55] Chad-McQuillen opened #3948 "'iotedge check' fails on Nvidia Jetson NX when checking daemon management endpoint"
## Expected Behavior
'iotedge check' should not fail when checking for the daemon management endpoint.

## Current Behavior
[code]

## Steps to Reproduce
Run `iotedge check` on an Nvidia Jetson NX Devkit.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Windows Io

[2020-11-12 00:32] sutthisart commented on #3932
Sorry, Dev.
I forgot to text to you.
I've solved this issue.
I deleted issue iothub  then I re-created new iothub and followed this repo.
Thank you so much.

ในวันที่ อ. 10 พ.ย. 2020 เวลา 03:04 Anca Antochi <notifications@github.com>
เขียนว่า:

[2020-11-12 00:54] and-rewsmith commented on #3818
@Gimly Are you running WSL by chance? If so, relevant issue:
https://github.com/docker/for-win/issues/5770

[2020-11-12 03:22] #3932 closed

[2020-11-12 07:48] Sdelausnay commented on #3819
This is the root certificate which was set to 2049. It was the intermediate certificate and device CA certificate which where set back below 2035. So yes this is the correct Root certificate.

So this maybe means something is wrong with the full chain device CA certificate?

[2020-11-12 09:30] weijie-neo commented on #3829
Hi, i am experiencing the issue even though I have updated to 1.0.10.1

× config.yaml has correct URIs for daemon mgmt endpoint - Error
    One or more errors occurred. (Address not available var/run/iotedge/mgmt.sock)
        caused by: docker returned exit code: 1, stderr = One or more errors occurred. (Address not available var/run/iotedge/mgmt.sock)

$ apt list -a iotedge
Listing... Done
ioted

[2020-11-12 16:25] initmahesh opened #3959 "Nvidia GPU fail to run with Docker and nvidia docker with host config runtime =nvidia"
with upgrade to latest edgeagent the container those were working with docker+nvidia docker and hostconfig as runtime=nvidia does not work any more,
## Expected Behavior
Gpu is accessible in contianer

## Current Behavior
Tell us what happens instead of the expected behavior
GPU fails to mount to container
## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.use the attach

[2020-11-12 18:23] varunpuranik commented on #3702
Cool, thanks for the update @FabGre. Glad to hear that it is working fine for you now. I will close this issue. Feel free to open a new issue if needed.

[2020-11-12 18:23] #3702 closed

[2020-11-12 18:25] varunpuranik commented on #3710
Thanks for the update @rajaggrawal. As it does not appear to be an IoT Edge related issue, I will close this issue. If you run into any IoT Edge related issues, feel free to open a new one.

[2020-11-12 18:25] #3710 closed

[2020-11-12 18:29] ebertrams commented on #3845
HI @dvescovi1, i agree with @arsing  that it looks like an issue with the node red module. If you confirm this, could you please close this item and track the issue in the node red github site? Thanks!

[2020-11-12 18:31] ebertrams commented on #3867
Hi @archanabwk , we cannot repro. Can you please provide detailed repro steps and full logs for us to investigate? Thanks

[2020-11-12 18:33] ebertrams commented on #3900
Hi @Arnab6 , @veyalla seems to address your question. If yes could you please close this issue? Thanks

[2020-11-12 20:30] waitingkuo commented on #3959
Here's the steps for reproducing

1. download https://github.com/linkernetworks/azure-intelligent-edge-patterns/blob/develop-div/factory-ai-vision/debug/deployment.gpu.template.json
2. deploy it to a gpu vm
3. go to the vm, and type `sudo docker logs InferenceModule` , you should see the following

[code]

In this module, it uses onnxruntime-gpu to load a model and do predicting

[2020-11-12 23:17] ancaantochi commented on #3948
this bug will be fixed with the next 1.0.10 patch.

[2020-11-12 23:45] ebertrams commented on #3959
On iot edge version 1.0 (e.g. 1.0.10.1) and linux x64 architectures, you should use these create options to mount NVIDIA GPUs:
"createOptions": {​​​​"HostConfig": {​​​​"DeviceRequests": [{​​​​"Capabilities": ["gpu"], "Count": -1}​​​​]}​​​

[2020-11-13 03:32] veyalla commented on #3948
1.0.10.2 has been released with the fix!

[2020-11-13 03:32] #3948 closed

[2020-11-13 16:15] russell-cooks opened #3965 "iotedge check error: Address not available var/run/iotedge/mgmt.soc"
When running an iotedge check on an Azure VM via the Live Video Analytics set-up script, I received the following error:
× config.yaml has correct URIs for daemon mgmt endpoint - Error
    One or more errors occurred. (Address not available var/run/iotedge/mgmt.sock)
        caused by: docker returned exit code: 1, stderr = One or more errors occurred. (Address not available var/run/iotedge/mgmt.s

[2020-11-13 17:43] and-rewsmith commented on #3819
Given the log about "Could not get trust bundle" I wouldn't expect this to be the case but I suppose it is possible. I have tested both 1.0.10 and 1.0.9 with trusted cert expiring in 2049 and device ca expiring 2038, so don't think the issue is caused solely by a difference in expiration.

As a sanity check we could try your scenario where you use the test-generated certificates but also include t

[2020-11-13 18:40] ancaantochi commented on #3965
1.0.10.2 has been released with the fix

[2020-11-13 18:43] #3965 closed

[2020-11-14 01:26] dvescovi1 commented on #3845
unfortunately I have not been able to narrow it down any further.
Present thinking is it is showing some similar symptoms to the "stability on constrained devices" as expressed in several iotedge bug reports/Bug fixes I been reading about. Out of desperation I tried upgrading to azureiotedge-hub:1.2.0-rc1 and I noticed the hub module failing in a very similar manor (network disconnecting with Not

[2020-11-14 01:29] dvescovi1 commented on #3845
Is there anyone familiar with the NXP iMX IotEdge or similar device port I could converse with?

[2020-11-14 01:33] dvescovi1 commented on #3845
this info from the "iotedge logs NoderedModule" upon failure seems to provide the best clue:
[code]

[2020-11-14 04:13] dvescovi1 commented on #3845
this log file is from same device (imx8) with ONLY hub and agent modules trying to run (1.2.0-rc1).
There is no third party module at all.
,,,
<6> 2020-11-14 03:53:21.907 +00:00 [INF] - Installing certificates [CN=iotedged workload ca:02/12/2021 02:32:17],[CN=Test Edge Device CA:02/12/2021 02:32:17],[CN=Test Edge Owner CA:02/12/2021 02:32:17] to Root
<6> 2020-11-14 03:53:22.041 +00:00 [INF] - Inst

[2020-11-16 08:52] Sdelausnay commented on #3819
I will try to setup a test like this, to also include our production certificate when using the test-generated certificates and come back to you.

[2020-11-16 09:12] newmys opened #3973 "How to set 'Attachable=true' on the azure-iot-edge network."
## Expected Behavior
I want to set `Attachable=ture` on the azure-iot-edge network

## Current Behavior
`Attachable=false` allways

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. change the config file (`/etc/iotedge/config.yaml`) as below
[code]
2. restart iotedge service

## Context (Environment)

### Output of `docker network inspect azure-iot-edge`

<details>
<s

[2020-11-16 14:31] dvescovi1 opened #3974 "1.2.0-rc1 edgeHub failure on tier two ARM64 device"
## Expected Behavior
agent and hub should be stable with no other modules deployed

## Current Behavior
edgeHub module crashes and restarts, crashes etc.

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. deploy hub and agent to ARM64 device running run time 1.0.9.4
2. no routes defined
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>

[2020-11-16 14:48] Gimly commented on #3818
@and-rewsmith We are not using WSL, I think the container host is moby on the version of IoT Edge we are running ?

But the root of the issue was indeed the same, it was a compatibility issue between Docker and the VMWare tools version we were using. Updating the VMWare tools to a version higher than 11.0.6 (we had 11.0.5) fixed the 30 minutes reboot.

[2020-11-16 18:07] veyalla commented on #3829
@weijie-neo The issue you reported in fixed in 1.0.10.2 that was released a few days ago.

[2020-11-16 18:07] #3829 closed

[2020-11-16 18:07] #3818 closed

[2020-11-16 18:08] #3774 closed

[2020-11-16 18:14] lfitchett commented on #3730
This is fixed by #3950 and is in the current 1.0.10.2 release.

[2020-11-16 18:14] #3730 closed

[2020-11-16 18:34] damonbarry commented on #3829
Fixed by #3950

[2020-11-16 23:17] damonbarry commented on #3845
@dvescovi1 For Edge hub 1.2.0-rc1 on imx8, see #9. Edge hub runs as a non-privileged user, which would normally mean it can't bind to ports below 1024 (e.g., 443), except we build it with `CAP_NET_BIND_SERVICE`. So your operating system needs to support that capability.

[2020-11-16 23:28] damonbarry commented on #3973
Our config does not recognize the 'attachable' property, so the iotedge service will not enable manual container attachment when it creates the `azure-iot-edge` network. However, if you've already created a network named `azure-iot-edge`, then `iotedged` will use yours. So you might be able to get the behavior you need by creating the `azure-iot-edge` network yourself (e.g., with `docker network c

[2020-11-16 23:42] damonbarry commented on #3974
@dvescovi1 see #9. Edge hub runs as a non-privileged user, which would normally mean it can't bind to ports below 1024 (e.g., 443), except we build it with `CAP_NET_BIND_SERVICE`. So your operating system needs to support that capability.

Also, I wouldn't expect iotedged 1.0.9.x to work seamlessly with 1.2.0-rc1 modules. I understand the meta-iotedge repo hasn't been updated for 1.2.0-rc1 (becaus

[2020-11-16 23:45] damonbarry commented on #3845
Closing this issue since the 1st part is specific to a 3rd-party module, and the 2nd part was filed separately as #3974.

[2020-11-16 23:45] #3845 closed

[2020-11-17 01:46] newmys commented on #3973
I see, Thank you!  closed

[2020-11-17 01:46] #3973 closed

[2020-11-17 04:04] anhashia opened #3981 "IoT Edge device storage used for storing pending messages doesn't clear even if messages have already been sent by edgeHub module"
## Summary
IoT Edge device storage used for storing pending messages doesn't clear even if messages have already been sent by **edgeHub** module upstream to Azure IoT Hub. Files holding the storage messages should be **deleted** and storage needs to be constantly reclaimed as messages are sent to IoT Hub. This will also help user to track if there any pending messages still left to be sent.

## St

[2020-11-17 05:08] imZack commented on #3974
Will there be a heads up notice for upgrading from 1.0.9.x to 1.2.0? What's been changed and not backward compatible?

[2020-11-17 12:59] Sdelausnay commented on #839
Hi,

I have just expierenced the same issues in version 1.0.9.5.
I have updated the deployment with an additional route and released it with a pipeline. edgeHub didn't detect the changes and I had to restart edgeHub to make the route between two modules active.

Can this we rechecked?

[2020-11-17 16:45] FabGre opened #3982 "iotedged and edgeAgent fail to retreive provisionning status after "long" shutdown"
Hi there. We are working on an iotedge device which has a specific "low-power" behaviour : it has to be off most of the time and start-up only a few times per days and for a few minutes to collect all its sensors (with different custom edge modules), sent data to iotHub, then shutdown.

With the last 1.0.10 iotedge version, we have a strange behaviour seems to be relative to the "off" duration. Wh

[2020-11-17 17:59] sacvalleytech commented on #3730
@lfitchett /facepalm... seriously? not even close to fixed... I suggest you read the original bug report again.

[2020-11-17 19:45] damonbarry commented on #3974
@imZack In general, iotedged and modules should be on the same version; we don't support mixing and matching.

[2020-11-17 20:05] dvescovi1 commented on #3974
thank you for pointing me to [#9](https://github.com/Azure/iotedge/issues/9) that was exactly my issue.
I was using a slightly older kernel version which did not have the file system security features turned on.
After enabling
[code]
in the kernel and rebuilding everything is working fine now. ... what a two week journey!

[2020-11-17 20:05] #3974 closed

[2020-11-18 03:57] imZack opened #3986 "What's the proposed way to upgrade security daemon and rutime?"
In the issue https://github.com/Azure/iotedge/issues/3974#issuecomment-729160388, I've learned that mixing the version of security daemon (iotedged) and modules (edgeHub/edgeAgent) is not supported.

In the [Doc - Update the IoT Edge security daemon and runtime](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-update-iot-edge?view=iotedge-2018-06#update-the-security-daemon), it shows how to

[2020-11-18 19:16] #3795 closed

[2020-11-19 00:59] damonbarry commented on #3982
@FabGre In addition to the original 1.0.10 release, there have been two patch releases, 1.0.10.1 and 1.0.10.2. **Can you confirm exactly which version of iotedged you're running?** I ask because there were some updates to the provisioning code in these releases so it will help us figure out what's happening.

[2020-11-19 01:35] damonbarry commented on #3986
@imZack I asked around the team, and it sounds like I misspoke in that earlier comment.

We do try to maintain compatibility between non-matching versions of Edge agent, Edge hub, and iotedged. But there are some caveats:
- If a version is out of support and you run into an issue, it might be difficult to get help for it.
- If a version is prerelease (for example, 1.2 is currently prerelease), tha

[2020-11-19 01:42] damonbarry commented on #3982
Also, what happened when you tried to set `device_reprovisioning=false`? I would expect that setting to solve your problem.

[2020-11-19 02:59] imZack commented on #3986
Thank you @damonbarry for the clarification & suggestion on steps of upgrading atomically.

In terms of upgrading to the new version for different components, is there a matrix that can describe the dependeny?
E.g. nested edge requires the security daemon version greater than a specific version and perhaps also note what's the incompatible versions we should avoid or migrate carefully.

[2020-11-19 08:18] weijie-neo commented on #3829
@veyalla Unfortunately I am still experiencing the same issue even after downloading the update.

× config.yaml has correct URIs for daemon mgmt endpoint - Error
    One or more errors occurred. (Connection refused /var/run/iotedge/mgmt.sock)
    caused by: docker returned exit code: 1, stderr = One or more errors occurred. (Connection refused /var/run/iotedge/mgmt.sock)

[2020-11-19 17:07] pcurt commented on #3982
We are using the last released version for our Yocto Thud:
https://github.com/Azure/azure-iotedge/releases/download/1.0.10/iotedge-1.0.10.tar.gz
I don't know if it is a 1.0.10.1 or 1.0.10.2 from the sources

The setting `device_reprovisioning=false` doesn't solve: because edeAgent crashes after "POST /device/reprovision" command  (see the logs in the issue). So the boot sequence is longer and not

[2020-11-19 20:44] damonbarry commented on #3982
Sorry...to clarify, the setting in config.yaml is `dynamic_reprovisioning`, not `device_reprovisioning`.

In the "full syslog logs" you provided, Edge agent reports this:
[code]
The `"DynamicReprovisioning":true` part came from iotedged, so that shows that `dynamic_reprovisioning` is set to `true` in config.yaml. What do the logs show if you set it to false?

[2020-11-19 20:58] damonbarry commented on #3986
For the current release, you can look at https://aka.ms/latest-iotedge-stable to see the current version of iotedged, Edge agent, and Edge hub.

There isn't a matrix (that I'm aware of) for 1.2, as it's still in preview.

[2020-11-20 08:04] pcurt commented on #3982
Yes I have tested ` dynamic_reprovisioning` with both values.

In "Full syslog" this is the with` dynamic_reprovisioning:true`
In the issue description there is the log with ` dynamic_reprovisioning:false`
[code]

In both case we can see the log `[2020-11-17 14:49:51.881974065 UTC] "POST /device/reprovision?api-version=2020-07-07 HTTP/1.1" 200 OK - "-" "-" auth_id(-)` that is the problem source.

[2020-11-20 13:46] SimonSimCity opened #4000 "Include check-config.sh of moby in "iotedge check" or at least a notification"
After having used quite some time on it I finally came to the conclusion that my custom Linux kernel, built using Yocto, is not configured correctly to run container in general.

To avoid this stress on others, I want the the file to check an environment for docker compatibility, mentioned in the docs (https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06&tab

[2020-11-20 23:36] damonbarry commented on #3982
In the case where `dynamic_reprovisioning` is `false`, it would be great to have the full iotedged and Edge agent logs. You can drag & drop the files into the comment window instead of having to copy/paste the whole thing...

[2020-11-21 18:33] pcurt commented on #3982
Here is the full log with `dynamic_reprovisioning=false`
[syslog.txt](https://github.com/Azure/iotedge/files/5578161/syslog.txt)

[2020-11-23 05:13] damonbarry commented on #4000
@SimonSimCity I like this idea, but one problem I can see is that it would be difficult for `iotedge check` to interpret the results of `check-config.sh`. At best, it would have to interpret anything other than total success as a warning. Also, `check-config.sh` is in the contrib section of the moby repo, so there's no guarantee it will be up-to-date.

[2020-11-23 08:39] SimonSimCity commented on #671
We're facing the same issue - https://github.com/Azure/iotedge/issues/9#issuecomment-404805920 provided a possible fix and we'll continue by checking the kernel compatibility in general (https://blog.hypriot.com/post/verify-kernel-container-compatibility/).

[2020-11-23 08:41] SimonSimCity commented on #3974
For others ending up here, consider running the kernel compatibility check provided by the moby team to see what else is missing: https://blog.hypriot.com/post/verify-kernel-container-compatibility/

[2020-11-23 08:53] SimonSimCity commented on #4000
Since most of the tests you have there are specific to the module you built, I would see it as enough to refer to the other check. Neither is an ideal case, I think, but the tests might also be specific to the moby version, which you don't know or want to care about, right? On the other side, it's one of the non-official scripts and might be added as cases get known.

[2020-11-23 10:13] sachidanand opened #4005 "Will edgeAgent send reported property with custom module status to IoT Hub when edgeAgent is in unhealthy status"
HI Team,

Will edgeAgent send reported property with custom module status to IoT Hub when edgeAgent is in unhealthy status... The usecase is that we want to capture the custom module and edgeHub status from edgeAgent reported property for monitoring.. So will edgeAgent still send the status to IoT Hub when it is in unhealthy status ???

[2020-11-23 17:20] and-rewsmith commented on #3819
@Sdelausnay Any update?

[2020-11-23 18:22] ancaantochi commented on #3959
I got an environment where it reproduced, to fix it you have to use Runtime (uppercase) instead of runtime. This only reproduces when iotedged in version 1.0.9 and edgeAgent is 1.0.10.

iotedged 1.0.9 with edgeAgent 1.0.10 fails because runtime is not set
iotedged 1.0.9 with edgeAgent 1.0.9 runtime is set correctly
iotedged 1.0.10 with edgeAgent 1.0.10 runtime is set correctly

[2020-11-23 18:23] ancaantochi commented on #3923
closing because no response, please reopen if you still have the issue.

[2020-11-23 18:23] #3923 closed

[2020-11-23 19:48] darobs commented on #4005
Hello @sachidanand,

Usually not.  It depends a bit on why the EdgeAgent module is unhealthy, but if it is not running. the reported status will not get updated.

As of release 1.0.10, we do have [more metrics offerings](https://docs.microsoft.com/azure/iot-edge/how-to-access-built-in-metrics?view=iotedge-2018-06), which may provide additional insight into the status of the Edge device.

[2020-11-23 20:46] damonbarry commented on #3982
@pcurt The syslog output you provided seems to truncate lines. For example, these lines are truncated, and missing text is replaced with ')':

[code]

Can I get non-truncated logs for iotedged and Edge agent?

[2020-11-23 21:29] damonbarry commented on #4000
When I install a generic Ubuntu VM in Azure and install moby-engine there, I get a few warnings in the script, and it returns exit code==1. Looking inside the script, it sets the exit code to 1 for pretty much any problem it finds, regardless of whether it classifies the recommendation as necessary or optional.

I think it's a really useful script, but probably not something we can automate in `io

[2020-11-24 07:06] imZack commented on #3986
Is the endpoint https://aka.ms/latest-iotedge-stable a permanent link? Can I find the definition of the JSON payload? Seems like the current stable version is mixed with `1.0.10.2` and `1.0.10.3`.

[2020-11-24 08:21] levalencia opened #4011 "One or more errors occurred. (Permission denied /var/run/iotedge/mgmt.sock) caused by: docker returned exit code: 1, stderr = One or more errors occurred. (Permission denied"
Hello

I just installed IoTEdge on Raspberry strech following this:
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06&tabs=linux

However I get these errors below.

3 weeks I installed another one and it worked perfectly with the same instructions.

[code]

[2020-11-24 09:01] pcurt commented on #3982
Sorry for the truncated lines,
Here is the full file not truncated.
[last_syslog_17-11-2020_21-24-24.log](https://github.com/Azure/iotedge/files/5588573/last_syslog_17-11-2020_21-24-24.log)

[2020-11-24 12:12] asergaz opened #4012 "Not all SDK Languages (leaf devices) need to include `x509=true` on it's connection string"
This issue originates from here: https://github.com/MicrosoftDocs/azure-docs/issues/64993

I noticed that IoT Edge Repo provides a sample to connect a downstream device using DotNet Core SDK using X509 Authentication: https://github.com/Azure/iotedge/tree/master/samples/dotnet/EdgeX509AuthDownstreamDevice

In that sample we do not need to set the connection string with the flag `x509=true` .We wou

[2020-11-24 12:13] asergaz commented on #4012
fyi @kgremban @eustacea

[2020-11-24 12:40] levalencia commented on #4011
maybe more info:
[code]

[2020-11-24 12:43] levalencia commented on #4011
Docker daemon seems to be up:
[code]

[2020-11-24 18:31] damonbarry commented on #3986
Yes it's a permanent link that points to https://github.com/Azure/azure-iotedge/blob/master/latest-versions.json. In the latest release, [1.0.10.3](https://github.com/Azure/azure-iotedge/releases/tag/1.0.10.3), there were only changes to the Edge agent and Edge hub modules, not to iotedged. So iotedged remained at version 1.0.10.2.

[2020-11-24 20:16] darobs commented on #4011
Hello @levalencia

 I have a couple of follow up questions:

1. Around 3 weeks ago would be 1.0.10 or 1.0.10.1, can you confirm?

2. It's been a while since I installed this on stretch, but the installation should create a socket unit file for systemd.  Would you please check for the existence of the `iotedge.mgmt.socket` unit file and the actual socket file?
[code]

3. iotedged seems to be crashi

[2020-11-24 20:48] eustacea commented on #4012
FYI @PProvost on need for uniform experience across SDK languages

[2020-11-25 01:42] darobs commented on #4012
Hello @asergaz,

I am working with the above people to assure this request is assigned to the correct team and person.

[2020-11-25 09:14] levalencia commented on #4011
Hello

Answer 1:
My other edge device which works is on version: 1.0.10
the non working one on: 1.0.10.2

Answer 2: Output
[code]

Answer 3:

[code]

Aswwer 4:
[code]

Last but not least, the 2 edge devices are In the same network and have the same hostname in the yaml file(raspberrypi)

it might be related?

[2020-11-25 09:34] lucarv opened #4016 "Modules fail to connect to edgeHub on 1.2.0 armhf"
I have upgraded iotedge to RC2. Modules on the edge can't connect to edgeHub. See below:

-->
## Expected Behavior
Modules should start

## Current Behavior
pi@blackpi:~/iiotedge $ iotedge list
NAME             STATUS           DESCRIPTION                 CONFIG
edgeAgent        running          Up 10 minutes               mcr.microsoft.com/azureiotedge-agent:1.2.0-rc1
edgeHub          running

[2020-11-25 15:23] imZack commented on #3986
Thanks for the explanation. It's clear to me now.

[2020-11-25 15:23] #3986 closed

[2020-11-25 19:55] kpm-at-hfi commented on #3819
I'm seeing this failure immediately upon having upgraded from `iotedge 1.0.9.4` to `iotedge 1.0.10.2`.

[code]

Running with `--verbose` provides no more or different information.

Also, running under 1.0.9.4 the system was dealing with storage properly (no warnings or errors).

[2020-11-25 20:30] kpm-at-hfi commented on #3819
If there's something I can provide to help debug this, lemme know fast. I'll have to revert on this device quite soon.

[2020-11-25 20:58] kpm-at-hfi commented on #3819
In case it helps, I did see this when running `sudo apt upgrade -y` on the system to get `1.0.10.2`:

[code]

[2020-11-25 22:35] damonbarry commented on #3982
I've spent quite a bit of time pouring over this log. Mostly, I'm trying to figure out the circumstances under which Edge agent would attempt to connect to the cloud with an expired SAS token (from the logs: `Put token failed. status-code: 401, status-description: The specified SAS token is expired`). If Edge agent is trying to connect for an hour or more and the token expires during that attempt,

[2020-11-26 00:27] darobs commented on #4011
It looks like from that  "Could not load settings", there is a problem in the config.yaml.  The file ownership should look like:
[code]

Otherwise, it may be related to this error in `iotedge check`:
[code]
Is it possible to share your config.yaml with any identifying information removed?

[2020-11-26 08:06] pcurt commented on #3982
I think your hypothesis is the explanation. Indeeded when our board is powered Off, the actual clock is backuped. We dont't have a RTC so when the board is powered On, two hours later, the clock is still set a date - 2 hours. When iotedge is started, when network is available, time is updated so there is a two hours gap between start time and current time.

Is there a way to modify or disable the

[2020-11-26 09:10] chr22 opened #4024 "unauthorized: Application not registered with AAD"
My module was removed from an active deployment and EdgeAgent throws an unauthorized exception.

`docker login` works fine from the device with the same credenatial that I have typed in Azure IoTHub, but I still can't get edgeAgent it to get the module from the container registry.

## Expected Behavior

Module shouldn't be removed from an active deployment.

## Current Behavior

My module dissapea

[2020-11-26 10:44] chr22 commented on #4024
I got it to work again by creating a new release of the module.

I think the problem came from moving the Azure ressources to a new Directory and Subscription on Azure.

[2020-11-26 10:44] #4024 closed

[2020-11-26 10:58] Exxou opened #4025 "Connection refused /var/run/iotedge/mgmt.sock"
Hello,

I want to run IotEdge on an Ubuntu 18.04 Server.

After installing everything like described here https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06&tabs=linux. I get an error when trying to start the IotEdge Service.

`iotedge check --verbose`

Shows me following:

Already tried changing the path from mgmt.sock like described in #256 but didn't he

[2020-11-26 12:54] FabGre commented on #3982
Hi @damonbarry We continue to make tests and think with @pcurt and it seems that the problem could be more tricky. Could you (or somebody on iot edge team) provide a sequence diagram to describ us the edgeAgent/iotedged DPS workflow and especially trigger-events involved ? Could you also share links to spot the relative source code on both edgeAgent and iotedged to help us understand ? (we tried t

[2020-11-26 18:07] levalencia commented on #4011
The ownership is correct:

the yaml file (its a copy of config.yaml.template,  I just added the device connection string

[code]

[2020-11-26 22:37] sharbt opened #4026 "Add non-build files to Azure IoT Edge modules"
## Expected Behavior
Edge modules can add non-build files like script/images/artifacts

## Current Behavior
There is no defined way visible in VS Code.

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
NA

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.0

[2020-11-27 11:25] mschwan-phytec opened #4027 "edgeAgent module fails with: "Error calling SignAsync: Module not found, StatusCode: 404""
## Expected Behavior
The edgeAgent module should run without error and an edgeHub module should be created. The IoT Edge modules should report their status successfully.

## Current Behavior
The edgeAgent module runs (does not exit with an error) but fails with `Error creating a device-to-cloud connection` and `Error calling SignAsync: Module not found, StatusCode: 404`, as well as `Empty edge age

[2020-11-30 10:52] NiklasEderoth commented on #4011
I stumbled across this exact problem when I was setting up persisted storage on the edgeAgent from the portal as instructed in the docs. When I rebooted the system this error occurred.
Docker rm -f edgeAgent solved it until I rebooted the device, then the error appeared again.

This was done on a RPI4 with Raspbian Buster and IotEdge 1.0.10.2

[2020-11-30 18:36] and-rewsmith commented on #3819
@kpm-at-hfi Are there any differences between your issue and the issue opened here? If not I would suggest the same debugging attempt above:

Now that we know this issue reproduces, I think going the support route will help us resolve the problem sooner. That way we will be able to see the support bundle containing sensitive information:
https://portal.azure.com/#create/Microsoft.Support

Also loo

[2020-11-30 22:16] darobs commented on #4025
Assigning this to myself because it's very similar to #4011

[2020-12-01 00:48] richma-ms commented on #4016
@lucarv are the publisher/tagger modules trying to connect over MQTT?  I noticed in that you have the new MQTT broker experimental feature enabled, but didn't specify policies to allow any operations.  This would cause all incoming CONNECTs to be denied.

If so, please reference the new MQTT broker documentation to allow the modules to connect/pub/sub as appropriate.
https://docs.microsoft.com/en-

[2020-12-01 01:13] dmolokanov commented on #4026
It looks pretty much like as a vscode extension question. Let's include into conversation @shizn

[2020-12-01 01:20] dmolokanov commented on #4027
hello @mschwan-phytec! could you please update iotedge package to the latest version 1.0.10.3 and send over updated logs?  This way we will have a consistent versions across all components.

[2020-12-01 01:25] dmolokanov commented on #4027
in order to make make a request to iothub edge agent will generate SAS token. this is where you see `Error calling SignAsync` exception. this exception caused by `404` response from `iotedged`.
[code]
it made me think that api-version is incorrect.

[2020-12-01 01:28] damonbarry commented on #3982
@pcurt I don't think there's a way to modify/disable SAS token management currently.

@massand Do you know if we have the documentation @FabGre is asking for above?

[2020-12-01 07:10] lucarv commented on #4016
yes i follow the tutorial that you refer to. I tried on a linux box running ubuntu 18.04 and it worked just fine. The exact same set up didn't work on the raspberry pi.

[2020-12-01 12:48] mschwan-phytec commented on #4027
Thanks for the suggestion, @dmolokanov. I created recipes for building iotedge 1.0.10.3 in our Yocto BSP. Unfortunately, this did not change anything. The issue still remains (logs are the same).

Any other ideas?

[2020-12-01 19:00] dmolokanov commented on #4027
Could you please share the new logs for iotedged?

[2020-12-01 19:00] richma-ms commented on #4016
The EdgeAgent logs provided indicates that there is no MQTT policy set on EdgeHub, the entire mqttBroker section is missing for the EdgeHub module.

`"edgeHub": {
        "status": "running",
        "restartPolicy": "always",
        "version": "",
        "imagePullPolicy": "on-create",
        "type": "docker",
        "settings": {
            "image": "mcr.microsoft.com/azureiotedge-hub:1.2.0

[2020-12-01 19:17] darobs commented on #4011
Everything looks OK - Will set this up on my own device and see what trouble I run into.

[2020-12-01 19:53] varunpuranik commented on #3867
@archanabwk - I will close this issue since we have not heard back from you. If you are still running into any problems, please feel free to open a new issue and provide all details requested in the issue template and provide logs for the IoT Edge components.

[2020-12-01 19:53] #3867 closed

[2020-12-01 20:03] dmolokanov commented on #4027
in addition, lets collect `debug` logs for iotedged and edgeAgent. you can find step to do that here https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot?view=iotedge-2018-06#check-the-status-of-the-iot-edge-security-manager-and-its-logs

[2020-12-02 00:34] darobs commented on #4011
I had no problems starting the the runtime in stretch.  These lines:
[code]
still look like there is an error in the config.yaml.

[2020-12-02 00:51] dmolokanov commented on #4026
@konichi3 can you provide more information on the subject please?

[2020-12-02 05:52] rajaggrawal opened #4032 "device management in offline mode"
Hi,

We have a use-case to manage leaf devices in offline mode.
In offline mode we cannot manage devices through cloud as we wont be having internet connectivity ,hence we are looking a solution to manage leaf device in offline mode.

Could you please check if there is way to manage device devices in offline mode in following way .
------------------------------------------------------------------

[2020-12-02 11:45] fnbk opened #4034 "unable to override DNS server in docker container"
Error: **curl: (60) SSL certificate problem: unable to get local issuer certificate**

By changing the hostname in /etc/iotedge/config.yaml to the real DNS name of the virtual machine results in wrong DNS resolution inside docker containers spawned by iotedge.

[code]

**before:** (okay)
[code]

**after:** (not okay)
[code]

[code]

## Expected Behavior
By applying one of these two option we expec

[2020-12-02 16:15] mschwan-phytec commented on #4027
iotedged 1.0.10.3 logs with debug information:
<details>
<summary>Click here</summary>

[code]
</details>

edgeAgent 1.0.10.3 logs:
<details>
<summary>Click here</summary>

[code]
</details>

[2020-12-02 21:57] and-rewsmith commented on #3819
@kpm-at-hfi Are you also running on Raspbian stretch?

[2020-12-02 22:44] kpm-at-hfi commented on #3819
I'm sorry I didn't see the earlier comment!

[code]

Unfortunately it will be a while before I can try the sanity check described above... sorry! I'll post here if I can get to it.

[2020-12-02 22:53] dmolokanov commented on #4026
@sharbt since your question is related to iotedge extension for vscode could you transfer the issue to the corresponding repo https://github.com/microsoft/vscode-azure-iot-edge and continue discussion there?

here is how you can do that: https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/transferring-an-issue-to-another-repository

[2020-12-02 23:13] and-rewsmith commented on #3819
@kpm-at-hfi Can you please open a support ticket when you come back to this? I'm failing to reproduce this even with the presumably problematic trusted cert and I think having all the context from the support bundle will help us fix this issue faster.

[2020-12-02 23:20] kpm-at-hfi commented on #3819
Certainly. I'll have to start fresh to recreate it since i did wipe that card and go back to the "safety" of 1.0.9.

Can you tell me how to get the support bundle so I am free to attempt this whevener I have some downtime?

[2020-12-02 23:22] dmolokanov commented on #4032
Hello @rajaggrawal ! I beleive currently iotedge doesn't support device management in the offline mode.
Let me tag @veyalla / @ebertrams for clarification.

[2020-12-02 23:43] dmolokanov commented on #4034
Hello @fnbk ! Could you help me to understand what are you trying to achive with the setup? From `iotedge check` command response I assume you have an EdgeDevice which is using self-signed certificate.
[code]

then you changed config.yaml hostname settings to `cq.demo-edge.connected-quality.com` which is different from the system settings on the machine `demo-edge-dev-westeurope`. They are should

[2020-12-02 23:59] and-rewsmith commented on #3819
Here is some documentation on the support bundle:
https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot?view=iotedge-2018-06#gather-debug-information-with-support-bundle-command

[2020-12-03 01:34] dmolokanov commented on #4027
I made some code research and iotedged responds with 404 in 2 cases:
1. it cannot find a module and process for edgeAgent using docker api
2. it cannot sign data with the key for the module (edgeAgent). since your device is running with quickstart mode it should not be the case.

Lets verify the first one:
[code]
there is a response on my machine
[code]

[2020-12-03 04:02] idea4good opened #4041 "start edgeHub failed in Azure Ubuntu VM"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. create ubuntu-18.04 VM on Azure portal
2. install docker/iotedge
3. config config.yaml
4. run: iotedged -c config.yaml

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>C

[2020-12-03 10:23] ebertrams commented on #4032
Direct Methods can be used to send commands from a custom modules to a leaf device while offline. Here is a sample: https://stackoverflow.com/questions/56910425/direct-method-invocation-from-azure-iot-edge-device-to-a-child-device-without-in.
The other option in public preview is to use the new IoT Edge MQTT broker. To learn more, see https://docs.microsoft.com/en-us/azure/iot-edge/how-to-publish-

[2020-12-03 11:29] fnbk commented on #4034
Hi @dmolokanov  Thanks for your response and your interest.

**important:**
Could you please rename `cq.demo-edge.connected-quality.com` into `cq.demo-edge.example.com` in your **previous** post? (that would be awesome, because it is a privacy issue - I will delete this line after you change it).

## Lets elaborate a little bit more about our setup

**ssl termination:**
* We use Traefik as a rever

[2020-12-03 18:57] dmolokanov commented on #4041
Could you please provide additional information? Without this it is really hard to pin the error.
1. `iotedge version`
2. all logs for `edgeAgent`
3. all logs for `edgeHub`

Also make sure  you've fixed at least all **errors** which `iotedge check` command suggested.
[code]

[2020-12-04 00:30] dmolokanov commented on #4034
I deleted private information from all messages in the thread. Initially I thought this was a miconfiguration. I'll try to repro the issue on my side and get back to you.

[2020-12-04 17:34] dmolokanov commented on #4034
I did some investigation and what you see seems like expected behavior. All iotedge modules run inside the custom docker network "azure-iot-edge". In this case there is docker embedded dns comes into play (you see its ip address 127.0.0.11). "Dns" section in the "HostConfig" or in the daemon.json used by the embedded dns server when it fails to resolve an ip address for the given hostname as per d

[2020-12-04 20:43] jlorich opened #4049 "edgeAgent fails to load: 401 Unauthorized"
## Overview
I am working with a customer to deploy IoT Edge inside their factory.  They have a requirement that all traffic flow over port 443 and through a corporate proxy.  They're using X.509 certificates with a DPS Group Enrollment.  The Edge box is running RHEL 7.8 and Edge `1.0.10.2-1` is installed.

All 3 proxy locations are set correctly, AmqpWs is configured and Edge successfully complete

[2020-12-04 20:44] drididh commented on #3283
Hello,
is there any news about this bug. I have the same problem in auto provisioning with symmetric key? The version of my iotedge is 1.0.9. Here are my logs :

Dec 04 20:42:26 GatewayVM1 iotedged[18409]: 2020-12-04T19:42:26Z [INFO] - Reprovisioning status InitialAssignment will trigger reconfiguration of modules.
Dec 04 20:42:26 GatewayVM1 iotedged[18409]: 2020-12-04T19:42:26Z [INFO] - Removing

[2020-12-04 20:51] Vijay-Karthick commented on #3283
@fgheysels : Is this still an issue you face? I have a use case where the device will go offline for extended periods of time. I'll have to check if I face the same behavior.

[2020-12-04 22:33] jackt-moran opened #4050 "edgeHub Sometimes Loses Subscriptions When Restarted"
## Expected Behavior
When the edgeHub container is restarted it should not lose subscriptions and/or it should gracefully reestablish connection with module clients.

## Current Behavior
Sometimes edgeHub loses subscriptions upon restart, which causes module clients to stop receiving messages from edgeHub indefinitely.

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.

[2020-12-07 03:34] Y07yoyo commented on #3959
Hi,

I am trying to mount Nvidia GPU into create options but I am getting the following errors:
Using the options below:
"createOptions": {​​​​"HostConfig": {​​​​"DeviceRequests": [{​​​​"Capabilities": ["gpu"], "Count": -1}​​​​]}​​​
I get the following error:
`One or more errors occurred. (Error calling Create module hydrogen_counting: Could not create module hydrogen_counting
	caused by: Could no

[2020-12-07 06:22] rajaggrawal commented on #4032
@ebertrams ,

Thanks
can we send desired properties also from edge device to leaf offline mode?

[2020-12-07 08:04] randomstring384540 opened #4053 "Configuration of a HTTP(s) proxy is impractical for deployment at customer sites"
Hello,

we are having a bit of trouble with the way iotedge handles HTTP(s)-Proxy configuration.
Maybe we missed a way to configure the HTTP(s)-Proxy, but our Microsoft contact suggested we raise a ticket here.

## Current State
Right now a HTTP(s) proxy for an iotedge needs to be configured
- locally in /etc/iotedge/config.yml (and required linux daemons)
- and in IoT Edge deployment (IoT Hub) vi

[2020-12-07 09:07] ebertrams commented on #4032
@rajaggrawal unfortunately this is not possible today.

[2020-12-07 10:02] mschwan-phytec commented on #4027
Thanks, @dmolokanov! This returned an error message that `ps` could not be run with the option `-e`. It turns out that our system had a version of `ps` installed (busybox that is), that does not allow for calling `ps` with any options. I solved this by installing [procps](http://layers.openembedded.org/layerindex/recipe/119/) which comes with a full version of `ps`.

I found the following issue, w

[2020-12-07 10:02] #4027 closed

[2020-12-07 16:38] darobs commented on #1815
Hello @kajakIYD,

Sorry, I have not been monitoring closed issues, and this didn't pass my email filters.  To my knowledge, there has been not work done to handle this case.  We have still been operating under the assumption that the OS will have the correct time set when iotedged starts.  There may be another [systemd target](https://www.freedesktop.org/software/systemd/man/systemd.special.html)

[2020-12-07 16:43] fgheysels commented on #3283
Yes, we're still facing this issue and actually, it is quite problematic in our case.
We have vessels sailing around the ocean.  Those vessels sometimes have a limited or metered connection and if that's the case, we're unable to download containers.   So, it would be really nice if, upon reboot, iotedge redeploys its last known configuration and uses the containers that it has pulled and that are

[2020-12-07 18:22] BertKleewein commented on #4050
From the linked azure-iot-sdk-python issue:

[2020-12-07 21:49] vipeller commented on #4053
@randomstring384540 thank you for your feedback, it is a very good summary of valid concerns. May I ask you to copy this post to:

https://feedback.azure.com/forums/907045-azure-iot-edge

This is the site project managers use to weight and prioritize developments.
Thank you!

[2020-12-07 23:21] ryayl commented on #3795
It looks like this fix made it into release 1.0.10.3, but so far I'm getting the same error. Does the edge security daemon also need to be updated, or only edgeAgent?

[2020-12-07 23:25] veyalla commented on #3795
The fix is checked-in but not released. It will be part of our next release currently planned for Jan 2021.

[2020-12-08 00:44] eustacea commented on #3283
We believe all fixes are in.  @veyalla could you evaluate for possible closure?

[2020-12-08 01:06] vipeller commented on #4049
@jlorich Hi,
can you turn on debug logs for iotedged as the following:

https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot?view=iotedge-2018-06#check-the-status-of-the-iot-edge-security-manager-and-its-logs

(the part that sets the environment variables for iotedge.service)

[2020-12-08 01:14] vipeller commented on #4049
@jlorich I see this line dumped by iotedge check:

× host can connect to and perform TLS handshake with DPS endpoint - Error

do they have openssl on that machine? It is worth to try to connect using openssl s_client, using the keys/certificates they have to see if it works or throws an error, and if it does, what error

[2020-12-08 04:37] veyalla commented on #3283
That is correct, the fix is in 1.0.10.2 version of iotedged via https://github.com/Azure/iotedge/commit/23215094cdd11fd5170d42798ebac509b132a8fd.

Note: you also need a new DPS enrollment for this to work since the fix involved changes to the DPS service as well to return a new substatus.

FYI - @ksaye, @florianbader - thanks for your patience while we took care of this one. Please test and let us

[2020-12-08 08:57] randomstring384540 commented on #4053
Hello @vipeller ,
thanks for the heads up. I've added the suggestion at: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/42149611-improve-configuration-of-http-s-proxy-for-deploym

[2020-12-08 09:22] florianbader commented on #3283
@veyalla @eustacea I'm still having problems with this.
I updated everything to 10.0.10.2-1, changed my configuration to `dynamic_reprovisioning: true` and `always_reprovision_on_startup: false` and deleted all cached certificates (/var/lib/iotedge/hsm/{certs,cert_keys}).

After restarting I'm getting the new `Device registration is unchanged in Azure and matches local provisioning backup.` messag

[2020-12-08 10:18] ameyers-inimco opened #4061 "X509 based registration fails [401 Unauthorized] when specifying registration_id"
## Expected Behavior
The device is provisioned using the x509 client certificate. The device registration_id differs from the certificate CN.

## Current Behavior
Device cannot be provisioned. x509 certificate based registration failed with errorcode 401002 [401 Unauthorized].

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. Provide valid client certificate and key
2

[2020-12-08 10:25] ameyers-inimco commented on #4061
config.yaml:
[code]

[2020-12-08 10:53] emilm opened #4062 "X.509 does not restore provisioning result after reboot in offline state"
## Expected Behavior
Agent + modules etc should run offline after a reboot

## Current Behavior
iotedge fails to even start

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. provision with X.509
2. let everything pull and load and run
3. rip out ethernet cable so it's offline
4. reboot

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click

[2020-12-08 12:44] fnbk commented on #4034
@dmolokanov Thank you for pointing to the docker dns configuration.

We solved this issue by creating a second DNS record for the edge device.

The first one covers all external requests on port 443 (cq.demo-edge.example.com) and resolves to the LetsEncrypt generated certificate.

And the second one on port 8883 (iot.demo-edge.example.com) provides an endpoint to external edge devices that use thi

[2020-12-08 12:44] #4034 closed

[2020-12-08 14:18] geoffrey-vl opened #4063 "iotedge logs not working when logger is set to journal"
On a ARM32 linux device we have docker configured to use `journald`.
We do this to reduce emmc wearing. This is functioning well for the docker side of things, but it seems iotedge can't handle it too well.

## Expected Behavior
We expect that `iotedge logs <module>` would show us the modules command output.

We also expect that when we run `iotedge check`, that it wouldn't complain about "product

[2020-12-08 17:34] vipeller commented on #4061
@ameyers-inimco
The logs says that 'Starting DPS registration with scope_id "<SCOPE_ID>"', where <SCOPE_ID> is the template in the config.yaml file. Also the error message a bit below says "Invalid idScope length". For me it seems that the system somehow pick up an undefined scope id from the configuration. I see that in your second comment the config.yaml specifies the scpe_id (so it does not hav

[2020-12-08 21:22] arsing commented on #3283
That includes the workload CA, so one forced reconfiguration after that is to be expected.

Later you say "if I restart the runtime", so what did you restart here? The iotedged service? Or the whole device?

Do you mean the previous run from paragraph 2? Or the first successful run after the events of paragraph 3?

The errors probably still appear. Are you filtering the `journalctl` output with `-

[2020-12-08 21:51] vipeller commented on #4050
@jackt-moran I see it is 1.0.10 version of edgehub. Is it hard to try with an older version, e.g. 1.0.9? I see that it happens in production, so I assume a downgrade for a test would be complicated - only asking because that would help a lot if it turned out that this is a regression.

[2020-12-08 22:03] florianbader commented on #3283
Sorry for the confusion, here's what I'm doing:

[code]

Here's the fun part, this gives me the following:

[code]

The modules are stopped and started again but not downloaded.
After that I'm restarting the iotedged service:

[code]

This gives me the following (journalctl without -u):

<details>
<summary>iotedged logs (after first restart)</summary>

[code]
</details>

If I restart the iotedged

[2020-12-08 22:25] vipeller commented on #4050
@jackt-moran can you give me an edgeHub log from your staging environment where restarts work correctly? I need the first segment of the log (with the logo and then the next 10 seconds).

[2020-12-08 23:15] vipeller commented on #4062
@emilm version 1.0.10 creates a backup provisioning file, so edge can keep working offline when DPS is configured. Unfortunately, you need to update to use DPS in offline scenario.

[2020-12-08 23:27] emilm commented on #4062
Thanks @vipeller ! It seems to work with 1.2-rc2. I assume the backup path is in the specified IoT edge "home" dir?
The reason I am not using a stable version, is that I have to match it with a specific version of Rust.
The previous versions of iot edge source had "#![deny(rust_2018_idioms, warnings)]" in them which made the linter in Rust 1.46 stop the compilation. I am no Rust expert though.

Is

[2020-12-08 23:56] vipeller commented on #4050
@jackt-moran in the staging environment do the clients use MQTT (vs AMPQ) to connect?
looking more at the logs, what I see is that these two clients:

MTC0304/IoTEdgeASA
MTC0304/blobstorageiotedge

They were able to restore their session state from a store, and that session state contained the subscriptions (and for IoTEdgeASA, one of the subscription was for module messages). Later that is the re

[2020-12-09 01:11] post2vishwa commented on #3829
Hi Venkat,

I am trying to install iotedge latest version 1.0.10.2  on Cent OS 8.2 Operating system and observing same error. could you suggest. Thanks

Details:--

![image](https://user-images.githubusercontent.com/50254283/101560526-5cc1de00-3978-11eb-920e-e05ca86006db.png)

[2020-12-09 01:53] vipeller commented on #4062
@emilm can I ask why the rust version matters? We usually use the latest stable version, and before release, we pin that version - then it can take several weeks or 1-2-3 months for the final release, so the rust version will not keep up with the latest stable anymore.
I would not recommend 1.2 for production yet, it has massive changes in its internal structure compared to the previous versions -

[2020-12-09 08:59] emilm commented on #4062
@vipeller in a yocto environment I use meta-rust which is the source code for entire Rust.
1.0.10.3 did not compile with 1.39 (too old?) or 1.46 (because of some language / linting features like #![deny(rust_2018_idioms, warnings)]. ) of rust . So it's relevant for me to see which version of Rust you compile against.

[2020-12-09 16:17] motto-phytec opened #4074 "X509 certificate with a TPM private key"
In an project we must use x509 certificate authentication with access to a private key, which is stored in a TPM.
There is a configuration example with x509 and private key, which is stored as file.
provisioning:
  source: "manual"
  authentication:
    method: "x509"
    iothub_hostname: "xxx.azure-devices.net"
    device_id: "board01"
    identity_cert: "file:///home/cert.pem"
    **identity_pk:

[2020-12-09 16:51] jackt-moran commented on #4050
Hi @vipeller ,

Unfortunately I may have miscommunicated things between the two issues I've opened. What I got to work in my staging environment and not production was a workaround implemented in my custom IoT Edge modules using the Python SDK. The gist of the workaround is a coroutine that monitors the state of the Python module client's connection and forces the container to exit if the client b

[2020-12-09 17:11] vipeller commented on #4049
@jlorich  Hello, have you managed to resolve this?

[2020-12-09 17:36] vipeller commented on #4050
@BertKleewein I need your help with the Python SDK:

What I see right now is that two modules (IoTEdgeASA/blobstorageiotedge) are able to recover their states after edgeHub restarted. The way it works is the following:

MQTT has the concept of persistent sessions (that is not an official name, but many people refers it like that). These persistent sessions are created when a client connects and us

[2020-12-09 17:47] BertKleewein commented on #4050
@vipeller - the azure-iot-sdk-python library hard codes the clean_session flag to False.  I'm going to read into the transport to see if there are any code paths that can change this.

[2020-12-09 18:00] BertKleewein commented on #4050
@vipeller - Paho logs this for us.  It's false in @jackt-moran 's logs:
[code]
u,p,wr,wq,wf, and c are the bitfields in the MQTT connect_flags byte, with c being `(connect_flags & 0x2) > 1`, so it seems pretty clear that the clean flag is false.

[2020-12-09 18:04] BertKleewein commented on #4050
@jackt-moran - just to be 100% clear:
1. Do you ever use AMQP for any devices or modules in your staging or production environments?
2. Do you ever use a non-Python SDK for any devices or modules in your staging or production environments?

[2020-12-09 18:56] jackt-moran commented on #4050
@BertKleewein -
1. As far as I know, no. We have a single device, which uses the Python SDK, and our custom modules only use the Python SDK as well. We do however have a few modules/containers which we simply use out of the box, and I don't know what protocol(s) they use to communicate with edgeHub (if applicable).
2. No. However, if it would be helpful I can deploy a simple module that uses anoth

[2020-12-10 13:54] levalencia commented on #4011
any update from Microsoft on how to fix this?
or should we install a previous version?

[2020-12-10 14:24] alessandro-gargiulo commented on #3764
Is there any update on this issue?
I ran in the same issue some days ago in Azure AKS

[2020-12-10 14:27] ameyers-inimco commented on #4061
@vipeller updated the iotedge log. It now contains the correct error message.

[2020-12-10 15:40] jackt-moran commented on #4050
@vipeller - I can confirm that the issue is not a regression, at least not from version 1.0.9 to 1.0.10.

I tested with the following versions:
iotedge: 1.0.9.5
edgeAgent: azureiotedge-agent:1.0.9.5-linux-amd64
edgeHub: azureiotedge-hub:1.0.9.5-linux-amd64

When following the steps to reproduce the behavior of edgeHub 1.0.9 was the same as 1.0.10, as far as I could tell. While I have version 1.0.9

[2020-12-10 16:43] veyalla commented on #3764
We were able to repro and prepping a fix in the next beta release.

[2020-12-10 18:20] varunpuranik commented on #3907
@davidguidali - were you able to resolve your problem? If so, can you please close this issue?

[2020-12-10 18:21] varunpuranik commented on #3900
@Arnab6 - I will close this issue as we have not heard back from you. If you run into any other issues, please feel free to open a new issue and provide all the details as specified in the template.

[2020-12-10 18:21] #3900 closed

[2020-12-10 18:39] darobs commented on #4005
Closing this issue, @sachidanand, please reopen if this didn't answer your question.

[2020-12-10 18:39] #4005 closed

[2020-12-10 18:52] darobs commented on #4011
One of the late additions to 1.0.10 was PR #3572 - Since I've run out of other possibilities, this may be a source of problems.

From the PR:

If this doesn't address the problem, is it possible for you to create a support ticket in Azure?  That way we have a private channel to debug the issue.

[2020-12-10 23:51] vipeller commented on #4050
@jackt-moran thank you. There is a special setting (an environment variable) which turns on a low level debug mode of that mqtt library we use internally, so then we can see the mqtt packets logged. Unfortunately, I could not find it yet (it is not documented), but I want to apply that first, so we can check how the connection/communication goes.

[2020-12-11 17:41] logg-sar opened #4083 "iotedge different error messages"
**Describe the bug**
Iotedge doesnt start on Ubuntu 18.04

**To Reproduce**
Steps to reproduce the behavior:
1. Created a Ubuntu 18.04-based VM
2. Installed powershell
3. Installed according to this guide (https://docs.microsoft.com/de-de/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06&tabs=linux)
4. running iotedge check --verbose

**Expected behavior**
No error messages.

**Screensho

[2020-12-11 21:14] darobs commented on #4025
I am operating under the assumption this is related to the issue I referenced above.  Please see [my comment from yesterday](https://github.com/Azure/iotedge/issues/4011#issuecomment-742722756) on the subject, if that helps.

[2020-12-14 08:42] JoshuaRoi opened #4089 "Is there a way to create a container in local blob storage module (IoT Edge)?"
Good Day,

You need to create a container in local blob storage in IoT Edge with the help of Azure Storage Explorer but is there another way to add a container w/o using the explorer?
Cause I'm having trouble accessing the deployed blob storage in the Storage Explorer, I followed every steps in this source:
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob?view=iotedge-2018-06

[2020-12-14 17:42] omarine opened #4092 "Iotedge behind a proxy"
## Expected Behavior
iotedge behind a proxy should work

## Current Behavior
the edgeAgent coudn't start

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.Install IotEdge via proxy (https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support?view=iotedge-2018-06)
2.Get-Service iotedge
3.iotedge list

## Context (Environment)

### Output of `iotedge c

[2020-12-14 18:05] vipeller commented on #4074
@motto-phytec Hello,

Sorry for the late answer.
For identity_cert/pk, currently files paths are supported.
The certificate must be in DER format or PEM format (which is a base64 encoded DER format with a header/footer)
The private key can be in PEM format of PKCS12 format
Both RSA and ECC based certificates (and keys) are supported

Let me know if you have problems generating the necessary keys/c

[2020-12-14 18:58] vipeller commented on #4063
@geoffrey-vl thank you for reporting this. Unfortunately, I cannot provide a quick solution. I opened a bug to fix the issue in the future.

[2020-12-14 19:13] dmolokanov commented on #4026
Closing the issues due to no activity required at this time. Please feel free to re-open if needed.

[2020-12-14 19:13] #4026 closed

[2020-12-14 19:13] dmolokanov commented on #4041
Closing the issues due to no activity required at this time. Please feel free to re-open if needed.

[2020-12-14 19:13] #4041 closed

[2020-12-14 19:13] dmolokanov commented on #4032
Closing the issues due to no activity required at this time. Please feel free to re-open if needed.

[2020-12-14 21:43] dylanbronson commented on #4092
Hi, did you follow the steps to configure the Moby Daemon? I ask because it looks like there are some issues with docker commands.
https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-docker/configure-docker-daemon#proxy-configuration

This article is linked in the proxy article, but can be easy to miss. You must also configure the IoT Edge daemon with the https_proxy variable

[2020-12-15 02:09] #4032 closed

[2020-12-15 09:37] omarine commented on #4092
Hello,

I think i did everything mentioned in the documentation ,I have  HTTPS_PROXY configured as a machine variable environment but still the containers seem not to be able to connect to Iothub,still i was able to install the edge runtime via the proxy.

does anyone encountered the same issue ?

[2020-12-15 15:05] omarine commented on #4092
here is the configuration of the proxy

![image](https://user-images.githubusercontent.com/13197345/102232180-17a92900-3eef-11eb-9e2b-d41b383d350e.png)

I put the dns in the daemon.json but is there a way to tell the iotedge-mody to bypass the proxy ?

thanks

[2020-12-15 16:13] omarine commented on #4092
Actually,this dns is only useful to resolve name for  resources on the vpn ,while containers on nat network try to resolve  iothub hostname,is it possible  to use (iothub) ips instead of hostname  so no name resolution is needed ?

[2020-12-15 18:26] varunpuranik commented on #3907
@davidguidali - I am closing this issue since we didn't hear back from you. If you run into any more issues, please feel free to open a new issue and provide all details as requested in the template.

[2020-12-15 18:26] #3907 closed

[2020-12-15 18:50] darobs commented on #4012
The SDK team has responded here: https://github.com/MicrosoftDocs/azure-docs/issues/64993#issuecomment-744654976

I hope this brings some clarity. Closing this issue here, but if there are more questions, you can open it on [the csharp SDK repo](https://github.com/Azure/azure-iot-sdk-csharp) and tag @sharmasejal, who is aware of this thread.

[2020-12-15 18:50] #4012 closed

[2020-12-16 11:41] omarine commented on #1208
Hello,

Which dns have you used to resolve connectivity issues from your containers to iothub ?

I am trying to install iotedge runtime behind a proxy as well but i still have different issues including connectivity from containers to Iothub,the host can connect still.

Thanks

[2020-12-16 15:51] Sdelausnay commented on #3819
I have found some time to test this. Indeed when using the test certificates and including my own root certificate, it is indeed all working fine but when using my own device device certificate it fails.

I again also run with my own certificates and received some more details on the error. Again very strange because on version 9 the same certificates are working an on 10 they are not.

Detials
[c

[2020-12-16 19:39] and-rewsmith commented on #3819
Thanks for the information. If you feel comfortable you could share the device_ca_cert (which is public information). I can then take a closer look at what is causing these errors.

Also, I think a support ticket is still the safest option. I have notified our customer support team and we will elevate it to the appropriate channels when it comes in.

@arsing Any idea why the device ca is relevant

[2020-12-16 20:19] sitembun opened #4103 "Using Production Certs for Transparent Gateway"
## Expected Behavior

A certificate created in Azure Key Vault and signed by a trusted authority should be useable as a transparent gateway certificate in IoT Edge on Kubernetes.

## Current Behavior

When running the Edge on Kubernetes helm chart with a certificate from keyvault, edgeAgent fails to make HTTP call to TrustBundleAsync with a SocketException.

## Steps to Reproduce

1. Create a cert

[2020-12-16 20:35] dylanbronson commented on #4092
It is weird that your docker hello world is not working. If that is not working, then your edge containers also probably won't work. Can you try reinstalling docker? It seems like a docker/moby problem you are running into, though

For your other question: I don't think you can use the IoTHub IP instead of the hostname because it will have cert issues (the cert uses the hostname, not the IP). I ju

[2020-12-16 23:38] and-rewsmith commented on #3819
@Sdelausnay Just to confirm, when you say:

You mean the device ca cert right? I just want to be double sure we can rule out your dps certs as a cause.

[2020-12-16 23:42] darobs commented on #4103
Hi @sitembun, can you also provide the logs to to proxy sidecar in the edgeagent pod?

[2020-12-16 23:44] sitembun commented on #4103
@darobs Absolutely, here it is:

[code]

[2020-12-17 00:22] darobs commented on #4103
Thank you - that helps a lot.  I have a couple of possibilities for that error:
`tls.build()` failed,
https://github.com/Azure/iotedge/blob/edge-on-k8s-public-preview/edgelet/iotedge-proxy/src/proxy/config.rs#L82
or `X509::stack_from_pem` failed,
https://github.com/Azure/iotedge/blob/edge-on-k8s-public-preview/edgelet/iotedge-proxy/src/proxy/config.rs#L61

I'm leaning towards the `tls.build()` sta

[2020-12-17 00:27] sitembun commented on #4103
The `root.ca.pem` file doesn't have any duplicates as far as I can tell (there is only one BEGIN CERTIFICATE block). This file is one that  I made myself by copying the last cert in the full chain cert created by Key Vault and pasting it into its own file. So I guess there is a duplicate in that this cert exists both in this file and at the end of the chain in the original.

[2020-12-17 00:29] sitembun commented on #4103
It's also entirely possible that my entire process of hacking together these various files has been incorrect. If there is a tried and true way that you guys have of getting certs from trusted roots, I am more than open to it :)

[2020-12-17 00:48] darobs commented on #4103
That proxy container should only be referencing the trusted root, would you confirm this?

Run:
[code]

You don't need to share the output, but confirm this matches the contents of your `root.ca.pem` file.

Thank you!

[2020-12-17 00:55] sitembun commented on #4103
Yep, the output of that command matches my `root.ca.pem` file exactly.

[2020-12-17 01:07] darobs commented on #4103
All right. I will need to spend some time reproducing this and investigating the "error:0B07C065:x509 certificate routines:X509_STORE_add_cert:cert already in hash table:x509_lu.c:370" error.

[2020-12-17 08:36] meshell opened #4112 "DPS API Version "2019-04-15" not supported in Azure"
The DPS API version "2019-04-15" (https://github.com/Azure/iotedge/blob/95aa3cb67f16386be6c76e83feeb6538f6e040b9/edgelet/dps/src/lib.rs) of the latest release is not supported on Azure China.
Device Provisioning responses with the following error:
[code]
However there are newer version available. API Version info from Resource Explorer:
[code]
However Provisioning works in Europe, even the API ver

[2020-12-17 08:58] Prov-Matthias commented on #4092
Hi, I have a similar Issue but this has nothing to do with the Proxy Server.

My Solution was descripted here: https://github.com/Azure/iotedge/issues/3680#issuecomment-706059515

Maybe it is working for you too ;)

[2020-12-17 11:30] Sdelausnay commented on #3819
Yes indeed the device CA cert. In my last test I completely left out the DPS setup and just used the connection string.

[2020-12-17 17:27] sitembun commented on #4103
Thanks so much David! I really appreciate your help.

[2020-12-17 21:01] sulaga opened #4124 "Linux "networking.md" / "images/iotedge-network.png" wrong Edge Agent network description/visualization"
## Expected Behavior
The documentation of the file "networking.md" under "iotedge\doc" is not correct for linux at the point, where the Edge Agent docker network is described. The Edge Agent is not placed on the `azure-iot-edge` network, but on the docker `bridge` network.

Also the image under "images/iotedge-network.png" needs to be corrected.

## Current Behavior
On Linux, iotedged creates a us

[2020-12-17 21:39] vipeller commented on #4062
@emilm how things has been going, do you need any more assistance?

[2020-12-17 21:43] vipeller commented on #4061
@ameyers-inimco did you manage to solve the problem with scope id? Do you need any more assistance?

[2020-12-18 06:40] sulaga commented on #4124
Meanwhile I recognized, that in the newer version (tested with version 1.0.10 of iotedged, edgeAgent, edgeHub) the behavior changed and the documentation is then correct. Therefore, this was not the case for previous versions.

Did you change this consciously in the meantime (edgeAgent not anymore in `bridge` network, but also in `azure-iot-edge` network)?

Many thanks

[2020-12-18 09:15] emilm commented on #4062
@vipeller I ran into another problem with certificates. A device might not have RTC and thus the date is back to 1970 without internet.
Then I get "edge_pki_openssl.c:check_certificates:1775) Verification status: 0, Error: 9, Msg: 'certificate is not yet valid'"
Is there some way to mitigate this except having the correct date?

This causes the message " Obtaining workload CA failed. Triggering re

[2020-12-18 15:51] omarine commented on #4092
Well i am trying to resolve and be able to run a hello-work container on this machine,once it's resolvec i am thinking of launching the iotedge modules on the host network

so do you think  these steps are enough for the module to be able to access the iothub since the host has no connectivity issues with the iothub ?

- docker -H network create --driver transparent trans

- change the network set

[2020-12-18 17:50] omarine commented on #4092
Connection fixed when in used docker destop but edgeAgent failed to start

2020-12-18 17:41:12.947 +00:00 Edge Agent Main()
<6> 2020-12-18 18:41:13.312 +01:00 [INF] - Initializing Edge Agent.
<6> 2020-12-18 18:41:13.581 +01:00 [INF] - Version - 1.0.10.3.36904102 (95aa3cb67f16386be6c76e83feeb6538f6e040b9)
<6> 2020-12-18 18:41:13.582 +01:00 [INF] -
        █████╗ ███████╗██╗   ██╗██████╗ ███████╗

[2020-12-18 20:19] Noppey commented on #4083
I have the same problem, installing on Debian Buster with the Raspbian Stretch package used in installation of IoT Edge.
Seems similar to:
https://stackoverflow.com/questions/64982776/one-or-more-errors-occurred-permission-denied-var-run-iotedge-mgmt-sock-caus

[2020-12-20 17:23] hermeli commented on #4011
I'm having the exact same issues here. Did you create a support ticket in Azure? If yes, can you link it, please?

[2020-12-21 17:42] dylanbronson commented on #4124
Hello! This was a deliberate change we made. You can read more on it here: https://github.com/Azure/iotedge/pull/2318
The documentation reflects what is on the current branch. So in the current branch it is up to date, but 1.0.9 and earlier had the older documentation.

Here's a link to the **old** documentation: https://github.com/Azure/iotedge/blob/release/1.0.9/doc/networking.md

[2020-12-21 18:35] sitembun commented on #4103
Hey @darobs, were you able to reproduce the error? Let me know if I can provide anything else to help :)

[2020-12-21 19:20] arsing commented on #4112
Yes, it does look like the API version is not reported for any of the `Microsoft.Devices` resource types.

[code]

@rajeevmv Do you know why the `Microsoft.Devices` RP isn't reporting the API version you added, and is also reporting newer ones?

[2020-12-21 22:32] #4124 closed

[2020-12-21 22:32] dylanbronson commented on #4124
If this did not answer your question, feel free to reopen!

[2020-12-21 23:35] dylanbronson commented on #4092
Thanks for your patience, and I'm sorry you are still having issues.

It looks like edgeAgent isn't starting because iotedged isn't running. Are you trying to run edgeAgent with a docker start command or something similar?

EdgeAgent should be started by the iotedge daemon (iotedged) and not by docker.

Additionally, I don't think you need to create a new network. I believe that could work (I've n

[2020-12-21 23:48] dylanbronson commented on #4112
Hello, this version was behind a feature filter that for some reason was not turned on in Azure in China. It has now been turned on. This should now work. Please let us know if it doesn't

[2020-12-22 06:20] lakshmisivareddy opened #4147 "Publish and subscribe with Azure IoT Edge Not Working"
Hi
i am experimenting with Azure IoT Edge MQTT broker to publish and subscribe
from below link : https://docs.microsoft.com/en-us/azure/iot-edge/how-to-publish-subscribe?view=iotedge-2020-11#pre-requisites

i am able to connect to broker but i am not seeing published messages in subscriber end

Egde Runtime Version :
iotedge 1.2.0~rc1

Edgehub  and EdgeAgent :
[code]
Deployment json
[code]

[2020-12-22 06:45] gimmi opened #4148 "mcr.microsoft.com/azureiotedge-hub:1.2.0-rc3 not found"
Hi,

following the announcement [HERE](https://github.com/Azure/iotedge/releases/tag/1.2.0-rc3), I'm trying to update my installation, but:

[code]

[2020-12-22 08:31] waitingkuo opened #4149 "DNS cannot resolve edgeAgent"
## Expected Behavior
My modules should be able to ping edgeHub

## Current Behavior
I can ping edgeHub inside the container.
but I cannot ping edgeAgent inside the container (my own module)
[code]

## Steps to Reproduce
It happens randomly right after a new deployment.
Reboot the system can solve this issues

## Context (Environment)
I deployed this templat
[](https://github.com/linkernetworks/azu

[2020-12-22 09:52] modimadhav3 opened #4150 "edgeAgent fails with issue fatal error"
Hi,
I am trying to deploy iotedge custom modules on my windows machine but facing following issue with edgeAgent module:

I have windows 10 machine configured with linux containers and iotedge runtime version 1.0.10.4
I have open port number 443 and 8883 in my windows fire wall.

[2020-12-22 10:02] modimadhav3 commented on #4150
PS C:\windows\system32> iotedge check --verbose
Configuration checks
--------------------
√ config.yaml is well-formed - OK
√ config.yaml has well-formed connection string - OK
√ container engine is installed and functional - OK
√ config.yaml has correct hostname - OK
× config.yaml has correct URIs for daemon mgmt endpoint - Error
    One or more errors occurred. (Resource temporarily unavailable)

[2020-12-22 18:16] varunpuranik commented on #4074
@motto-phytec - were you able to solve the issue with @vipeller's suggestions?

[2020-12-22 18:24] vadim-kovalyov commented on #4148
Hi @gimmi, thanks for being interested in `rc3` release. I know it might be confusing, but our official release page is this one - https://github.com/Azure/azure-iotedge/releases. We did cut the bits but it'll take some time till the images are ready and published. Follow the announcements on the page mentioned above.

[2020-12-22 18:24] #4148 closed

[2020-12-22 18:33] dylanbronson commented on #4112
I will close this. Please reopen if this continues to be a problem

[2020-12-22 18:33] #4112 closed

[2020-12-22 18:50] vadim-kovalyov commented on #4147
Hi @lakshmisivareddy, thanks for you interest in Azure IoT Edge MQTT broker. I took a look at your deployment file and I have a few suggestions:
- please use the latest version of edgehub and edgeagent images - `1.2.0-rc2`
- It is not clear whether you've redacted the iothub name for privacy, but please make sure that you actually use real iothub name instead of `<iothub>.azure-devices.net` in aut

[2020-12-22 19:04] vadim-kovalyov commented on #4149
Hi @waitingkuo, prior to 1.0.10 edgeAgent runs on its own docker network - https://github.com/Azure/iotedge/blob/release/1.0.9/doc/networking.md

Please try to update to the latest version and try again. Here is the updated documentation for 1.0.10 networking - https://github.com/Azure/iotedge/blob/release/1.0.10/doc/networking.md

Please let me know if that helps.

[2020-12-22 21:30] vadim-kovalyov commented on #4150
Hi @modimadhav3, most likely your iotedge service is not running. Please follow [the troubleshooting guide](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot?view=iotedge-2018-06#check-the-status-of-the-iot-edge-security-manager-and-its-logs) and let me know if that helps. If the service is indeed running, please check your `config.yaml` file for correct `connect` section. It should loo

[2020-12-23 02:17] vadim-kovalyov commented on #4089
Hi @JoshuaRoi, it looks like you were able to resolve the issue with Azure Storage Explorer - https://github.com/microsoft/AzureStorageExplorer/issues/3887. I'm closing this one.

[2020-12-23 02:17] #4089 closed

[2020-12-23 02:45] vadim-kovalyov commented on #4083
Hi @logg-sar, sorry to hear you're having issues running iotedge, and thanks for providing logs. I understand it feels frustrating when straightforward guide does not work. But unfortunately I can't repro the same issue on Azure VM with Ubuntu 18.04. The main issue from your logs seems to be that TPM is not available/inaccessible for iotedge runtime. There could be many reasons for that.

So, ques

[2020-12-23 05:11] lakshmisivareddy commented on #4147
Hi @vadim-kovalyov
Thanks for the Response.
it is working with Edgehub: 1.2.0-rc2

[2020-12-23 07:48] meshell commented on #4112
Works now on Azure China.
Thanks a lot

[2020-12-23 12:36] modimadhav3 commented on #4150
I've re installed the iot edge then started working. but facing another issue with edgeAgent as follows:

 ---> (Inner Exception #1) Microsoft.Azure.Devices.Edge.Agent.Edgelet.EdgeletCommunicationException- Message:Error calling Create module DataProcessorModule: Could not create module DataProcessorModule
        caused by: Could not pull image localhost:5000/dataprocessormodule:1.0.3-amd64​​​​​​

[2020-12-23 13:04] modimadhav3 commented on #4150
I've tried with default iot solution code on visual studio code, it's working.

[2020-12-23 17:32] #4147 closed

[2020-12-23 18:29] vadim-kovalyov commented on #4150
@modimadhav3, glad to hear that issue with iotedge service is resolved. About edgeAgent unable to pull the image. From your last comment it is not clear if you are able to resolve the issue yourself.

If you still having problems, make sure that you did run `Build and Push IoT Solution` task in VS Code. That task will spin up registry service for you on `localhost:5000`. If that does not work for

[2020-12-23 18:29] #4150 closed

[2020-12-24 01:18] vadim-kovalyov commented on #4062
@emilm, I believe you must have correct datetime set in the system. Cert has 'not before" and "not after" validity properties, so it fails the validation. Please let us know if you have any other issues. I'm closing this one for now.

[2020-12-24 01:18] #4062 closed

[2020-12-24 05:46] payalgaikwad42 commented on #4150
@vadim-kovalyov Thank for the reply.
We have build and pushed the docker images using Build and Push IoT Edge solution option in VS code. Then created deployment manifest file. It is not working that way.
I am curious about why it is working with default vs code iotedge solution project and not with custom modules.
We will try with public registry but we want to use local registry in the end.

[2020-12-24 06:25] kjayantmenon opened #4157 "E:Error while installing IoTEdge on Debian 10 with ARM64"
To install IoTEdge on our device, powered by ARM 64 running Debian 10, I've been try to follow the [documentation]( https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06&tabs=linux.), while making the necessary changes for Debian 10.
After multiple failure, I took cue from this [issue](https://github.com/MicrosoftDocs/azure-docs/issues/33881), and directly ed

[2020-12-24 12:45] sulaga commented on #4124
Hi @dylanbronson! Many thanks for the explanatory notes. Then also for me the issue is closed.

[2020-12-28 17:22] ggjjj commented on #4157
Hello @kjayantmenon,

Can you check if the .sock file exists under the location `/var/run/` ? If it doesn't exist then its not installed properly. Please follow the instructions to uninstall the moby runtime by

`sudo apt-get remove --purge moby-cli`
`sudo apt-get remove --purge moby-engine`

Also re-install it and try again to see of the `.sock` is created.

[2020-12-28 21:14] darobs commented on #4011
@hermeli is it the command `sudo iotedge check --verbose` that's failing for you?

[2020-12-28 22:41] darobs commented on #4025
Closing this issue, still tracking #4011 - please follow up in that thread or reopen this issue if you think it's a distinct problem.

[2020-12-28 22:41] #4025 closed

[2020-12-29 20:26] jackt-moran commented on #4050
@vipeller did you end up finding the environment variable to turn on the debug mode of the mqtt library? Is there anything else I can do to help?

[2020-12-30 03:16] GaryHsu77 opened #4159 "edgeHub always reported(module twin) fail after module reported a message with null value in array"
## Expected Behavior
The iotedge module can report information normally when there are null values ​​in the array.

## Current Behavior
The edgeHub always reported(module twin) fail after module reported a message with null value in the array.

Report `{"a":[{"b":1}]}` and then report `{"a":[{"b": null}]}` makes edgeHub abnormal and the only way to bring edgeHub back to normal is to delete the cac

[2020-12-30 03:39] AshokPeddakotla-MSFT commented on #4157
Issue raised in docs as well: https://github.com/MicrosoftDocs/azure-docs/issues/68079 linking here for reference.

[2020-12-30 23:33] ggjjj commented on #4159
Hi @GaryHsu77 ,

Can you update the SDK ? its quite old. It shouldn't be a problem for EdgeHub as far as I understand from the code. The team is out for holiday but I will update if any is a new update otherwise.

Thanks!

[2021-01-03 22:01] wmk1 commented on #3829
Hello, I would like to bump it - I have the same issue, and unfortunately update or reverse IoT Edge version hasn't resolved anything. May I count for some help from you people?

### Device Information
* Host OS : Windows 10
* Architecture [e.g. amd64, arm32, arm64]:
* Container OS [e.g. Linux containers, Windows containers]:

### Runtime Versions
* iotedge version: 1.0.10.1
* Edge Agent: 1.0
* Ed

[2021-01-04 16:54] damonbarry commented on #3829
@wmk1 Based on this:

[code]
....it looks like docker encountered a temporary network condition. If you try again after some time it should succeed.

Also, can you try using the latest version 1.0.10.4 (rather than 1.0.10.1)? There was an additional fix in 1.0.10.2 that you might need.

[2021-01-04 17:08] wmk1 commented on #3829
Hi damonbarry,

I have reverted version from 1.0.10-rc 1 to 1.0.10.1 but no success. I have try to install 1.0.10.4 and let you know as soon as possible.

[2021-01-04 17:56] wmk1 commented on #3829
Hi damonbarry,

I have updated iotedge version to 1.0.10.4 as you proposed but same result :( furthermore, I cannot perform a build and push iot edge solution due to following error:

[code]

[2021-01-04 17:57] jackt-moran commented on #4050
@vipeller @BertKleewein hi there folks. I got a chance to try and reproduce the issue with a different language/SDK, namely C#. I used the cookie cutter sample module that the VS Code extension produces, which is pasted below. I **was not** able to reproduce, which may suggest we were going down the wrong path.

It's also worth noting a couple of things:
- I removed the workaround I implemented in

[2021-01-04 20:31] damonbarry commented on #3829
@wmk1 It looks like your most recent output comes from running `docker build` rather than `iotedge check`, is that right?

Regarding `iotedged` output, it looks like the daemon asks docker to stop the `actionHandler` container, but that fails. Do you know why docker can't stop that container? Are you able to stop it manually from the docker command line?

[2021-01-04 20:34] wmk1 commented on #3829
Yes. The first line of this Dockerfile:

`FROM mcr.microsoft.com/dotnet/core/sdk:3.1-buster-arm32v7 AS build-env`

Docker cannot stop actionHandler container because of following error:

Error response from daemon: cannot stop container: actionHandler: Cannot kill container 7be3ae46adc033e6aeb92c018d77ce9c5b57c7c2007b4d7a1e048594223e9df9: unknown error after kill: runc did not terminate sucessfull

[2021-01-04 20:48] damonbarry commented on #3829
What happens if you try to `docker stop actionHandler` (or `docker kill actionHandler`) from the command line?

Both of these issues seem to be specific to the docker installation on your device, and not IoT Edge. You may get better support in the appropriate docker forums.

[2021-01-04 20:58] wmk1 commented on #3829
When I tried to stop these container, I had error that I have permission denied.

Yes, you were right. I have resolved a solution using docker forum.

For those people who might encounter following error: The issue is regarding docker daemon issue. I have resolved it using solution described here:  https://forums.docker.com/t/can-not-stop-docker-container-permission-denied-error/41142/5

[code]

[2021-01-04 21:32] vipeller commented on #4050
@jackt-moran Thank you for trying this out. The C# SDK is implemented the way that it automatically resubscribes to topics when it loses the connection and connects back. That means that even if edgehub does not able to reload the old subscriptions, it receives new ones, so it will not miss the subscription as the log message says you found.
Resending the subscriptions should not be a requirement

[2021-01-05 07:12] imZack opened #4168 "edgeAgent/edgeHub docker image got updated silently (tag: 1.0.9.4)"
We've followed the [Understand IoT Edge tags](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-update-iot-edge?view=iotedge-2018-06#understand-iot-edge-tags) to pinned the version of edgeHub/Agent to **1.0.9.4** a while ago and the image id as below

[code]

However, we just found that the tag has been updated and against [the document](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-

[2021-01-05 09:44] #4168 closed

[2021-01-05 14:12] jackt-moran commented on #4050
@vipeller thanks for getting back, it would definitely be good to know if someone else can reproduce or if it is just me doing something silly. In case you'd use iotedgedev for testing, I can confirm the issue occurs for me there as well.

Just to make sure we're completely on the same page, here is my requirements file for the sample Python module provided above:
[code]
and the Dockerfile (amd64)

[2021-01-05 18:40] massand commented on #3982
@FabGre - Generally the DPS provisioning occurs on iotedge startup (unless `always_provision_on_startup` is disabled - in which case it should skip provisioning if a backup file from previous successful device provisioning is present) OR when iotedged's `/reprovision/` management API is invoked by edgeAgent (which occurs if edgeAgent cannot connect establish TLS connection with IoT Hub using the S

[2021-01-05 19:37] arsing commented on #3982
Provisioning isn't really relevant here. The problem happens because Edge Agent being tricked into using an expired SAS token. Its use of SAS tokens is non-optional because module identities only use symmetric key auth.

@FabGre Ensure iotedged is stopped before your device enters the low power state (which also ensures Edge Agent is stopped), and ensure the system time is fixed before starting io

[2021-01-05 20:30] richma-ms commented on #4159
@GaryHsu77, this looks like an issue with the C# SDK that EdgeHub uses to forward your property update to IoT Hub.  I just tried to set an array property to null using the C# SDK on a device connected directly to IoT Hub, and got the same failure as what you have in the EdgeHub logs.

[2021-01-05 22:38] vipeller commented on #4050
@jackt-moran a quick update: I managed to repro this in my environment. At this moment I don't know what causes it, what I know is that the subscription (for module-to-module messages) gets retrieved from the persistent store of edgeHub when the python client reconnects - this means that edgeHub knows about this subscription when it recovers, however apparently this information is not get propagat

[2021-01-06 18:45] darobs commented on #4103
Still working on this - setup is a bear, and I don't have privileges to do some steps myself. Thank you for your patience.

[2021-01-06 19:11] wmk1 opened #4175 "Cannot build and push IoT Edge .NET Module - time out"
## Expected Behavior
Given new IoT Edge module (C#) when build and push IoT Edge Solution then should build successfully

## Current Behavior
An error occured while attempting to use .net sdk from a Dockerfile

## Steps to Reproduce
1. Create new IoT Edge Module with C# as a default language
2. When using Visual Studio Code, right-click on a given json deployment template and click "Build and push

[2021-01-06 19:39] Lexmark-chad opened #4176 "All modules restart after updating only edgeAgent version in deployment manifest"
We are observing that all the modules restart after deploying a new manifest that only changes the version of edgeAgent.  Is that necessary?  It would be nice if other modules didn't have to restart to prevent an interruption in service.

iotedge version 1.0.10
edgeAgent version 1.0.9.4

I am looking for the best way to orchestrate updates to newer versions of edgeAgent.

[2021-01-06 21:42] jackt-moran commented on #4050
@vipeller thanks for the update, it is nice to hear the issue is reproducible. Let me know if there's anything I can do to help.

[2021-01-06 21:46] richma-ms commented on #4176
The underlying container management logic housed in EdgeAgent can differ drastically between versions, such that a module deployed previously by a different version of EdgeAgent can potentially cause inconsistencies in the Edge runtime.  So to be on the safe side we need to redeploy the custom modules as well.

Note that when updating Edge, the only officially supported scenario is to update all 3

[2021-01-06 21:46] #4176 closed

[2021-01-06 21:56] richma-ms commented on #4175
Considering the I/O timeout, this looks like a transient problem either with the network or with MCR.  Are you able to just manually pull the dotnet core sdk image?

It worked for me when I tried it just now:
`~$ docker pull mcr.microsoft.com/dotnet/core/sdk:3.1-buster-arm32v7
3.1-buster-arm32v7: Pulling from dotnet/core/sdk
709549ab8c59: Pull complete
a47835026e1d: Pull complete
d9aa96a1a673: Pul

[2021-01-06 23:08] vadim-kovalyov commented on #4083
I'm closing this one for now. If you're still having problems, please let me know what steps you've already tried and I'll try to help.

[2021-01-06 23:08] #4083 closed

[2021-01-06 23:10] vadim-kovalyov commented on #4149
Closing this for now. Feel free to reopen if you have any questions.

[2021-01-06 23:10] #4149 closed

[2021-01-06 23:38] arsing commented on #3283
Actually I misspoke earlier.

This isn't true. The workload CA will be regenerated without needing a reconfiguration, so even a single reconfiguration won't happen.

---

Secondly, I don't understand why you're deleting the certs in the first place. What are you trying to do?

---

Your problem seems to arise from the newly generated workload CA failing to validate against your custom device CA.

[2021-01-07 10:02] wmk1 commented on #4175
Hi richma-ms,

I am right now on my other PC, but I cannot perform such operation neither.

[code]

[2021-01-07 15:37] ramakrpr opened #4180 "CA Authentication setup errors"
Hi,

I am stuck with setting up authentication following the article below
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-test-certificates?view=iotedge-2018-06#create-iot-edge-device-identity-certificates

Scenario -
- i am using Enterprise CA certificates (Not self signed)
- iot edge version is 1.0.10.4-1 amd64 on Ubuntu 18.0.4

Error1
=====
I am stuck with the below error 1 when

[2021-01-07 16:26] ramakrpr commented on #4180
some more information:

sudo systemctl status iotedge.mgmt.socket
● iotedge.mgmt.socket - Azure IoT Edge daemon management socket
   Loaded: loaded (/lib/systemd/system/iotedge.mgmt.socket; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/iotedge.mgmt.socket.d
           └─override.conf
   Active: failed (Result: start-limit-hit) since Thu 2021-01-07 15:18:33 UTC; 53min ago
     Doc

[2021-01-07 18:33] richma-ms commented on #4180
@ramakrpr can you post your config.yaml (minus any secrets or PII)?

[2021-01-07 18:38] wmk1 commented on #4175
I have checked this docker pull command on my default PC as you proposed on both host and guest PCs and same result:

[code]

[2021-01-07 18:48] ramakrpr commented on #4180
@richma-ms find below the config.yaml
==========================

###############################################################################
#                      IoT Edge Daemon configuration
###############################################################################
#
# This file configures the IoT Edge daemon. The daemon must be restarted to
# pick up any configuration changes.
#
# No

[2021-01-08 00:28] darobs commented on #4180
Hi @ramakrpr,

It's a shame those logs are shortened, otherwise I might be able to get more information from them. What I do know, the logs are telling me that it failed around here: https://github.com/Azure/iotedge/blob/release/1.0.10/edgelet/hsm-sys/azure-iot-hsm-c/src/edge_hsm_client_store.c#L1805

The checks here are that the certificate files can't be opened to read, or values passed to the H

[2021-01-08 08:49] ramakrpr commented on #4180
great @darobs good catch!!!
It seems working now, though i get the below error i beleive it is the expected behaviour? till we deploy a custom module and the edge hub starts kicking in

× production readiness: Edge Hub's storage directory is persisted on the host filesystem - Error
    Could not check current state of edgeHub container
        caused by: docker returned exit code: 1, stderr = Erro

[2021-01-08 09:09] levalencia commented on #4011
is there any update on a fix for this?

[2021-01-08 09:14] ramakrpr opened #4193 "IOT Edge Generic questions"
Hi Team,

I had few questions on the IOT Edge - specifically the way we intent to set it up. Our objective is to setup edge devices to use x509 authentication and device Hierarchy (one parent + multiple child edge stack devices)

1. We envision a hierarchail deployment - to start with One Parent (Connected to IOT Hub) and multiple IOT Edge Stack devices (Childs - in a secure zone / no internet acc

[2021-01-08 12:10] payalgaikwad42 opened #4194 "Azure IoT Edge Module not sending messages to IoTHub"
Hi, I have one custom module written in Java springboot with MQTT protocol. The module is supposed to send messages to iothub. But it is not doing so.

I have IoTEdge runtime 1.10.0 installed on my Windows machine with Linux container.
I am receiving following logs in my custom module:

2021-01-07 13:06:36.944 INFO 1 --- [ Thread-21] c.m.a.s.i.d.transport.IotHubTransport : Message was queued to be

[2021-01-08 18:00] darobs commented on #4180
Yes - if there is no deployment applied to the edge device, then edgeHub isn't started, and you'll see that error.  You should only be concerned if you expected the edgeHub and modules to be there.

[2021-01-08 18:02] darobs commented on #4180
I'm closing this issue because the main problem seems to be addressed.  Please reopen this issue if you still need help with this problem.

[2021-01-08 18:02] #4180 closed

[2021-01-08 18:23] darobs commented on #4011
I'm sorry @levalencia, I haven't found the exact problem you are having.  Is it possible for you to create a support ticket so we can look at this in more detail?

Installing the [latest 1.0.9](https://github.com/Azure/azure-iotedge/releases/tag/1.0.9.5) might help to see if this is an issue with 1.0.10 on this device.

[2021-01-08 18:26] richma-ms commented on #4194
@payalgaikwad42 a cursory look at the SDK implementation seems to indicate that the "message was queued..." message is expected, as messages are always pushed into an in-memory queue to be processed by a worker thread later to do the actual sending.
https://github.com/Azure/azure-iot-sdk-java/blob/9b07099e18f8aa0ab81a564023537c4f645ffe42/device/iot-device-client/src/main/java/com/microsoft/azure/s

[2021-01-08 19:28] richma-ms commented on #4193
@ramakrpr,

A few things to unpack first, as the proxy setup can be understandably confusing atm.

There are two different kinds of proxies being referenced by the documentation.

The first is an [HTTP forward proxy](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support?view=iotedge-2018-06), which is a customer supplied proxy implementation to be used in the traditional s

[2021-01-08 19:36] richma-ms commented on #4193
Your other questions are relevant to setting up x509 certs, which also kinda needs its own background explanation to clear up some confusion here.

There are two device authentication flows involving x509 certs, thumbprint (or self-signed) auth, and CA-signed cert auth.  The tutorial you're looking at is for thumbprint authentication, the relevant doc for CA-signed cert authentication is [here](ht

[2021-01-08 22:39] ramakrpr commented on #4193
Hi @richma-ms  thank you for the detailed response.so if I make it short below are the conclusions- just to check if I got it right

1. For hierarchical setup in our case the parent will have internet connection but child’s won’t. In such a scenario we don’t need HTTP forward proxy but  IotEdgeApiProxy (reverse proxy) for hierarchies to communicate

[2021-01-09 01:33] richma-ms commented on #4193
@ramakrpr

1. Correct
2. Connection strings is an option, the other is thumbprint auth as I described (which is a bit more secure than raw SAS keys in the connection string, but fundamentally not that different).
3. You need to fill in the "Manual authentication settings when using an X.509 identity certificate" section of config.yaml, which has properties where you can specify the IoT Hub hostnam

[2021-01-10 08:08] payalgaikwad42 commented on #4194
@richma-ms , Yes there are no corresponding events in EdgeHub module indicating that the message was received/forwarded. Also no acknowledgement was received by module itself.
Also I am monitoring built-in-endpoints for the IoT Edge device from VS code and there are no messages.

[2021-01-10 18:59] wmk1 commented on #4175
I don't know why, but now it's working. The only I made was related with sdk version - I've switched it to 3.0 and it's working again.

[2021-01-11 07:24] payalgaikwad42 commented on #4194
@richma-ms are there any updates ?

[2021-01-11 08:31] florianbader commented on #3283
Thanks for taking a look at this.

I deleted the certs to start from a clean configuration. Nothing I would do in production, but the same problems occurs even without deleting them. The behavior is the same no matter the value of `always_reprovision_on_startup`.

This is my configuration:

[code]

I tested it again today and I'm getting the same result:

[code]

<details>
<summary>iotedged logs</

[2021-01-11 12:01] payalgaikwad42 commented on #4194
The issue is resolved now. I don't know the specific reason but it is resolve now. i am still getting " Message was queued to be sent later" message in my logs but when I Monitor built-in-endpoints using VS code I can see the messages are reaching to the IoTHub

[2021-01-11 12:02] payalgaikwad42 commented on #4194
c

[2021-01-11 12:02] #4194 closed

[2021-01-11 19:02] #4175 closed

[2021-01-11 19:03] richma-ms commented on #4193
Closing this one out, if you have more questions or feel free to re-open or post a new issue.

[2021-01-12 07:54] GaryHsu77 commented on #4159
@richma-ms thank you for your help, can you give me the new issue link for us to follow?

[2021-01-12 12:26] Gordonby commented on #1756
Is there not a feature request here @DoychinDoychev ?

I'm authoring a deployment.template.json file, and wanting to make use of variables in the .env file as described in this issue, and as already implemented for the CONTAINER_REGISTRY_USERNAME and CONTAINER_REGISTRY_PASSWORD variables in the .env file.
The ability to make use of the existing templating build when "Generate IoT Edge Deployment M

[2021-01-12 14:45] karakal opened #4210 "edgeHub doesn't expose metrics"
## Expected Behavior
edgeHub module should expose metrics on Port

## Current Behavior
No connection on Port possible

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. Add Exposed Port and PortMapping in deployment-File
2. Deploy File
3.
4.

## Context (Environment)

Ubuntu 18.04

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details

[2021-01-12 14:49] ramakrpr opened #4211 "Edge Agent's storage directory is persisted on the host filesystem - Error"
Hi,

I am setting up a new edge device (ubuntu 18.0.4) with iot edge version iotedge/bionic,now 1.0.10.4-1 amd64 [installed]
The device is setup with x509 authentication, however for this device i see a new issue which i dint see for others

i dont see that the edgeAgent is running because of this error, what is going wrong? I see many people who has issues with edgeHub but nothing specific on thi

[2021-01-12 14:51] karakal opened #4212 "Wildly different performance for delivering intramodule messages"
## Expected Behavior
We have a few devices that are the same hardware wise and also receive the same deployment with the same modules and the same configuration.

All the devices should deliver the same amount of messages within the same timeframe.

## Current Behavior
We added debug statements into one of our modules because we had performance and cpu issues. So we could see, that we have absolut

[2021-01-12 16:20] ramakrpr commented on #4211
Well i managed to figure out few things which resolved this issue

1. The CN of certificate should match exactly as the Device ID added in Hub as well as the Device ID in Config.yaml
2. This seems to be even case sensitive when checking the Device Id in IOT HUB , which was in my case the issue

[2021-01-12 16:20] #4211 closed

[2021-01-12 18:28] lfitchett commented on #4210
EdgeHub and edgeAgent bult in metrics are documented here. Make sure you are querying port 9600. A useful command to test if the metrics are working is below.

```sudo docker exec edgeAgent wget http://edgeAgent:9600/metrics -qO-```
```sudo docker exec edgeAgent wget http://edgeHub:9600/metrics -qO-```

[2021-01-12 18:30] veyalla commented on #3982
@FabGre any updates on this?

[2021-01-12 18:31] #4074 closed

[2021-01-12 18:32] veyalla commented on #4061
Closing due to inactivity. Please re-open if you still need help.

[2021-01-12 18:50] karakal commented on #4210
Yeah, I know that two commands, and I did try them.

Here the output for the edgeAgent, which is working fine:
`sudo docker exec edgeAgent wget http://edgeAgent:9600/metrics -qO-
# HELP edgeAgent_total_network_in_bytes The amount of bytes recieved from the network
# TYPE edgeAgent_total_network_in_bytes gauge
edgeAgent_total_network_in_bytes{iothub=".....`

Here the output for the edgeHub, which i

[2021-01-12 19:01] veyalla commented on #4157
Debian 10 a Tier 2 platform for IoT Edge, so we don't have packages to install this in Microsoft's Debian repos.

The manual steps to follow to install would be:
* Install container engine by following the general [install instructions](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06&tabs=linux#install-a-container-engine). *Use [prerequisites](https://d

[2021-01-12 21:24] arsing commented on #3283
I cannot reproduce with DPS-X.509 provisioning either.

Yes, that is what I suspected.

[2021-01-12 21:47] ggjjj commented on #4159
@GaryHsu77,

can you update the device type in the above link?
ex: (Laptop, Raspberry PI3, Android APIv25 etc.)

[2021-01-13 13:15] levalencia commented on #4011
I uninstalled iotedge 1.10.2 and tried reinstalling 1.10.4 and I have the following error:

[code]

I tried:
`sudo chown 1000:iotedge /var/lib/iotedge/mgmt.sock`
but I got this:

`chown: cannot access '/var/lib/iotedge/mgmt.sock': No such file or directory`

Its Raspberry Stretch

I cant create an azure support ticket, I dont have permissions to do that in my subscription.

[2021-01-13 14:00] levalencia commented on #4011
Finally I got access to create a support request ticket:

ID: 121011325002572

[2021-01-13 17:18] veyalla commented on #4210
Please share logs from edgeHub module.

[2021-01-13 17:51] veyalla commented on #4011
Thanks for filing. We can track this issue there.

[2021-01-13 17:51] #4011 closed

[2021-01-13 19:06] ggjjj commented on #4159
This is per design. Null values are not allowed in the arrays in twin. Closing this issue. Thanks for reporting it.

[2021-01-13 19:53] ReneHezser commented on #4210
My IoT Edge installation was also not working on the edgeHub. I could fix it by removing **httpSettings__enabled=false** on the edgeHub and by setting **MetricsEndpointsCSV=http://edgeHub:9600/metrics,http://edgeAgent:9600** on my monitoring module.
Maybe you have a similar misconfiguration?

[2021-01-13 22:15] lfitchett commented on #4212
I'll need more information in order to help. Was there anything else running on the devices that could be using up resources? Were there any errors in edgehub?

[2021-01-13 22:39] eustacea commented on #3283
Adding @lfitchett.

[2021-01-14 06:40] imZack commented on #4159
@ggjjj We've learned that the null value in the object of an array is not allowed by design and that causes the C# SDK to generate the exception. There is still an issue on how edgeHub handle the exception like this. The current status is the edgeHub will stop working until the local cache cleared.

[2021-01-14 13:23] FabGre commented on #3982
Hi @veyalla, for now we understood we're stuck with our clock problem. Waiting the hardware side for a RTU which help us to avoid the clock skew. I think you can close this issue. Thanks guys for your help.

[2021-01-14 17:35] amunozh opened #4229 "IoT Edge modules disconnection after some days of deployment"
## Expected Behavior
I expect that all the modules run continuously without any interrumption.

## Current Behavior
After some time running some IoT Edge modules disconnect from the edgeHub. The following message appears in edge Hub module:

 [WRN] - No subscription for receiving messages found for 4f3ea2243c2b4abeade19aba3ebafff0/BadgeTwinHandler\n

In this case the BadgeTwinHandler module is dis

[2021-01-14 17:44] karakal commented on #4210
Thank you very much! it was the http_Settings__enabled=false that caused the problem. I would request an addition to the documentation for that!

[2021-01-14 17:44] #4210 closed

[2021-01-14 18:02] #3982 closed

[2021-01-14 18:02] #4061 closed

[2021-01-14 20:39] micahl commented on #4159
Let's keep this open to investigate how we might avoid edgeHub getting into state.  @imZack, @GaryHsu77 Adding some more info... Patching the Twin object on Hub doesn't support array values which is why null isn't supported.  Array values are always replaced as a single entity.  So if you're trying to remove a property you'd basically need to provide the final value for the array property.  We've

[2021-01-15 07:17] sachidanand opened #4241 "EdgeHub Is not Authenticating When IoT Hub got deleted and recovered from Old Backup"
## Expected Behavior
EdgeHub should communicate to IoT Hub when IoT Hub is recovered from backup with all the keys and connection strings..

## Current Behavior
EdgeHub and EdgeAgent don't connect to IoT Hub when IoT Hub is being recovered from backup..

## Steps to Reproduce
Repro Steps
1. Create IoT Hub
2. Deploy some modules
3. Configure connection string on Gateway
4. Take backup of IoT Hub al

[2021-01-15 18:06] #4193 closed

[2021-01-15 18:49] lfitchett commented on #4229
Are you using the IoT SDK? If so, what version?

[2021-01-15 19:19] lfitchett commented on #4241
If I understand this issue correctly, after deleting and restoring an IoTHub, the edge devices are unable to connect to the restored hub. However, deleting the containers and forcing a re-creation makes it work again?

Are you using manual provisioning?

If this is the case, you can try setting dynamic_reprovisioning to true in the config.yaml: https://github.com/Azure/iotedge/blob/8e8f68ab1bd1cb6

[2021-01-17 08:24] lakshmisivareddy commented on #4147
Hi @vadim-kovalyov
i tried setting up mqtt broker  in edgehub and able to test it with SAS token
but when i was trying with x509 certificate i am getting Error
ssl.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:727)

iotedge runtime : iotedge 1.2.0~rc1
edgeHub and edgeAgent version:
CONTAINER ID        IMAGE                                            COMMAND

[2021-01-17 09:22] lakshmisivareddy opened #4251 "certificate verify failed with edgeHub Mqtt Broker"
i am experimenting with Azure IoT Edge MQTT broker to publish and subscribe
from below link : https://docs.microsoft.com/en-us/azure/iot-edge/how-to-publish-subscribe?view=iotedge-2020-11#pre-requisites

i was able to test successfully with SAS Token
but when i tried with x509 i am getting below Error

**Error**
Traceback (most recent call last):
File "cert_pub.py", line 41, in
client.connect("loc

[2021-01-18 06:54] sachidanand commented on #4241
OK Sure .. We will try it and then will come back to you if it works for us

[2021-01-18 13:14] amunozh commented on #4229
Yes, I'm using the Python SDK `azure-iot-device` version 2.4.0

[2021-01-18 16:25] ramakrpr opened #4252 "Exception with SimulatedTemperatureSensor module"
Hi,

I have an Ubuntu 18.0.4 IOT Edge device which is configured with X509 CA Authentication to connect to IOT Hub.
I see that the device is connected to IOT Hub and also see the status of the running modules. I also see from the IOT Edge status that it is using the CA certificates that I had configured to initialize the runtime

IOT Edge check shows no error as well as the journalctl
However, i g

[2021-01-19 18:20] #4157 closed

[2021-01-19 19:08] davilu commented on #4252
Hi @ramakrpr, thanks for reporting the issue. Could you please provide logs for iotedged and edgeHub and which version were used.

[2021-01-19 19:14] davilu commented on #4251
Hi @lakshmisivareddy, Thanks for reporting the issue. Baltimore cert won't work, but certificate from iotedged should. Could you please check if the same ca cert was used while connect with Sas Token VS x509? Which one is configured iothub with thumbprint or CA cert? Meanwhile could you please provide logs for iotedged ad edgeHub? It might help.

[2021-01-20 01:53] imZack commented on #4159
@micahl @ggjjj Any update on this one?

[2021-01-20 03:15] lakshmisivareddy commented on #4251
Hi @davilu Thanks for the Response

for SAS token i didn't set any certificate
this is the code i tried and it worked

**SAS Code:**
import paho.mqtt.client as mqtt
import time

def on_connect(client, userdata, flags, rc):
   print("Connected with result code", rc)

client = mqtt.Client(client_id="test",clean_session=True,userdata=None,protocol=mqtt.MQTTv311,transport="tcp")

client.username_pw_se

[2021-01-20 04:13] davilu commented on #4251
@lakshmisivareddy If my understanding is right, you were trying to connect leaf devices to Edge via MQTT protocol. Edge hub was started successfully and you were able to connect leaf device with SAS token. But when you try to connect device with cert, it failed. The question is which type of cert you're using? X.509 **self-signed** or **CA-signed** authentication? Could please double check if you

[2021-01-20 09:50] lakshmisivareddy commented on #4251
Hi @davilu i fallowed the same steps and

[2021-01-20 13:03] SandeepThombare opened #4255 "Communication between IoT edge modules and IoT hub via express route."
Need help to understand and configure the IoT edge and docker to establish the communication between IoT edge modules and IoT hub having private IP via express route.

We can communicate if IoT Hub have access to public network, but when we disabled the public network access of IoT hub, IoT edge modules are not communicating with IoT Hub.

Getting below error,
**“Empty edge agent config was receiv

[2021-01-20 16:50] ramakrpr commented on #4252
Version Used
==========

iotedge/bionic,now 1.0.10.4-1 amd64 [installed]

Logs Attached
============
EgeAgent and Hub logs attached
[edgehublogs.txt](https://github.com/Azure/iotedge/files/5843926/edgehublogs.txt)
[egeagentlogs.txt](https://github.com/Azure/iotedge/files/5843927/egeagentlogs.txt)

[2021-01-20 17:09] davilu commented on #4251
Since you're using self signed cert, you should have a root CA cert for edge device and it is used on edge hub deployment. For leaf device which connects to edge hub, you need to follow [create downstream device-certificates](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-test-certificates?view=iotedge-2020-11#create-downstream-device-certificates) to get device cert and fingerprint

[2021-01-20 18:21] josiahlaivins opened #4256 "edgeAgent not using deployed ENV vars"
## Expected Behavior
Our deployment is successful and showing that for the device, the edgeAgent should have a MaxRestartCount variable changed.

## Current Behavior
The edgeAgent does not load the new env var even after restarting the module, and restarting iotedge as a whole.

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. In the deployment manifest include:
[code

[2021-01-20 19:38] arsing commented on #3746
Looks like we updated `iotedged` ( https://github.com/Azure/iotedge/blob/release/1.0.10/edgelet/edgelet-docker/Cargo.toml#L20 ) but not `iotedge`

[2021-01-20 20:17] #3746 closed

[2021-01-21 04:16] lakshmisivareddy commented on #4251
Hi @davilu thanks for the response
i fallowed the same steps and registred  root and device certificates but still seeing the same issue

challal@challal:/etc/ssl/certs$ ls -l | grep azure
lrwxrwxrwx 1 root root     73 Jan 17 12:40 azure-iot-test-only.root.ca.cert.pem.pem -> /usr/local/share/ca-certificates/azure-iot-test-only.root.ca.cert.pem.crt
lrwxrwxrwx 1 root root     40 Jan 17 12:40 e7ac1df

[2021-01-21 06:26] rahulsehgal opened #4260 "Edge Runtime 1.0.10.4 is not working with Proxy And SSL Interception"
Hi Team,

We are using Azure IoT Edge with windows containers and we have proxy based environment for edge gateway. Our proxy has SSL interception which is certificate-based.

To test this scenario with Azure IoT Edge, I have setup the proxy using ssl interception in Fiddler in Windows and setup the same proxy in config.yaml. Also the certificate is added to the trust bundle in the host OS as well

[2021-01-21 07:35] sachidanand commented on #4241
Hi Team,
We have tested with this fix and It works for us .. Thanks for this ....

[2021-01-21 13:16] chr22 opened #4261 "TLS authentication error"
## Expected Behavior
Device <-> Cloud communication should be functional.

## Current Behavior
Device can't receive or send messages to IoTHub and throws an "TLS authentication error"

## Steps to Reproduce
It has happened a few times in our production environment and the only way I could get rid of the error was to delete the module from the Edge device and then set it up again in the IoTHub.

![

[2021-01-21 16:43] mschwan-phytec opened #4262 "edgeHub fails with permission error, CONFIG_EXT4_FS_SECURITY does not solve issue"
## Expected Behavior
The `edgeHub` container should run without permission error.

## Current Behavior
The `edgeHub` container fails with a permission error `System.Net.Sockets.SocketException (13): Permission denied`. This seems to be the same issue as https://github.com/Azure/iotedge/issues/9 and https://github.com/Azure/iotedge/issues/3974 but enabling `CONFIG_EXT4_FS_SECURITY` does not solve t

[2021-01-21 18:48] micahl commented on #4159
@imZack we're investigating a potential fix in edgeHub to avoid getting into this bad state.

[2021-01-21 19:07] kpm-at-hfi commented on #3819
Any status on this? I just tried again to upgrade `iotedge/stretch 1.0.10.4-1 armhf [upgradable from: 1.0.9.4-1]` and I'm seeing failures:

[code]

[code]

Also, as noted above, this is all working perfectly under `iotedge 1.0.9.4`, including the storage flagged as incorrect just above.

I'm using DPS and self-signed certs with an end date that should be fine (all working perfectly under 1.0.9.4):

[2021-01-21 19:11] kpm-at-hfi commented on #3819
Any status on this? I just tried again to upgrade `iotedge/stretch 1.0.10.4-1 armhf [upgradable from: 1.0.9.4-1]` and I'm seeing failures:

[code]

[code]

Also, as noted above, this is all working perfectly under `iotedge 1.0.9.4`, including the storage flagged as incorrect just above.

I'm using DPS and self-signed certs with an end date that should be fine (all working perfectly under 1.0.9.4):

[2021-01-21 19:36] kpm-at-hfi commented on #3819
Any status on this? I just tried again to upgrade `iotedge/stretch 1.0.10.4-1 armhf [upgradable from: 1.0.9.4-1]` and I'm seeing failures:

[code]

[code]

Also, as noted above, this is all working perfectly under `iotedge 1.0.9.4`, including the storage flagged as incorrect just above.

I'm using DPS and self-signed certs with an end date that should be fine (all working perfectly under 1.0.9.4):

[2021-01-21 19:38] davilu commented on #4252
Hi @ramakrpr  thanks for sharing edge hub and agent logs. Could you please share TemperatureSensor logs as well? Didn't see any device connect to edge hub from the log.

[2021-01-21 19:51] davilu commented on #4255
@SandeepThombare Thanks for reporting the issue. Let's start with [check edge hub status ](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot?view=iotedge-2018-06).

[2021-01-21 19:54] and-rewsmith commented on #3819
Yep, the support ticket came in this week and we were able to reproduce it. There is an open bug being looked at now and the fix will optimistically make it into our 1.1 release in the coming weeks.

[2021-01-21 19:59] kpm-at-hfi commented on #3819
Thanks @and-rewsmith... I appreciate the update. Is the open ticket linkable here (so I can follow along)?

[2021-01-21 20:02] and-rewsmith commented on #3819
@kpm-at-hfi Unfortunately the support ticket contains confidential information from the reporting customer, so we aren't allowed to share details.

[2021-01-21 23:01] davilu commented on #4262
@mschwan-phytec  Thanks for reporting the issue. By default UseKestrel() sets up ports 443 and 9600. Could you please double check if port 9600 is somehow occupied?

[2021-01-22 08:01] Sdelausnay commented on #3819
Thx for the info @and-rewsmith.L Keep me posted if you require any other information of if the fix will be implemented.

[2021-01-22 14:12] SandeepThombare commented on #4255
Hi @davilu ,

Please see attached logs of edgeAgent and iotedge status.
[Status iotedge.zip](https://github.com/Azure/iotedge/files/5856284/Status.iotedge.zip)

Can you also let me know how can I get the more detail logs related to DNS server configuration.

[2021-01-22 15:18] ramakrpr commented on #4252
@davilu  uploaded logs for sensor
[sensorlogs.txt](https://github.com/Azure/iotedge/files/5856719/sensorlogs.txt)

in the edge hub i can see the device connected and it says:
This device is being authenticated through a CA Certificate.
IoT Edge Runtime Response
200 -- OK

from the edge agent and hub i see that the certificates being used as well :

6> 2021-01-15 19:18:10.381 +00:00 [INF] - Install

[2021-01-22 15:49] niravjprabtani opened #4272 "IoTEdge is not downloading modules and iotedge check command shows port errors"
We are using IoT edge in one of our windows device. It doesn't install Edge Hub and other modules after initializing IoT Edge and provides port error as mentioned below.

We use DPS for provisioning with HSM (TPM 2.0). We have already opened all needed ports from the firewall and our network but still, it is not downloading the modules except edgeAgent.

## Expected Behavior
It should download edg

[2021-01-22 17:03] davilu commented on #4255
Hi @SandeepThombare  thanks for the info. Please help to get more details from edge status check:
1. sudo iotedge check: check connectivity, CA cert and configuration
2. sudo iotedge support-bundle --since 6h: create support bundle with all related logs
3. sudo nano /etc/iotedge/config.yaml: check configuration of edge, including proxy settings

[2021-01-22 17:30] davilu commented on #4252
@ramakrpr  Thanks for the details. We'll give you an update shortly.

[2021-01-22 19:05] davilu commented on #4260
@rahulsehgal  The problem is not on edge but C# SDK couldn't connect to IoT Hub through proxy with SSL Interception. The Wireshark analyzing doesn't mean decryption failed but this is an alert message, alert type code is 21 and alert message is encrypted so Wireshark  couldn't show it. Please refer to [SSL alert](https://community.cisco.com/t5/network-security/ssl-content-type-alert-21/td-p/121837