[2022-11-11 17:18] Punnpd commented on #6768
Do you mean the separated module outside of my main module?
or I can do it within 1 module?

[2022-11-11 18:12] #6679 closed

[2022-11-11 18:13] huguesBouvier commented on #6768
You can do it withing one module, but if that module is stopped the monitoring will stop too! It doesn't need to be in one module, it can also be a watch on the host.

[2022-11-11 18:18] huguesBouvier commented on #6767
Notice that here, you have gathered exactly 26 metrics. Which is the opposite of what we see in the metric collector logs:
[2022-11-09 06:50:25.935 INF] Scraping finished, received 26 metrics from endpoint http://edgehub:9600/metrics

You see that assigned to edgeHub and edgeAgent metric reversed.
I am not sure what's causing this. Can you try killing the container and check it is re-orders it?

[2022-11-11 19:17] jlian commented on #6701
@lfitchett have you had a chance to look at this?

[2022-11-11 22:49] andregodin opened #6777 "Error grabbing logs: log message is too large (2349467251 > 1000000)"
I'm trying to use Troubleshoot from the Azure Portal for a custom module deployed on an IoT Edge Device.

When I click of the Time range criteria and I check the "Enter time instead" to retrieve log of a specific period It gives me the error

**Error grabbing logs: log message is too large (2349467251 > 1000000)**

## Expected Behavior
I should be able to consult the Troubleshoot Logs

## Current

[2022-11-12 13:22] joproulx commented on #6756
@yophilav Thanks again for the reply.

We are still using the default Quickstart Edge CA on our devices. Could you please answer these interrogations:

- The doc indicates that we should replace the Quickstart Edge CA by our own CA certificate in prod environment. In our case, our IoT Edge device does not communicate with another IoT Edge device. All communications between our modules are therefor

[2022-11-14 06:29] TAMHAN opened #6778 "Visual Studio Code extension unaware of 1.3, 1.4"
## Expected Behavior
In Visual Studio Code, running " Azure IoT Edge: Set default IoT Edge runtime version."  SHOULD IMHO list 1.3 and 1.4.

## Current Behavior
Only 1.0, 1.1 and 1.2 are offered as shown in the screenshot.

![Screenshot from 2022-11-14 07-28-09](https://user-images.githubusercontent.com/15024709/201590383-aa23209b-f6a2-43c4-9c27-b55ac8057e0c.png)

## Steps to Reproduce

Provide a

[2022-11-14 06:37] TAMHAN opened #6779 "tutorial-develop-for-linux - Container start fails with error 500"
## Expected Behavior
Follow the tutorial at https://learn.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-linux?view=iotedge-1.4. Expect the tutorial to work as expected, and the SampleModule to start on the VM.

## Current Behavior
Module is registered on VM, but cannot start. When you check in the Azure Edge Agent logs on the backend, you get the following error:
System.AggregateExceptio

[2022-11-14 06:46] mtrensch commented on #6754
I've sent the PR for the journald part, but when looking deeper into it, it seems like all logging drivers, but the default json-file logger, do rotate logs automatically.

So maybe the following would be better instead of a separate match of "local" driver:
[code]

[2022-11-14 18:07] huguesBouvier commented on #6760
I'll close the issue, let us know if you need anything else!

[2022-11-14 18:07] #6760 closed

[2022-11-14 18:52] onalante-msft commented on #6686
Update: colleague said that deadlock is not impossible, but they had not seen this behavior before. I have not personally been able to reproduce this with `tc`, though this is not unexpected given that the customer setup is more complicated than what I can simulate. It would be easier to determine what is happening if there were debug logs; I suppose this is impossible given that these devices are

[2022-11-14 20:31] joproulx commented on #6756
@jlian Thanks for the reply.

Could you please confirm or infirm this assumption:

**The Quickstart Edge CA is used only for inter-modules and inter-devices communications?**

[2022-11-14 20:34] jlian commented on #6756
Edge CA (quickstart or otherwise) is used to issue module certificates, which critically include `edgeHub`, whose clients are other modules on the same IoT Edge device and downstream (AKA leaf or child) devices.

[2022-11-14 20:42] joproulx commented on #6756
Ok, and is the module certificate used to authenticate modules to the IoT Hub? Or its only use is to authenticate modules when communicating with each others (inside a device and between devices)?

[2022-11-14 20:48] jlian commented on #6756
No, Edge CA generates module *server* certificates. For IoT Hub, it's the device *identity* (client) certificate (and SAS keys generated off of it) https://learn.microsoft.com/en-us/azure/iot-edge/iot-edge-certs?view=iotedge-1.4#iot-hub-verifies-iot-edge-device-identity

Correct

[2022-11-15 06:57] bishal41 commented on #6768
@Punnpd could you also please share your feedback or feature request in this below forum? This was other folks can vote and we can prioritize accordingly. Thanks.
https://feedback.azure.com/d365community/forum/0e2fff5d-f524-ec11-b6e6-000d3a4f0da0# ?

[2022-11-15 15:14] #6777 closed

[2022-11-15 15:31] wvangeem opened #6783 "edgeHub and modules are not able to connect with AMQP or MQTT using modem connection"
## Behavior
I have an Ubuntu 20.04 device with integrated modem/LTE device.
When connecting with LAN cable everything works perfect, but when only when using the modem, the edgeHub and other modules fail to connect to IoTHub

## Current Behavior
On LAN cable, all protocols are OK when doing 'iotedge check'
As you can see in the 'iotedge check' below on modem connection only (LAN disconnected), the

[2022-11-15 17:57] huguesBouvier commented on #6777
Thanks!

Note for later tracking: I noticed that same issue in a customer provided support bundled.
I tried to repro the issue with a big log but didn't encounter the problem. It seems to repro inconsistently.

[2022-11-15 19:52] konichi3 commented on #6778
Thank you for reporting the issue. Including @PatAltimore for awareness.

This is [known issue](https://github.com/microsoft/vs-azure-iot-edge-docs/issues/43) and you can manually modify the deployment manifest to the target IoT Edge runtime.

We are currently working on the documentation across multiple articles to clarify.

[2022-11-15 20:34] nyanzebra commented on #6779
Working on replicating locally and will post findings as soons as available

[2022-11-15 20:35] nyanzebra commented on #6783
@varunpuranik have we seen this before? I will try to make a local setup... but want to know if team has ever encountered something like this before.

[2022-11-15 23:16] nyanzebra commented on #6779
I followed the same instructions and was not able to replicate this issue. One thing I can think of is within your solution, there should be a config folder with deployment.\<my arch\>.json. Does that all look correct? You should see at the top "registryCredentials" with your azurecr and credentials. If I had to guess I would say this might be wrong, especially if the edgeAgent and edgeHub modules

[2022-11-15 23:20] onalante-msft commented on #6686
I did some additional searching through the C# SDK, and it appears that WebSockets and cellular modems have a history of misbehaving when used together: https://github.com/Azure/azure-iot-sdk-csharp/issues/1720#issuecomment-768576789. Since the last reconnection attempt is with `Amqp_WebSocket_Only` and `Amqp_Tcp_Only` appears to work as-is, I would suggest fixing the upstream protocol to AMQP-TCP

[2022-11-16 02:14] onalante-msft commented on #6783
I stumbled across a SDK issue reporting connectivity problems with cellular modems while investigating https://github.com/Azure/iotedge/issues/6686: https://github.com/Azure/azure-iot-sdk-csharp/issues/1720.

[2022-11-16 07:28] wvangeem commented on #6783
I already tried to lower MTU without success. edgeAgent was not connecting anymore.
But as [#1720] [#6686] described, I could try with 1400 and lower down per 40.
Already the diagnostics container (iotedge check) is having problems connecting.
The iotedge check takes a long time on the failing protocols, probably a timeout.
But strange thing is that the AMQP check always goes quick and is OK.

[2022-11-16 18:26] PatAltimore commented on #6778
Thanks @TAMHAN ,

Until we release the documentation update, you can follow the steps to set the runtime version outlined in the CLI version of the article. https://learn.microsoft.com/en-us/azure/iot-edge/how-to-vs-code-develop-module?view=iotedge-1.4&tabs=c&pivots=iotedge-dev-cli#set-iot-edge-runtime-version

Thanks,
Pat

[2022-11-16 21:18] nyanzebra commented on #6783
@wvangeem a few questions:
1. It seems from above that edgeAgent works but edgeHub and other modules do not? Is this correct?
2. Are you wanting to use Websockets? You mentioned it doesn't work, but want to be sure if this is something you are wanting?
3. Just to make sure problem is understood, are you saying that everything works now with AMQP or that just iotedge check works but modules still d

[2022-11-16 21:51] bishal41 commented on #6740
@chriswue sorry for the delayed response here. I personally think this is a valid ask, but I am also afraid that we don't any near-term plan to integrate this feature. Dev team have acknowledged this issue. In the meantime, may I ask you create a feature ask or share this idea broadly in the community using this link https://feedback.azure.com/d365community/forum/0e2fff5d-f524-ec11-b6e6-000d3a4f0d

[2022-11-16 22:03] bishal41 commented on #6768
@Punnpd please let me know if you were able to share your feedback in the link I provided. We will periodically go over the feedback that we have received and prioritize them as needed. If you don't have any other questions, I will proceed and close this issue. thanks

[2022-11-16 23:12] nyanzebra commented on #6771
Hi @scout208, yes the null exception is not super useful in saying what is happening. My guess is you are wanting to do something similar to this: https://github.com/Azure/iotedge/blob/main/samples/dotnet/EdgeDownstreamDevice/Program.cs

Where you put in your custom connection string with x509=true. I assume you have all the certs created and installed correctly? Also would you mind using openssl

[2022-11-17 07:22] wvangeem commented on #6783
@nyanzebra:
1. It seems that only 1 module is able to connect. In the beginning I worked without startuporder, and then edgeAgent sometimes didn't connect. But indeed, using only celullar connection, edgeAgent connects, and edgeHub and custom modules do not connect.
2. I would prefer to use AMQP, but in fact we have no preference. If celullar connection would limit the choice of upstream protocol,

[2022-11-17 11:06] chatnoir1982 commented on #6767
Killed both edgeHub and edgeAgent and restarted. Logs snippet from the collector module after the modules restarted:

[2022-11-17 09:39:30.030 INF] Starting periodic operation Scrape and Upload Metrics...
[2022-11-17 09:39:30.030 INF] Scraping endpoint http://edgeHub:9600/metrics
[2022-11-17 09:39:30.031 INF] Scraping endpoint http://edgeAgent:9600/metrics
[2022-11-17 09:39:30.041 INF] Scraping fi

[2022-11-17 18:05] scout208 commented on #6771
@nyanzebra Thanks for the response. Unfortunately, my test certificates expired so I had to recreate them and I'm having trouble getting the test app setup correctly again. I'm just trying to test that the connection is working by using symmetric keys but even that is failing for me now. I have trouble understanding the exception messages. This is what I'm getting now.

`"error(condition:amqp:not-

[2022-11-17 18:30] chriswue commented on #6740
@bishal41 Done - https://feedback.azure.com/d365community/idea/a293d385-a566-ed11-a81b-000d3ae5ae95

[2022-11-17 18:37] chatnoir1982 commented on #6767
Yes, our custom module uses the IoTHub device SDK. And yes, all messages do arrive at the IoTHub.
We are seeing several metrics in the InsightsMetrics table, except the ones that drive the messaging visualizations in the workbooks are missing.

[2022-11-17 18:41] bishal41 commented on #6740
thanks @chriswue. We will review your ask and prioritize accordingly. It may take a while to get to this feature though, I just want to set up the right expectations Additionally, if other folks in the community are running into the same issue and they vote on your feedback, it will help us prioritize. I will now close this issue unless you have any additional questions. Thank you!

[2022-11-17 19:29] scout208 commented on #6771
Okay I figured it out. I was accidentally using the wrong connection string that's all that error was. Now I am back to where I started. I don't know how to check that all the certs are installed correctly. My leaf device is called LeafDevCASigned and I have these two certs installed in `Local Computer\Trusted Root Certification Authorities`

![image](https://user-images.githubusercontent.com/9426

[2022-11-17 19:56] veyalla commented on #6767
Does it use a module client or device client? Can you share the code snippet from your custom module that initializes the client?

[2022-11-17 20:49] jlian commented on #6756
@joproulx were you able to fix your original issue?

[2022-11-17 20:56] joproulx commented on #6756
Yes thank you @jlian.

We will keep the QuickStart Edge CA as all our inter-module communications are internal to our IoT device and we don't have inter-device communication.

And following[ this recommendation](https://github.com/Azure/iotedge/issues/6756#issuecomment-1314318584) should solve our issue of renewing this CA:
![image](https://user-images.githubusercontent.com/1434190/202557836-9d272

[2022-11-17 20:56] #6756 closed

[2022-11-17 20:57] jlian commented on #6756
Can you specify how did you solve the issue? Like you did `iotedge config apply`, and then the certs are now refreshed and no longer expired, and so everything is working again?

[2022-11-17 21:00] joproulx commented on #6756
Yes, exactly. `iotedge config apply` seems to renew the Quickstart Edge CA, hence fixing the original issue.

[2022-11-17 21:09] jlian commented on #6756
Ok, thanks. I've updated the release notes for [1.3](https://github.com/Azure/azure-iotedge/releases/tag/1.3.0) and [1.4 LTS](https://github.com/Azure/azure-iotedge/releases/tag/1.4.0) to call out this quirk in addition to our more general upgrade docs linked earlier.

![image](https://user-images.githubusercontent.com/2320572/202560128-3e603b8f-5886-47fe-9358-b1ae23f31a1a.png)

![image](https://u

[2022-11-17 21:52] thetanz-geoff opened #6786 "Request to re-open #6685"
I am unable to fulfill @raisalitch's request that I re-open #6685 due to outstanding concerns. Please refer to details on that issue.

[2022-11-17 21:56] veyalla commented on #6685
Adding @nyanzebra who is looking into the area of layered deployments.

[2022-11-17 21:57] ancaantochi commented on #6742
@TPE-TIGER
I am unable to reproduce the issue with version 1.2.7. The hostname as IP shouldn't cause issues for modules connecting to edgeHub because they are in the same docker network by default and use the alias to resolve it.
Can you please run below commands and provide results:
   `sudo docker inspect edgeHub `   (just part that contains networks section is needed)
   `sudo docker network in

[2022-11-17 22:02] thetanz-geoff commented on #6786
Now re-opened by @veyalla. Thanks!

[2022-11-17 22:12] nyanzebra commented on #6786
Can this be closed @thetanz-geoff now that 6685 is reopened?

[2022-11-17 22:21] thetanz-geoff commented on #6786
Yes, my previous comment should have closed it. Odd behaviour.

[2022-11-17 22:21] #6786 closed

[2022-11-17 22:42] yophilav commented on #6748
@fcabrera23
Thank you for your help :)

@sitaalbeMarp
When in doubt, you can always append `--help` to the end of iotedge cli i.e. `iotedge check --help`.
There you'll see there is an option
[code]

Please give that a try against your NTP server.

[2022-11-17 23:20] nyanzebra commented on #6685
@thetanz-geoff I have been trying to replicate something like this all day to no avail, so want to go through the exact steps for repro :)

1. Create a device in Hub
2. Create 1 deployment (layered) with say priority 100
3. Make sure edgeAgent has default value of NonBlocking for ModuleUpdateMode
4. verify both deployments were successful
5. Create another deployment (layered) with same priority (

[2022-11-17 23:38] nyanzebra commented on #6783
@wvangeem from the attached logs I see this for edgeagent, which tells me that this device only has edgeAgent and edgeHub at the moment? Would you mind trying to create a deployment by clicking on what is highlighted in picture and then do a review+create?
![image](https://user-images.githubusercontent.com/6096983/202582872-29c577dc-908f-4a82-bf99-81dfb84359dd.png)

[code]

[2022-11-18 00:37] nyanzebra commented on #6779
@TAMHAN ping on my above comments :) want to confirm above

[2022-11-18 06:30] sitaalbeMarp commented on #6748
Dear @yophilav ,
as shown in the above images in the thread, I've already tested the --ntp-server <NTP_SERVER> option but there is a socket error.
Please see this (I have removed the proprietary url): https://github.com/Azure/iotedge/issues/6748#issuecomment-1297177789

I have configured chrony but it seems to me that the tool iotedge check is not able to communicate with the ntp server.

I am usi

[2022-11-18 06:47] chatnoir1982 commented on #6767
We use a ModuleClient to send events to :

` ITransportSettings[] settings = { new AmqpTransportSettings(TransportType.Amqp_WebSocket_Only) };
_moduleClient = ModuleClient.CreateFromConnectionString(GetConnectionString(), settings);
 _moduleClient.SendEventAsync(message, cancellationToken);`

[2022-11-18 07:28] wvangeem commented on #6783
@nyanzebra
There are already 2 custom modules deployed, named Simulator and APIServer.
You can see this in the edgehub_log1.txt:

[code]

I also copied the configuration below:

![image](https://user-images.githubusercontent.com/72979554/202645361-f9121786-958a-4efc-92cf-5d72c7e40e4f.png)

[code]

[2022-11-18 10:47] FinitelyFailed opened #6788 "IoT edge runtime 1.4.2 custom modules are "Module Identity"s for a really long time in the iot hub"
Hi,

There seems to be a difference between how IoT Edge runtime 1.2 and 1.4 works when it comes to reporting custom modules to the IoT hub.

When a device running 1.2 gets custom modules via a layer deployment they quickly becomes "IoT Edge Custom Module".
However when a device running 1.4 (1.4.2) gets custom modules via a layer deployment they stay "Module Identity"s for a long time, 10+ mins. U

[2022-11-18 18:07] #6740 closed

[2022-11-18 18:40] nyanzebra commented on #6783
@wvangeem Thanks for the clarification, to get a few more data points.

1. Would you mind clarifying the network layout a bit more between the LAN and modem? Do you mean that you have some network device (say modem/router of a home network for example) that is partitioned into a LAN for a set of devices and that works with iotedge and then another that is directly connected to network via cable an

[2022-11-18 18:45] veyalla commented on #6767
Using `CreateFromConnectionString` is not the best practice for an Edge module and I suspect your code is bypassing the edgeHub completely and directly talking to IoT Hub that is not recommended. This would explain the missing metrics.

Please use `CreateFromEnvironmentAsync` API to initialize the module client in our custom module.

See example: https://github.com/Azure/iotedge/blob/b9d793ace0e06

[2022-11-18 20:41] nyanzebra commented on #6788
@FinitelyFailed just to make sure I understand the probelm correctly

You have recently done a 1.2 deployment and see the custom modules get reported quickly in hub. However when using 1.4 it takes ~15 to show up?

Would you mind also explaining a bit about your setup? OS, nested/single device, proxy, etc?

Would also be great if this is reproducible to share edgeAgent logs, edgeHub logs and the r

[2022-11-18 21:29] micahl commented on #6788
@nyanzebra we have https://github.com/Azure/iotedge/commit/e43cdc91a7969d8029c679d2b169f0682bf65e18 to fix an issue where the initial update to reported properties was delayed.  The fix is pending the next 1.4.x patch release which is in testing right now.  Not sure if it's the same issue here.

[2022-11-18 22:15] nyanzebra commented on #6771
@scout208 That does look like it is correct then, would you mind sharing what example or documentation you were following to get this setup? I will locally repro your steps and see if can get same results. Thanks!

[2022-11-18 22:57] thetanz-geoff commented on #6685
Discussion progressed with @nyanzebra via MS support channels. Edge device at issue was demonstrated. Edge Agent restart performed but since it came back up, the same issue persists.

In a couple of days the iot edge service on the device will be restarted, and if that doesn't help, we'll restart the device itself.

Looking forward to Robert's further investigation.

[2022-11-19 00:55] yeonhooy opened #6791 "Error: container on the default network can connect to upstream HTTPS / WebSockets port"
## Expected Behavior
Create Edge Agent and Edge Hub when the device is child device (low layer device).

## Current Behavior
Runtime is not working due to the "container on the default network can connect to upstream  HTTPS / WebSockets port" is failed.
TLS (HTTPS, MQTT, AMQP) connections success.
Please check my Output of iotedge check logs.

In device's config.toml, I set parent_hostname as gate

[2022-11-19 12:26] FinitelyFailed commented on #6788
@nyanzebra in the iot hub we have:

- A deployment with edgeAgent and edgeHub 1.2.8, which targets devices with some specific tags on the twin. So that a device running runtime 1.2.6 will get targeted.
- A deployment with edgeAgent and edgeHub 1.4.2, which targets devices with some other specific tags on the twin. So that a device running runtime 1.4.2 will get targeted.
- A layer deployment conta

[2022-11-21 07:45] TPE-TIGER commented on #6742
The device OS is Debain 9, which not capble for AIE 1.3+

sudo docker inspect edgeHub
"NetworkSettings": {
            "Bridge": "",
            "SandboxID": "d18c9c2c2dd3cce67fb44faae09a11fc2fbce0c7ad8f77119ca1fc8a200cd1d6",
            "HairpinMode": false,
            "LinkLocalIPv6Address": "",
            "LinkLocalIPv6PrefixLen": 0,
            "Ports": {
                "1883/tcp": null,

[2022-11-21 07:50] wvangeem commented on #6783
@nyanzebra Thanks for the follow-up. Here are the answers to your questions.
1. Network Layout
The Welotec Arrakis MK3 is an industrial device.

![image](https://user-images.githubusercontent.com/72979554/202989155-1262a881-f627-4ac6-93a3-0d8500d43a9b.png)

It has integrated LAN-ports and modem. As you can see, there are 2 LAN ports, enp3s0 and enp4s0

[ipaddr.txt](https://github.com/Azure/iotedge

[2022-11-21 16:20] scout208 commented on #6771
@nyanzebra I setup the gateway using [this guide](https://learn.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway?view=iotedge-2018-06&tabs=eflow). Then I setup the downstream device using [this guide](https://learn.microsoft.com/en-us/azure/iot-edge/how-to-authenticate-downstream-device?view=iotedge-2018-06) with one of the X.509 authentication options. I've tried both self-sig

[2022-11-21 18:57] veyalla commented on #6767
Glad you were able to get past the issue. If possible, please leave the feedback on the doc using the links at the end of the doc so that it can be tracked. Thanks!

[2022-11-21 18:57] #6767 closed

[2022-11-22 01:14] nyanzebra commented on #6685
@thetanz-geoff one quick update is I have tried to see if I have any issues with large images as I understand `b` and `p` to be ~1-2GiB. I tried with a 3GiB image and it worked fine, just to see if there were any timeout issues. I am now trying a layered deployment with updated version and will see if that works. Will also chat internally with team to see if there are any other ideas.

[2022-11-22 13:58] raza707mirza commented on #6638
@micahl Its working for me.Thank you

[2022-11-22 19:22] bishal41 commented on #6768
Closing this issue. @Punnpd please do submit a feedback request using the link I provided if you haven't already done so and feel free to open this issue if needed. Thank you!

[2022-11-22 19:22] #6768 closed

[2022-11-22 22:23] nyanzebra commented on #6791
@yeonhooy to be clear you have a nested edge setup and want to use web sockets for connection from child to parent? When trying to connect child to parent with AMQP or MQTT it works, but websocket fails. Do you see on parent device calls to fetch the modules? There should be an API Proxy configured which can route requests. I assume there will be some errors in the logs there or maybe no requests

[2022-11-22 22:24] nyanzebra commented on #6788
@FinitelyFailed seems we might have a new release soon 1.4.3. Would you mind upgrading and seeing if that resolves your problem?

[2022-11-22 23:22] nyanzebra commented on #6779
@TAMHAN ping again :)

[2022-11-23 00:45] nyanzebra commented on #6783
@wvangeem

So, from tcpdump it seems that connections happen with amqp but end almost immediately. Basically getting a packet or two and then stopping...

So I think next steps are this:
1. try to do an openssl connect from host with upstream and see if host is able to get certificate (if that fails that at least points in the right direction); might be good to try with both LAN and modem
2. If ca

[2022-11-23 05:53] yeonhooy commented on #6791
@nyanzebra Hi, thanks for response. I also think that the API Proxy connection has a problem. Because I opened 443 port of parent device to listen the API request of child device.  The check logs also said that the 443 port (HTTPS / WebSockets port) connection is wrong. However, I was so weird that TLS connection of 443 port works well..
By the way.. good news is that I solved that problem..
I app

[2022-11-23 14:49] TAMHAN commented on #6779
Hello,
sorry for being slow. I am still in West Germany, away from my deployment which lives on the machine in Budapest.

I promise, when I come back, I look at it immediately.

On November 23, 2022 12:22:28 AM GMT+01:00, Robert T Jang ***@***.***> wrote:

With best regards
Tam HANNA

--
Enjoy electronics, 3D printing and cigars? Join more than 21000 followers on my Instagram at http://www.instagr

[2022-11-23 15:21] wvangeem commented on #6783
@nyanzebra

I executed `openssl s_client -connect iothub:8883`
I hope it's the command you suggested. I added the printed data below.
This was with modem only:
[openssl.host.mqtt.txt](https://github.com/Azure/iotedge/files/10076718/openssl.host.mqtt.txt)
As `iotedge check` points out, it is never a problem on the host.
I tried it inside the edgeHub container, but it is missing the openssl command.

[2022-11-23 22:27] nyanzebra commented on #6779
@bishal41 assigning to you for now while customer in unresponsive, if requires further input from team please ping :)

[2022-11-23 22:29] nyanzebra commented on #6685
@thetanz-geoff As spoken offline, things seem to be working with the only action item being a feature request for seeing if need to clear space for new images on device (@bishal41 tag for feature request). If this is all correct, should we close this issue or are there additional asks/issues?

[2022-11-23 22:32] nyanzebra commented on #6791
@varunpuranik tagging,

Reassigning to @and-rewsmith

[2022-11-23 22:56] nyanzebra commented on #6783
@wvangeem

Interesting that it stops working like that... there does seem to be a maybe similar issue here: [Docker Compose Networking Issue: TCP Request Stops Sending - Open Source Projects / Compose - Docker Community Forums](https://forums.docker.com/t/docker-compose-networking-issue-tcp-request-stops-sending/125922)

Also, looking at the support bundles and previous info, it seems that docker

[2022-11-23 23:44] and-rewsmith commented on #6791
@yeonhooy The order of starting the runtime on parent / child device should not matter. Some questions:
1. I see you have fixed the problem. Is it possible that you can get the devices back into this state where iotedge web sockets check fails?
2. If you can reproduce the failure, or if you did check the parent device's api proxy logs, can you paste those logs here?
3. When the devices were in a p

[2022-11-24 01:34] yeonhooy commented on #6791
@and-rewsmith Thanks for response.
 1. Yes, before I mentioned, if I start parent device's runtime first, then the web sockets check goes back fail.
 2. I attach the parent's proxy log file when the error exists.
 [yhdev1_IoTEdgeAPIProxy_Logs.txt](https://github.com/Azure/iotedge/files/10080172/yhdev1_IoTEdgeAPIProxy_Logs.txt)
 3. "100 time" means that I tried the 100 times for restarting the iote

[2022-11-24 08:05] matsujirushi opened #6798 "[RasPi buster] libseccomp2 (>= 2.5.0) but 2.3.3-4 is to be installed"
## Current Behavior

Moby-engine cannot be installed because a newer version of libseccomp2 cannot be installed.

## Steps to Reproduce

**Summary:**

[code]

**Detail:**

[code]

## Context (Environment)

Raspberry Pi OS buster 2022-09-22

## Additional Information

The version of libseccomp2 for buster seems to be up to 2.3.3-4.

https://packages.debian.org/buster/libseccomp2

[2022-11-24 15:08] FinitelyFailed commented on #6788
@nyanzebra with 1.4.3 this issue seems to be resolved. Thanks. :)

[2022-11-24 15:08] #6788 closed

[2022-11-25 11:34] niravjprabtani opened #6799 "Module gives transient network issue while initialization and work only if we restart edgeAgent"
## Expected Behavior
The modules are not initializing and give the below-mentioned error. It works only if we manually restart the edgeAgent container.

## Current Behavior
Modules should work fine after the device reboot and service restart

[code]

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. It is an intermittent issue and not having any specific steps to repro

[2022-11-28 09:17] klaas-thoelen commented on #6555
Is there an ETA for the Ubuntu22.04 support? Would help a lot in planning our upcoming maintenance/upgrade round.
Thanks for the efforts!

[2022-11-28 18:04] bishal41 commented on #6685
Hi @thetanz-geoff could you please open up a feature request using the below link and provide your use case and impact? https://feedback.azure.com/d365community/forum/0e2fff5d-f524-ec11-b6e6-000d3a4f0da0#

[2022-11-28 19:05] bishal41 commented on #6779
@TAMHAN wanted to follow up on this issue, were you able to look at the suggestions? Any new update?

[2022-11-28 19:48] ancaantochi commented on #6741
@emibcn
I am sorry for the delayed reply. I was not able to reproduce the issue, I tried to upgrade edgeAgent from 1.2.10 to 1.4.2 or 1.4.3
The user 13622 should be created when edgeAgent starts, unless it already exists in which case the ownership change should work. From your logs it looks like the user already exists because it doesn't have log line "Creating UID 13622 as edgeagentuser" before

[2022-11-28 20:39] and-rewsmith commented on #6791
@yeonhooy Thanks for the information.

I looked at the IoTEdgeAPIProxy_Logs.txt file you shared. Is this log line and ip address from the child device where you ran iotedge check?
[code]

[2022-11-28 21:05] micahl commented on #6555
@klaas-thoelen best case scenario is by end of this year.  Sometimes unknowns appear when adding a platform that make including it less linear.

Cc @damonbarry

[2022-11-28 21:44] ancaantochi commented on #6742
the network settings look correct,
- does this issue only reproduce when you set IP for hostname?
- do you want to set edge as gateway or why do you use the IP?
- could you please set debug logs for docker and send those logs while failing? To enable debug logs on docker:
`sudo vi /etc/docker/daemon.json`

add lines to file:
[code]

restart docker:
`sudo systemctl restart docker`

get docker logs:

[2022-11-28 21:48] DamianSuess commented on #6555
That would be a wonderful (post) Christmas gift. Thank you, @micahl

[2022-11-29 00:10] and-rewsmith commented on #6798
@matsujirushi I recommend doing an uninstall of all the packages (and their listed dependencies in output above). Reinstall from a clean step and I am interested in whether this reproduces. If it does try downgrading versions.

@cpuguy83 Do you know what could be going wrong here? Could it be that the latest version of moby-engine is not compatible with Buster due to this libseccomp2 requirement?

[2022-11-29 00:12] and-rewsmith commented on #6798
Actually above you have the following steps:
[code]

This deb link needs to be the appropriate link for buster.

[2022-11-29 00:19] and-rewsmith commented on #6799
@niravjprabtani 1.1 LTS reaches EOL in a matter of weeks. Taking a step back from this specific issue, if you want to be supported going forward, we recommend upgrading to 1.4 LTS.

Are you open to upgrading to 1.4 LTS to see if it fixes your issue? I have never heard of this occurring on 1.4.

[2022-11-29 02:08] yeonhooy commented on #6791
@and-rewsmith yes, `client: 20.198.169.15` is child device's Ip address.

[2022-11-29 07:41] TPE-TIGER commented on #6742
- Correct, only happens on IP for hostname
- I am able to setup Azure IoT Edge as transparent and nested gateways by private DNS successfully. However, I would like to remove private DNS by set IP for hostname.
- Actually, lower Azure IoT Edge (edgeHub) did connect to upper Azure IoT Edge (edgeHub) by set IP for hostname without issue, but not for custom module.

docker.log
[docker.log](https://gi

[2022-11-29 08:02] klaas-thoelen commented on #6555
That is very helpful, thanks @micahl

[2022-11-29 08:13] #6798 closed, assigned to and-rewsmith

[2022-11-29 08:37] matsujirushi opened #6800 "[RasPi buster] aziot-edge_1.2.9-1_armhf.deb is not a valid archive"
## Current Behavior

aziot-edge cannot be installed.

## Steps to Reproduce

**Summary:**

[code]

**Detail:**

[code]

## Context (Environment)

Raspberry Pi OS buster 2022-09-22

## Additional Information

https://packages.microsoft.com/debian/10/prod/pool/main/a/aziot-edge/

Is aziot-edge_1.2.9-1_armhf.deb corrupted?

[code]

[2022-11-29 12:25] niravjprabtani commented on #6799
@and-rewsmith, First of all, thank you for showing interest here !!

As far as I understand here the last release for windows OS (windows container - moby engine) is 1.1.15 ? https://github.com/Azure/azure-iotedge/releases/tag/1.1.15

Please correct me If I am wrong, and we are not using az iot.

[2022-11-29 17:24] and-rewsmith commented on #6799
Sorry I didn't understand this bit. What do you mean by az iot and what is this a response to?

That is correct, but we have migrated our windows users to EFLOW running on windows. There are docs for how to set that up here:
https://learn.microsoft.com/en-us/azure/iot-edge/iot-edge-for-linux-on-windows?view=iotedge-2018-06&preserve-view=true

[2022-11-29 20:32] frankvdbh opened #6802 "Configure MTU on azure-iot-edge network"
I am trying to deploy a custom module that is setting up a VPN Connection.

I am investigating an issue with packet loss which might be related to MTU settings.
For this reason I want to lower the default MTU of the azure-iot-edge network.

Based on the documentation provided here: https://github.com/Azure/iotedge/blob/main/doc/networking.md
This should be possible by configuring moby engine out o

[2022-11-29 23:26] ancaantochi commented on #6742
unfortunately I am not able to reproduce this issue and from docker logs I didn't see anything helpful to identity the root cause. can you please provide a tcpdump.

first, please run `ifconfig` and check that interface br-57b500f0618a exists (based on previous network inspect that you sent that should be there)
then run tcpdump:
`sudo tcpdump -c 1000 -nn -i br-57b500f0618a`

[2022-11-29 23:29] ancaantochi commented on #6596
I will close this issue since it doesn't reproduce with 1.4.2 and also a fix for other possible issue when using python SDK was released in 1.4.3. Please reopen if it reproduces again with 1.4.2/1.4.3

[2022-11-29 23:29] #6596 closed

[2022-11-29 23:32] ancaantochi commented on #6503
closing this issue because no activity, please reopen if issue persists.

[2022-11-29 23:32] #6503 closed

[2022-11-29 23:36] ancaantochi commented on #6505
issue fixed in 1.4.1 release

[2022-11-29 23:36] #6505 closed

[2022-11-30 01:58] nyanzebra commented on #6771
@scout208 I am back from holiday and going through the steps to try to repro, will let you know how it goes tomorrow :)

[2022-11-30 05:00] arsing commented on #6802
It's not possible to configure the MTU via the IoT Edge config. The dockerd API for creating networks is https://docs.docker.com/engine/api/v1.41/#tag/Network/operation/NetworkCreate . Out of that, the IoT Edge config lets you specify the `EnableIPv6` value and the `IPAM` object, but what you want to configure is the `Options` object.

So yes, creating the network yourself is the way to go.

The "

[2022-11-30 05:24] TPE-TIGER commented on #6742
Here come with tcpdump.
[br-57b500f0618a.log](https://github.com/Azure/iotedge/files/10119746/br-57b500f0618a.log)

[2022-11-30 05:33] arsing commented on #6800
It does seem to be busted:

[code]

But perhaps the bigger question is why it's only v1.2 even though we've released lots of new releases since then.

@damonbarry @yophilav @micahl Do you know why the Debian 10 packages on packages.microsoft.com are so old?

[2022-11-30 06:00] niravjprabtani commented on #6799
@and-rewsmith  We have certain limitations with EFLOW and we are working on it.  We have several devices in production which are getting transient network issues, It works fine only after edgeAgent restart.

Not sure, what exactly I am doing wrong. I have one machine where this scenario is reproducible. Can we get into the team calls or something to look into it? or I can help you with some more l

[2022-11-30 06:28] micahl commented on #6800
@arsing we originally intended to add Debian 10 and published a version before we learned of an issue on Buster that affected arm32 and decided against going further.  Dunno why that package would be broken.  Given that it is we should consider unpublishing it rather than leaving it up.

@matsujirushi see the _Known issue: Debian 10 (Buster) on ARMv7_ described in the [release notes for 1.3](https

[2022-11-30 08:16] frankvdbh commented on #6802
Many thanks!
I indeed removed the containers explicitly now and then they take the manually created network.
The MTU setting also fixed my original issue.

[2022-11-30 08:16] #6802 closed

[2022-11-30 11:59] TAMHAN commented on #6778
Hello Pat,
sorry for being slow in responding here. I was traveling to West Germany...

So, if I understand this correctly, I edit the deployment file like so:
...
"systemModules": {
    "edgeAgent": {
    ...
        "image": "mcr.microsoft.com/azureiotedge-agent:1.4",
    ...
    "edgeHub": {
    ...
        "image": "mcr.microsoft.com/azureiotedge-hub:1.4",
    ...

[2022-11-30 16:31] PatAltimore commented on #6778
Hi @TAMHAN ,

I hope you had a great trip. Yes, that's right. You need to update your deployment manifest and change the image version to 1.4. The ellipsis ... is intended to remove irrelevant sections of the manifest file. You just need to change the two "image" lines in the manifest.

The documentation update has been published. You should see a similar explanation in the article now.

Thanks,
P

[2022-11-30 22:08] micahl commented on #6799
@niravjprabtani please open a support ticket if you wish to pursue further investigation on the 1.1.  But be aware the most likely outcome will be you need to move to 1.4.  Practically speaking there are only a few days left for servicing the 1.1 b/c of the time it takes to test changes and prep a release.

If you have a hard dependency on using Windows containers then take a look at this (if you

[2022-11-30 22:24] YarekTyshchenko commented on #6503
Dots are valid in env var names on Linux, however, the advice may be to avoid them. I also see issues from cross platform support.

Still, iot edge is there to deploy other software, it shouldn’t validate things that it doesn’t use. Or at least not be this strict about it given the fact that overriding log levels is common in dotnet