[2019-10-17 07:07] kajakIYD commented on #1815
Hi @kkdawkins ,
I am currently trying to reproduce the error. As soon as the error appears, I will put some updates in the topic.

[2019-10-17 12:58] AzTrainIoT commented on #1856
Hi darobs,

I need to direct all network traffic from the IoT edge solution including the module containers and IoT edge daemon to a specific network interface on the device that has public internet access.

I know I can  configure the module containers through docker settings but I am unclear on how/if I can configure the daemon, according to the network diagram on the following URL it looks like

[2019-10-17 20:06] kkdawkins commented on #1815
Sounds great, @kajakIYD ! I will let @darobs close this issue in the meantime if he wishes to.

[2019-10-17 20:27] #1860 closed

[2019-10-17 21:03] darobs commented on #1852
@veyalla Is there a clarification we can make to the document linked above?

[2019-10-17 21:32] darobs commented on #1865
Thank you for reporting this.  Will spend some time investigating this.

[2019-10-17 22:14] yophilav opened #1868 "Dummy Test GitHub Webhook Issue 5"
Brace yourself for more bug reports

[2019-10-17 22:21] #1868 closed

[2019-10-17 23:36] #1859 closed

[2019-10-17 23:41] yophilav commented on #1859
GitCOmmentingTest

[2019-10-18 00:16] yophilav commented on #1859
GitCOmmentingTest

[2019-10-18 00:27] lfitchett opened #1870 "Test vsts integration"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Win

[2019-10-18 10:13] kajakIYD commented on #1815
Finally, now I can precisely determine what is causing the problem (and I hope it is the only cause of the problem I faced).
Specific circumstances should arise, so read carefully :)
The problem is, that Moxa boots up with wrong date and time (probably with build time of the OS?). Moxa is able to connect to the Internet after a _little while_ after boot because it has GSM module, signal strength i

[2019-10-18 15:24] josiahlaivins opened #1872 "HostConfig Mounts: Settings not Updating"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1-d1a1-e89a769a0908
* Version Independent ID: 50a5190e-eafa-7dde-c18f-be9505b00a0a
* Content: [Declare modules and routes with deployment manifests - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/module-composition)
* Content Source: [arti

[2019-10-18 16:16] #1870 closed

[2019-10-18 16:27] darobs commented on #1872
Hello @josiahlaivins

Thanks for reporting this.

Is this a problem for Windows with Windows containers? Linux containers on Windows is[ not recommended for production](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows-with-linux).

[2019-10-18 16:51] kkdawkins commented on #1815
@kajakIYD  Good findings! :) I shared what you have written with our PM team, perhaps there is something in the product that we can do to improve this experience?

In the meantime, we were wondering if putting a systemd dependency on NTP (so iotedged starts after NTP) would solve your problem?

[2019-10-18 17:15] darobs commented on #1801
Hello @somme89

If you have support, you could create an Azure Support Center ticket and provide the date and time of the trouble you were seeing. Our customer service engineers can see if there were any known problems with the service in that time frame.

[2019-10-18 17:21] darobs commented on #1814
Hi @viktoreinarsson,

Could you clarify the issue here?  Is this related to the IoT Edge Development tooling?

[2019-10-18 17:28] yophilav commented on #1861
More comment

[2019-10-18 17:34] darobs commented on #1832
Agree with @MPapst - this would be best served by pushing new module images and updating the module image tag in the Edge Deployment.

Otherwise, updating files in a container and committing the changes is currently permitted, but we may have attestation in the future, which would prevent an altered container from being used.  It's not considered best practice.

[2019-10-18 17:34] #1832 closed

[2019-10-18 17:47] darobs commented on #1851
Darn,

Are you able to provide edgeHub logs?  It would also be useful to get version information:

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Windows IoT Core]:
* Architecture [e.g. amd64, arm32, arm64]:
* Container OS [e.g. Linux containers, Windows containers]:

### Runtime Versions
* iotedged [run `iotedge version`]:
* Edge Agent [image tag (e.g. 1.0.0)]:
* Edge Hub [ima

[2019-10-18 18:41] yophilav commented on #1861
Add a comment

[2019-10-18 18:47] yophilav commented on #1861
Add more comment 1

[2019-10-18 19:55] yophilav commented on #1861
New Comment!

[2019-10-18 20:39] yophilav commented on #1861
IS this working?

[2019-10-18 21:43] yophilav commented on #1861
Adding a comment here

[2019-10-18 21:46] #1861 closed

[2019-10-18 21:54] yophilav opened #1874 "Dummy Bug Report Test Final?"
Updating body of the issue

[2019-10-18 21:55] yophilav commented on #1874
Update comment.

[2019-10-18 21:56] #1874 closed

[2019-10-19 00:04] yophilav opened #1877 "Dummy Test Github issue open"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Win

[2019-10-19 00:06] yophilav commented on #1877
One more comment...

[2019-10-19 01:50] #1877 closed

[2019-10-19 01:51] yophilav opened #1879 "Dummy Test GitHook"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Win

[2019-10-19 05:56] keshava-hm commented on #1851
Hi @darobs , I've updated the root cause for the issue and few questions in other thread. Kindly help me on that. I'm closing this issue now.

[2019-10-19 17:05] iotrock commented on #1846
Hi, @SLdragon,@shizn,@adashen
Changed contextPath in module.json of the project, here is snapshot for reference
![error](https://user-images.githubusercontent.com/49762230/67148655-752bf080-f2bf-11e9-8924-7f46734dd39f.JPG)
After that build the module using Build IoTEdge module, again got error message
**[ERROR]: Build docker image failed:COPY failed: no source files were specified**
and screenshot

[2019-10-19 18:30] iotrock commented on #1846
Hi @darobs,@SLdragon,@shizn,@adashen Any update on this issue ???

[2019-10-21 04:13] veyalla commented on #1424
@alexcpn We're preparing a public preview refresh of Kubernetes support in Nov which should address your requirements.

Could you please reach out to me at veyalla@microsoft.com? I'd like to understand a bit more about your use case and plans around leveraging this support.

[2019-10-21 14:56] asergaz commented on #1851
@keshava-hm please reopen the issue here so that we continue the troubleshooting. Thanks!

[2019-10-21 15:14] keshava-hm commented on #1851
@asergaz As I explained in the other thread, I face issues if I create a new edge module as per the documentation and try to receive Data from simulated temperature sensor. Can you please check if this issue is happening in your build system as well? The issue is happening only with Visual studio and not with visual studio code. Thank you.

[2019-10-21 15:16] asergaz commented on #1851
@keshava-hm please can you provide the info requested by @darobs as well? Thanks!

[2019-10-21 15:47] josiahlaivins commented on #1872
Thanks for the response @darobs

From all that I have seen, the only away around this is manually executing docker commands to do the reset. _**This will be a massive problem soon once we have a large number of devices.**_

Perhaps having root script execution on Module deployment could fix this / provide more flexibility. I do not think docker-compose has anything quite like this, so if IoTEdge p

[2019-10-21 16:23] #1815 closed

[2019-10-21 16:31] keshava-hm commented on #1851
@asergaz oops. I missed that post. Sorry.

Here's the info:
Host OS: Win10
Arch : amd64
Windows containers

Will update the other informations in sometime..
Thanks.

[2019-10-21 17:27] josiahlaivins opened #1882 "Deploy when ready"
We have some docker containers that will be doing critical processing. The last thing we want is for a Module to be processing some data, and then reset mid-process due to a new deployment (such as an updated image).

Is there a way to only update a module when the module says it is safe to update?

[2019-10-21 19:06] CindyXing commented on #1882
Thanks for the question.

We don't have this capability when deploying/running containers on a single node. One possible workaround is to deploy a new module and use the --volumes-from <container> in the option. This is hacky though.

Can you elaborate more of the scenarios you are trying to achieve? It is useful for us to evaluate the priority when planning.

[2019-10-21 20:10] josiahlaivins commented on #1882
For example we have a user/machine drop a csv into a volume. The Module is going to load the csv and begin processing it then output a processed csv. We would like the Module to indicate that it is in the middle of processing that csv, and only be updated once it indicates it is no longer processing anything.

While we could do some form of caching, we really need the module to only update/restart

[2019-10-21 20:40] lt72 commented on #1843
@futurexpe thank you for your request we will definitely include that in our planning and prioritize  accordingly. Closing the issue for now, please feel free to re-open if you have any further question.

[2019-10-21 20:40] #1843 closed

[2019-10-21 20:50] lt72 commented on #1700
@pratson20 please feel free to give 1.0.8.2 (or the later 1.0.8.3 shipped on 10/18/2019) a try. Feel free to reopen the issue in case.

[2019-10-21 20:50] #1700 closed

[2019-10-21 20:52] lt72 commented on #1738
@prmathur-microsoft FYI

[2019-10-21 20:55] lt72 commented on #1475
@dmolokanov Can you please check that this issue is ported to the k8s preview and let the customer know?

[2019-10-21 20:58] lt72 commented on #900
Closing the issue for now, please feel free to reopen if necessary.

[2019-10-21 20:58] #900 closed

[2019-10-21 21:28] veyalla commented on #1613
@jackt-moran Closing this based on our offline conversation.

Note, we just released [1.0.8.3](https://github.com/Azure/azure-iotedge/releases/tag/1.0.8.3) which fixes a corner case condition where message loss may occur. Please use edge hub 1.0.8.3 as it is the most stable version with least known issues yet.

[2019-10-21 21:28] #1613 closed

[2019-10-22 02:42] SLdragon commented on #1846
Hi, @iotrock, you should also change your Dockerfile.
When you changed your contextPath to "../", then the docker build context folder is the solution root folder, so you should also change the path reference in your Dockerfile

For example, you need to change COPY command as below:

[code]
to
[code]

You can also check other parts and change the path accordingly.

[2019-10-22 04:29] keshava-hm commented on #1851
Additional info requested:
 iotedge version
iotedge 1.0.8 (208b2204fd30e856d00b280112422130c104b9f0)

edge agent : mcr.microsoft.com/azureiotedge-agent:1.0
edge hub: mcr.microsoft.com/azureiotedge-hub:1.0
docker version
Client:
 Version:           3.0.5
 API version:       1.40
 Go version:        go1.12.1
 Git commit:        ba9934d4
 Built:             Thu Apr 18 22:01:41 2019
 OS/Arch:

[2019-10-22 05:26] iotrock commented on #1846
Hi @SLdragon, Updated "COPY "IoTEdgeModule/*.csproj ./" in Dockerfile, attached snapshot for reference purpose
![Error](https://user-images.githubusercontent.com/49762230/67260525-690b8300-f4b9-11e9-8076-88a58dba03e5.JPG)

**After updating dockerfile, I have built the iotedge module using build IoT edge module and  got error message which is given below**
![error1](https://user-images.githubuserco

[2019-10-22 10:56] kajakIYD commented on #1815
Hi @kkdawkins :)

For me, the best solution would be to "apply" (or not) the certificate only after validating time through Internet. The device/IoT Edge modules could be working without "applying" certificate, but any IoTEdge-related-data-traffic that will flow outside the device should be blocked - only communication between modules should be allowed - until time on device is synchronized.
So _i

[2019-10-22 11:06] junsaw commented on #1642
Does anyone have any update or work around on this ?

[2019-10-22 12:55] abouroubi opened #1885 "Persistent per device parameters"
## Expected Behavior
I want to have per device parameters that don't get overriden when I deploy a new version of my modules.

## Current Behavior
I'm using Environnement vars to configure my module, each device have different configuration, I'm also using IoT device configuration for common parameters like Module version to use, but even if I don't have Env vars, when I deploy a new version, my p

[2019-10-22 14:48] veyalla commented on #1885
Would it work if device specific variations are expressed as module desired properties instead of environment variables?

[2019-10-22 15:50] abouroubi commented on #1885
Haven't tried, this module is a migration from an app that was run on host os and used environment vars, we just containerized it and wanted to use it as is.

[2019-10-22 16:26] veyalla commented on #1642
@cpuguy83 Any guidance you can provide here?

[2019-10-22 16:33] cpuguy83 commented on #1642
Probably we should drop aufs from the recommended packages since it's deprecated.
This would have the side-effect that if someone wants aufs they'll need to pull it in manually.

---

I am curious why it's failing to build, though.

What is in this log file?

[2019-10-22 17:16] yophilav opened #1887 "Another Dummy Test for WebHook Elephant 10"
## Expected Behavior
Can this be reformatted?

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Windo

[2019-10-22 17:22] yophilav commented on #1887
Comment 1

[2019-10-22 17:56] #1879 closed

[2019-10-22 18:17] vipeller commented on #1372
@pmarshDius I have a question for you: when you conducted this test and disconnected the network, did you do it the way that the dummy device could still access edge hub, or edge hub got completely separated? I see a possible problem when edge gets completly separated from the devices and from the cloud in the same time, but I am not sure that it might be the root cause of your case, it is not cle

[2019-10-22 20:29] darobs commented on #1865
I have not been able to reproduce this in my own setup by hitting the quota on my iot hub - are there any special consideration I should know about?  Are you running 1.0.8 or a 1.0.8.x release?

[2019-10-22 22:17] lt72 opened #1889 "This is a test issue"
This is content I created when I filed this issue.

[2019-10-22 22:18] lt72 commented on #1889
Now I add some comments...

[2019-10-22 22:20] lt72 commented on #1889
wait, I need to reopen this issue...

[2019-10-22 22:23] lt72 commented on #1889
Close it again...

[2019-10-22 22:23] #1889 closed

[2019-10-22 22:42] shizn commented on #1827
@adashen could you help take care of this issue?

[2019-10-22 23:01] dmolokanov commented on #1865
@MPapst Could you please provide more logs for edgeHub to see what was happening there before it hit quota limit?

[2019-10-22 23:19] yophilav opened #1891 "More Dummy Issue"
## Expected Behavior
Tell us what should happen
Update the Repro steps

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 1

[2019-10-22 23:21] yophilav commented on #1891
Update COmment

[2019-10-22 23:25] yophilav commented on #1891
Updateing More comment

[2019-10-22 23:27] yophilav commented on #1891
One more just to be sure.

[2019-10-23 00:00] CindyXing commented on #898
@wenboyang214, can we close this issue now? If I understand correctly, ACR supports mirror now in China. Thanks.

[2019-10-23 00:09] #1891 closed

[2019-10-23 00:09] yophilav opened #1892 "More Dummy Issue UPdate ' " \n\r \\"
## Expected Behavior
Tell us what should happen
Break this?w?jsdioadgip
Teshtinging Various thing that can be put jin here
/r
\n
"

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]

[2019-10-23 00:10] yophilav commented on #1892
Test Updating comment

[2019-10-23 01:14] yophilav commented on #1892
`CODE`

[www.google.com](url)

[2019-10-23 01:56] adashen commented on #1827
There is another similar issue tracked by @SLdragon. Will update this when there is any finding.

[2019-10-23 02:51] SLdragon commented on #1846
This error is because your dotnet publish command cannot find the project file in the root folder. To help you better understanding how to change the Dockfile, here is a sample docker file you can refer:

[code]

I aslo created a sample project, you can find it here:
[SampleEdgeProjectWithCSharpLibary.zip](https://github.com/Azure/iotedge/files/3759820/SampleEdgeProjectWithCSharpLibary.zip)

[2019-10-23 03:31] SLdragon commented on #1827
We would tracing this issue here: https://github.com/microsoft/vscode-azure-iot-edge/issues/504

[2019-10-23 06:32] #1367 closed

[2019-10-23 10:57] junsaw commented on #1642
Please see log file details below:

DKMS make.log for aufs-4.19+20190211 for kernel 4.19.75+ (armv7l)
Wed 23 Oct 2019 06:31:13 AM EDT
make: Entering directory '/var/lib/dkms/aufs/4.19+20190211/build'
-I/var/lib/dkms/aufs/4.19+20190211/build/include -DCONFIG_AUFS_FS_MODULE -UCONFIG_AUFS -DCONFIG_AUFS_BRANCH_MAX_127 -DCONFIG_AUFS_SBILIST
make -C /lib/modules/4.19.75+/build M=/var/lib/dkms/aufs/4.19+

[2019-10-23 12:16] MPapst commented on #1865
Unfortunately this is a live device and as I increased the IoT Hub units, I do not hit the quota anymore.
In addition I am currently running into another problem causing the log to be flooded with messages and the part with the crash is gone.

The edgeAgent version is
```Version - 1.0.8.2.25245427 (c978cc6304254c04091a5ba0e88fed094ddd7f51)```
I do not want to restart the hub, nevertheless its imag

[2019-10-23 15:42] yophilav commented on #1892
\r " ' \\

[2019-10-23 16:02] #1892 closed

[2019-10-23 17:55] yophilav opened #1895 "Dummy Test"
TESTING 1

## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. one
2. two
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04

[2019-10-23 17:58] yophilav commented on #1895
will close this

[2019-10-23 17:58] yophilav commented on #1895
re-open now...

[2019-10-23 19:32] #1735 closed

[2019-10-23 19:33] grahamehorner opened #2400 "Support for new Windows 10 versions"
Please can you advise on when/if Azure IoT Edge will support newer versions on the Windows 10 operating system; we have a number of projects that require us to use Windows 10 1903 build 18362.418 however this prevents use from using Azure IoT Edge for other projects
[code]

[2019-10-24 04:20] pkoronawa opened #1897 "Download site for Windows 10 17763"
I get the following error installing IoT Edge runtime on a HyperV VM

The container host is on unsupported build version 18362.
Please use a container host running one of the following build versions for running Windows containers:
17763

Where can I download this specific version of windows?

[2019-10-24 05:01] pkoronawa commented on #1248
The link now takes you to a download of a newer unsupported version of Windows 10 Enterprise

[2019-10-24 05:03] pkoronawa commented on #1228
But where can we download the old 17763 version?

[2019-10-24 10:31] iotblackbelt opened #1898 "Host IP resolution fails when Docker Desktop is installed after IoT Edge on Windows."
When IoT Edge is installed on Windows (10) with Windows Containers, and Docker Desktop is installed afterwards, the resolution of the IP address of the host is failing and therefore custom modules (C#) are failing at OpenAsync() with a time-out.

`Unhandled Exception: System.AggregateException: One or more errors occurred. (Transient network error occurred, please retry.) ---> Microsoft.Azure.Devi

[2019-10-24 12:58] Jeroenqu opened #1899 "EdgeAgent don't start anymore after applying proxy configuration (reproduced on 3 different devices)"
## Expected Behavior
Iotedge list should return 1 module (edgeagent) and EdgeAgent should start.

## Current Behavior
iotedge list returns 0 modules without EdgeAgent.

<6> 2019-10-24 19:19:11.401 +00:00 [INF] - Experimental features configuration: {"Enabled":false,"DisableCloudSubscriptions":false,"EnableUploadLogs":false}
<0> 2019-10-24 19:19:11.454 +00:00 [FTL] - Fatal error building applicatio

[2019-10-24 15:50] svejstrup opened #1900 "Automatic deployment in Azure DevOps fails"
Hi

Im not sure if this is the right repo for this issure so you're free to redirect me elsewhere.

The problem is that the release step 'Azure IoT Edge - Deploy to IoT Edge devices' in Azure DevOps fails with the message:

This seems to be related to a recent change to the Azure-CLI where **--config-id** has been deprecated in favor of **--deployment-id**.
[Documentation](https://docs.microsoft.c

[2019-10-24 15:57] asergaz commented on #1851
Important detail, @keshava-hm is using Azure VM with IoT Edge.

[2019-10-24 17:09] josiahlaivins opened #1901 "Module to Module Throttle"
Does the MQTT message size and speed throttling effect module communication if they are on the same device? Is there a way to speed up **module to module same device messaging** via increasing the local message size?

Because we are trying to have 2 modules send each other data (Images / meta data) via messages and a round trip excluding processing is around 15-20ms per image on the same device. W

[2019-10-24 17:37] darobs commented on #1865
It does, a bit. We just released 1.0.8.3 due to a bug in 1.0.8.2 (message loss caused by connectivity exceptions).  While I haven't been able to reproduce your problem, I would still recommend upgrading to 1.0.8.3

[2019-10-24 17:48] dmolokanov commented on #1901
Hello @josiahlaivins,
Could you please provide more information about the environment you are testing on? Versions of iotedged, edgeagent and edgehub and module sdk? What kind of device? x86 or arm?

In the latest release `1.0.8.3` we did some work to improve communication performance and reliability. You can try to test with this version.

[2019-10-24 17:56] josiahlaivins commented on #1901
Thanks for the response, I added my system information.

[2019-10-24 18:11] MPapst commented on #1865
I will try upgrading tomorrow. Maybe I got time on monday to test what is happening when reducing the IoT Hub Units.
Will come back after the tests.

To add -> I just downgraded the IoT SDK C# to 1.21.0 (from 1.21.1) because of a message bug we discovered after upgrading due to this issue.

[2019-10-24 19:07] dmolokanov commented on #1898
Hello @iotblackbelt,
You are right, to re-create a network is the only solution here. We should probably update our docs that describe that installing docker desktop afterward is not a supporting scenario.
Thanks for pointing out!

[2019-10-24 19:45] dmolokanov commented on #1901
I believe we don't make any specific actions to throttle messages in EdgeHub. If 15-20 ms is to slow for your case you could probably make some kind of batching on your module level. By batching I mean combine several messages as a one bigger message and then send this one message to other module. I hope it will help.

[2019-10-24 19:50] veyalla commented on #1900
@shizn PTAL

[2019-10-24 20:02] dmolokanov commented on #1901
Another thing worth trying to disable persistent storage for EdgeHub.
Normally, EdgeHub puts a message in a local database that backed with the filesystem. Messages persist there until they sent to the IoT Hub. This is how EdgeHub prevents data loss.
If you put the environment variable for EdgeHub `UsePersistentStorage=false` it will use an in-memory store that should work faster but will lose mes

[2019-10-24 20:04] dmolokanov commented on #1897
Hello @pkoronawa,
Please find a list of supported host systems on docs website https://docs.microsoft.com/en-us/azure/iot-edge/support

[2019-10-24 21:21] dmolokanov commented on #1899
Hello @Jeroenqu,
Could you please provide more logs for both EdgeAgent and iotedged? Edge Agent [1.0.0] seems like a very old version and should not be used anymore. We need more information to investigate this issue. Thanks!

[2019-10-24 22:25] pkoronawa commented on #1897
Thanks dmolokanov, I've gone to that site and tried building images from there. I've found that the images are newer than what is supported by IoT Edge (18362)

[2019-10-24 22:32] pkoronawa opened #1908 "More messages reported by IoT Hub than I am sending"
I've written a module running in the Simulator that sends messages up to the IoT hub. As seen in the screen shot, I've sent several hundred messages but less than a thousand. Yet my message limit of 8000 has been exceeded.

I've built the Quickstart read-d2c-messages app, and it shows only the messages I know I'm sending. How can I find the other messages that the hub is recording?
![Capture](http

[2019-10-24 22:36] veyalla commented on #1897
@pkoronawa There are couple of options:

- Use an Azure VM, per the `az vm create...` command in the [Windows quickstart](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart#prerequisites)
- For a local VM, you can use Windows Server 2019 image from the [eval center](https://www.microsoft.com/en-us/evalcenter/evaluate-windows-server-2019?filetype=ISO)

[2019-10-24 23:26] #1887 closed

[2019-10-25 04:23] keshava-hm commented on #1715
Hi. I face this issue on Win10 1809 Windows modules, windows container. I've referenced this thread on mine.

As you can see in your logs, It's the same message repeating, not the actual updated temperatures.

@varunpuranik @asergaz  I can confirm that this issue occurs with default edge module (where it returns message completed)

The issue doesn't occur if we change amqp to mqtt.

Please look in

[2019-10-25 05:15] Jan-Olof opened #1911 "Edge Hub fails to send messages to IoT Hub"
## Expected Behavior
Messages routed from a custom module should be sent to IoT Hub by the Edge Hub.

## Current Behavior
No messages are sent from Edge Hub. They are sent from the custom module but get stuck in th Edge Hub.

## Steps to Reproduce
1. In our test environment this works as expected.
2. When we move to our customers network. It stops working.

## Context (Environment)
At one of our c

[2019-10-25 11:38] junsaw commented on #1642
@cpuguy83 any recommendations here ?

[2019-10-25 12:46] nextdynamic opened #1912 "standard_init_linux.go:211: exec user process caused "exec format error""
## Expected Behavior
On Raspberry Pi4, I want to deploy a custom python module.

## Current Behavior
The module deploys, but I receive the following error:
standard_init_linux.go:211: exec user process caused "exec format error"

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.  Create an IOT Edge solution.
2.  Add a custom module with Python as the language
3.  Selec

[2019-10-25 13:12] kajakIYD commented on #1815
Hi @kkdawkins, @darobs,

Any updates in topic? :)

[2019-10-25 14:48] Jeroenqu commented on #1899
Good observation! I've updated the EdgeAgent to 1.0.8, but unfortunately still not working. It is an pending item for our 2k device deployment, so we would be more than happy when this issue would be resolved.

Thanks in advance!

The logs:
![image](https://user-images.githubusercontent.com/56964303/67580750-23fc8080-f747-11e9-8eb7-837d9deb3213.png)

![image](https://user-images.githubusercontent.

[2019-10-25 16:07] cpuguy83 commented on #1642
This looks relevant: https://github.com/raspberrypi/linux/issues/3021

I think I will propose we remove aufs from the list of recommended packages.
For users who are already using aufs they'll already have the package so upgrades shouldn't be a problem.

For now you an install with `--no-install-reccomends`, note that this may prevent some other desirable packages from being installed.

[2019-10-25 16:19] richterr opened #1913 "Security Daemon looses device configuration"
## Expected Behavior
A device that is offline most of the time gets online for a short time and gets the message there are some changes in the device twin properties. The security daemon tries to re-provisions the device via TPM with the DPS and the connection is lost again. Expectation would be to return to the last working configuration while offline.

Going online again resolves the issue.

##

[2019-10-25 18:06] veyalla commented on #1911
Setting `UpstreamProtocol` for edge runtime modules might help.

See: https://docs.microsoft.com/bs-latn-ba/azure/iot-edge/production-checklist#choose-upstream-protocol

[2019-10-25 18:11] kkdawkins commented on #1913
Hello!

First, a couple of notes on what is happening:

- A twin update does not trigger a reprovision, only a restart will trigger a reprovision. When a reprovision does happen, the security daemon will fall back to a backup file if the provisioning fails. The fact that the error says that the backup could not be found implies they never had a successful DPS provisioning before, or that something

[2019-10-25 18:14] veyalla commented on #1908
what is the message size? IoT Hub meters messages at 0.5k for Free tier.

 _The message size used to calculate the daily quota is 0.5 KB for a free tier hub and 4KB for all other tiers. For more information, see [Azure IoT Hub Pricing](https://azure.microsoft.com/pricing/details/iot-hub/)._

[2019-10-25 18:28] veyalla commented on #1885
@abouroubi - Got it. This is currently not possible. We're introducing deployment improvements in the future which will provide a way to accomplish this.

To understand your scenario at bit more - across how many devices are you looking to do this? Will each device need specialized environment variables on top of a base deployment?

[2019-10-25 18:56] dmolokanov commented on #1912
Hello @nextdynamic,
What version of python SDK for IoT edge do you use? For SDK v1 is multi-stage build process is involved. The first step is to build libraries and code using cross-compile toolchain. The second one is to build an actual container image with your python code.
Could you provide a Dockerfile that was generated in VS Code?

Usually, this error message relates to situation where a us

[2019-10-25 19:15] pkoronawa commented on #1908
Message size is about 12K so that would explain it. Thanks

[2019-10-25 19:15] #1908 closed

[2019-10-25 19:28] josiahlaivins commented on #1901
Thanks for the information. We compared round trip timing between 2 configurations:

Configuration below does round trip 20ms per item consitently.
[code]
Configuration below does round trip 22 - 35 ms per item and gets worse over time it seems. It does seem that using the newer version of iotedge hub and options makes a difference.
[code]
It seems that sending messages takes on average 17-20ms re

[2019-10-25 20:23] dmolokanov commented on #1912
I assume that you have followed some kind of guide/tutorial when faced with this issue, right? Could you provide a link for it? In addition, could you post a `deployment.template.json`? We need as much information as possible to address this issue.

[2019-10-25 20:26] dmolokanov commented on #1901
@ancaantochi Do you have any additional thoughts on this?

[2019-10-25 20:31] nextdynamic commented on #1912
So – literally 10 minutes ago, I was able to get all the modules deployed.

I followed this blog:
https://devblogs.microsoft.com/iotdev/easily-build-and-debug-iot-edge-modules-on-your-remote-device-with-azure-iot-edge-for-vs-code-1-9-0/

I think this is a cross-compiler issue as this solution uses the PI to compile the modules.  This was not a problem that I ran into on the pi3 – just the 4.

From

[2019-10-27 10:35] abouroubi commented on #1885
@veyalla, for now il using it on hundred devices, but the goal is to deploy thousands of them.
Yes each device will have specialized parameters (like name, position,...) and common parameters (module version, refresh rate,...)

[2019-10-27 20:37] spaderkung opened #1918 "iotedge won't install on Debian9 because of libssl"
I made a Debian 9 automatically from our Azure portal.
Followed the official guide to install curl, moby and so on:
  `https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux`

But when it comes here it fails and says iotedge depends on libssl1.0.0. But Debian9 has libssl1.0.2 and it does not seem to be downgradable:
  `sudo apt-get install iotedge`

Hmm, I see it's the same

[2019-10-28 14:06] somme89 commented on #1801
Unfortunately, the problem is back again. I've been running various tests to pinpoint the problem but with no luck. A script has been checking DNS resolution and connectivity to EdgeHub and there has been no sign of problems for days.

I don't think this is a problem with the Azure service as we have 20+ other devices running without any problems using the same EdgeHub. The only difference I have

[2019-10-28 15:32] junsaw commented on #1642
Thanks I attempted to do that using the IoT Edge installation documentation and injecting the **--no-install-reccomends** and it fails.  The question is, is there anything on the roadmap to support Raspberry Pi 4,

[2019-10-28 16:22] cpuguy83 commented on #1642
What fails?

If you use `--no-install-recommends` then the aufs modules will not be installed.

[2019-10-28 21:52] vipeller commented on #1912
@nextdynamic thank you for sharing the information how you managed to deploy a module. It is going to help us to further investigate what happened on your environment.
My question for you is that are you still  blocked, or can I close this ticket?

[2019-10-28 22:36] arsing commented on #1918
For 1.0.8 the packages were built only once, so all the Debian family of distros have to use the same package, and this package depends on `libssl1.0.0`. If you build the package yourself from source on a Debian 9 host, then it should end up depending on `libssl1.0.2` as you require.

The packaging was revamped in 1.0.9 to fix this issue by building multiple different packages. That's why https://

[2019-10-28 22:46] nextdynamic commented on #1912
Please  lose the ticket.  Thanks.  Tim

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: vipeller <notifications@github.com>
Sent: Monday, October 28, 2019 5:52:09 PM
To: Azure/iotedge <iotedge@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/iotedge] standard_init_linux.go:211: exec user

[2019-10-28 23:10] vipeller commented on #1901
@josiahlaivins I am not quite sure that you measure the right thing or perhaps I don't understand you goal.

My understanding is that your time concerns includes the following steps:
- Module A sends out a message
- Edge routes it to Module B
- Module B receives the message

You would like to measure from the time Module A sends a message till the point Module B receives the message

Your code sni

[2019-10-28 23:17] #1912 closed

[2019-10-28 23:46] vipeller commented on #1899
@Jeroenqu According to the error message, $edgeAgent doesn't have it's twin setup correctly and has an empty block for the "desired properties" section. This section should specify what other modules should be deployed on your device. As this is missing, that is why you get a fatal error.
The first step should be to check if this is the case.
Could you login the azure portal, search for your IoT h

[2019-10-29 13:28] Jan-Olof commented on #1911
Thanks a lot! I had failed to find that setting. (Haven't worked with this system for a while.)

[2019-10-29 13:28] #1911 closed

[2019-10-29 15:57] josiahlaivins commented on #1901
@vipeller Thanks for the info. We have tested full round trip, timing, and example of sending a message above. It seems that 1ms might not be possible with high volume single messages.

We will be looking into way to batch our data. One drawback is that MQTT has a small message size. We will experiment with AMQP (seems to allow larger message sizes (?) ). Our main concern is that it does not seem

[2019-10-29 16:01] cpuguy83 commented on #1642
Isn't rpi4 arm64 not armhf?

[2019-10-29 17:59] hazelnutmonkey opened #1923 "EdgeHub functions binding does not preserve system level Message properties"
When using Azure functions with IoT Edge, I am unable to persist system level properties on the Message when sending to IoT Hub, specifically ContentEncoding and ContentType. IoT Hub message routing via message body properties is predicated on having ContentType set to "application/json" and ContentEncoding set to "UTF-8".

## Expected Behavior
Message should contain system properties when it reac

[2019-10-29 19:59] vipeller commented on #1923
@hazelnutmonkey thank you for figuring this out and reporting. It will be fixed as a bug.

[2019-10-29 21:14] arsing commented on #1918
To avoid confusion, I should clarify that my previous comment is about amd64 packages specifically.

This is true of the amd64 packages. The Debian 9 *armhf* package for 1.0.8 does depend on `libssl1.0.2`, for Raspbian 9's sake. And in 1.0.9 it will depend on `libssl1.1` instead.

Again, this is referring to the Debian 9 amd64 package. Debian 9 armhf packages *will* be published to packages.micros

[2019-10-29 21:16] #1918 closed

[2019-10-29 22:10] darobs commented on #1856
HI @AzTrainIoT, thank you for your patience.  I have only found the ability to bind to specific IPs in Docker settings.

The IP binding in the `/etc/docker/daemon.json` would look like this:
[code]

I think a proxy may be a good alternate way to direct traffic.

[2019-10-29 22:12] darobs commented on #1814
Closing for inactivity.   Please reopen if you have additional questions or clarifications.

[2019-10-29 22:12] #1814 closed

[2019-10-29 22:13] darobs commented on #1831
ping @seanmcd-msft

[2019-10-29 22:49] viktoreinarsson commented on #1814
Hi @darobs,

Sorry for the late reply. This is related to the IoT Edge development tooling.

When you create a new IoT Edge project in Visual Studio you get a modules folder and a deployment.template.json file.

The modules defined under the modules folder are referred to in the deployment.template.json file with this syntax: "${MODULES.ModuleName.amd64}"

So it seems that ${MODULES..} is "hard-co

[2019-10-30 00:44] LarsKemmann commented on #1617
This issue can be closed. It turns out that the flash drive on which Windows 10 IoT Core was installed was not being recognized as a valid (nonremovable) boot medium by the Update OS.

[2019-10-30 00:44] #1617 closed

[2019-10-30 05:45] mma-mm commented on #1728
Are there any news on this issue?

[2019-10-30 09:37] LTTSAvertle opened #1927 "IOT Edge device reporting 406 status"
I am using Azure IOT Edge devices to send data to cloud. I configured 8 devices in same network and was able to receive data from all 8 devices for few days but now 5 devices reporting status as "406 -- The device is offline or not sending status reports". FYI, I am using MQTT protocol to send the telemetry data. Why the status changed and communication stopped suddenly?

[2019-10-30 10:07] shizn commented on #1900
@blackchoey this issue is caused by https://github.com/Azure/azure-iot-cli-extension/issues/113. And it's already fixed. Please help close this issue.

[2019-10-30 13:41] mdmorar commented on #1589
This issue has not been solved or addressed by the Microsoft Team and should remain open. The IoT Edge framework for C/C++ is not working correctly when deployed on the ARM64 platform and it should be noted that C++ works even less than C in terms of deployment ARM64v8 for Bionic TX2 devices remains and issue with errors in edgeHub/edgeAgent logs.

[2019-10-30 13:55] smoms opened #1928 "Clarification Edge offline"
Hi,
assuming I have use case where I can ignore leaf devices because I use Edge to run SW modules only. What happen to module to module communication through Edge Hub when Edge is offline? Are modules still be able to communicate between each other (credentials are cached)? And for how long? Am I correct that in such context I can ignore the patterns of "Edge as Gateway"?

thanks

[2019-10-30 15:29] Jeroenqu commented on #1899
Thanks.

I think the below happens:

1. Initial iotedge load with internet connectivity.
2. Healthy state of the deployment config.
3**. Proxy configuration with a proxy which actually don't exist yet.**
4. Restart of iotedge, cleaning deployment config, attempt to get a new one.
5. Broken state.

![image](https://user-images.githubusercontent.com/56964303/67872534-64d30b80-fb32-11e9-9ea8-15af3a67

[2019-10-30 16:29] vipeller commented on #1899
@Jeroenqu thank you for the screenshot. It shows that the "modules" part is empty - that what tells $edgeAgent what modules are needed on the edge-device. At minimum edgeAgent and edgeHub should be there.

You are saying that before applying proxy settings it was all good and then it get deleted somehow?

[2019-10-30 16:32] Jeroenqu commented on #1899
@vipeller  yes, exactly. Jus fill in a fake proxy on the three required config locations (docker, daemon, agent) and you will experience the same situation.

[2019-10-30 16:36] Jeroenqu commented on #1899
I need to commute, let you know in the evening. Thanks for looking at my issue!

[2019-10-30 17:59] #1862 closed

[2019-10-30 18:02] lt72 commented on #1
Thank you for your input we recorded your suggestion and will take it in consideration in our planning. Closing this issue for now, as ask is tracked elsewhere.

[2019-10-30 18:03] #1 closed

[2019-10-30 18:05] lt72 commented on #44
@vipeller: can you please take a look at last question above?

[2019-10-30 18:06] #45 closed

[2019-10-30 18:08] lt72 commented on #55
@ilyas-it83 @nhuurnink closing issue, please re-open if necessary.

[2019-10-30 18:08] #55 closed

[2019-10-30 18:09] lt72 commented on #60
@Hammatt @dsajanice closing issue as it seems to be stale, please re-open if necessary.

[2019-10-30 18:09] #60 closed

[2019-10-30 18:10] #104 closed, assigned to nobody

[2019-10-30 18:11] lt72 commented on #136
Closing issue as it seems to be stale, please re-open if necessary.

[2019-10-30 18:11] #136 closed

[2019-10-30 18:11] vipeller commented on #44
@lt72 @azthec I suppose the test used AQMP. Try MQTT which works faster. We found some room to improve AQMP performance on edge hub, but it is not coded yet.

[2019-10-30 18:11] lt72 commented on #204
Closing issue as it seems to be stale, please re-open if necessary.

[2019-10-30 18:11] #204 closed

[2019-10-30 18:12] lt72 commented on #207
Closing issue as it seems to be stale, please re-open if necessary.

[2019-10-30 18:12] #207 closed

[2019-10-30 18:14] lt72 commented on #225
@ddimitrov90 Hello, sorry for the delay here. Did you manage to get your scenario working, or do you still need help?

[2019-10-30 18:14] lt72 commented on #232
Closing issue as it seems stale, please re-open if necessary.

[2019-10-30 18:14] #232 closed

[2019-10-30 18:16] lt72 commented on #237
@ddimitrov90 Hello, sorry for the late answer. Do you still need help with this?

[2019-10-30 18:17] lt72 commented on #298
Closing as it seems stale. Please re-open if necessary.

[2019-10-30 18:18] lt72 commented on #321
@nhuurnink Hello, sorry for the very late answer. Do you still need help with this?

[2019-10-30 18:19] #408 closed

[2019-10-30 18:19] lt72 commented on #441
@Maher4Ever Hello, sorry for the very late answer. Do you still need help with this?

[2019-10-30 18:21] lt72 commented on #479
@tanieee28 Hello, sorry for the very late answer. Do you still need help with this?

[2019-10-30 18:22] lt72 commented on #508
Closing as it seems stale. Please re-open if necessary.

[2019-10-30 18:22] #508 closed

[2019-10-30 18:22] lt72 commented on #534
@chriswaters78 Hello, sorry for the very late answer. Do you still need help with this?

[2019-10-30 18:24] lt72 commented on #585
Closing as it seems stale. Please re-open if necessary.

[2019-10-30 18:24] #585 closed

[2019-10-30 18:25] lt72 commented on #590
@AdamMachera Closing as it seems stale. We apologize for the lack of a prompt answer. Please re-open if you still need help.

[2019-10-30 18:25] #590 closed

[2019-10-30 18:47] massand commented on #1589
@mdmorar While we work to improve the tooling aspect of this, have you tried hand-rolling a single deployment for the device with the current + new module yet?

Which errors are you still seeing?

[2019-10-30 18:48] Maher4Ever commented on #441
@lt72 No thanks we already have a solution.

[2019-10-30 18:48] #441 closed

[2019-10-30 19:13] vipeller commented on #1928
@smoms that is not a problem that EdgeHub is offline in your scenario. EdgeHub knows how to authenticate modules (it synchs the information with iot hub when it is online and caches it). Once edge hub was able to connect at least once to iot hub, then it should work for "forever". When edge hub is online, it periodically synchs this information with IoT Hub.

Also, module to module communication w

[2019-10-30 19:13] Noppey commented on #321
No we don't really use IoT Edge anymore

[2019-10-30 19:36] lt72 commented on #1838
@lijithomas88 Hello, did you have a chance to try out @myagley suggestion?

[2019-10-30 19:37] mdmorar commented on #1589
If you scroll up you will see the edgeHub errors I am describing. I've tried to spin up a new module and added the devicetwin property "debugLogs" following along with the tutorial for a 2nd time but I still get the same error. This implementation is coming straight from Microsofts tutorial. The Link is also provided in one of the above comments.

I don't that that the tooling is mature enough do

[2019-10-30 19:37] lt72 commented on #1831
Closing as it seems there is an external path to resolution. Please re-open if necessary.

[2019-10-30 19:37] #1831 closed

[2019-10-30 19:38] lt72 commented on #1809
@vipeller: can we take care of this?

[2019-10-30 19:40] lt72 commented on #1791
@idg10 Did you have a chance to try @damonbarry 's suggestion? Please let us know if we can help.

[2019-10-30 19:53] seanmcd-msft commented on #1831
sorry, for some odd reason I didn't see the notifications for this thread until the close showed up.  The immediate answer to the question is to pull mcr.microsoft.com/windows/iotcore:1809 .  however, that said I don't know that this will solve the problem it sounds like you're really trying to solve.  IoT Core has a much larger API surface then nanoserver, but, it's still a OneCore based edition

[2019-10-31 05:22] lijithomas88 commented on #1838
Yes. I checked by disabling fallback route.  Thanks for the resolution.  Closing the issue now

[2019-10-31 05:22] #1838 closed

[2019-10-31 07:45] FrankPfattheicher commented on #237
Didn't try this for a year 🙈

Best Regards / Mit Grüßen aus Baden

Frank Pfattheicher

---------------------------------------------------------------------

ICT BADEN GmbH, D-76227 Karlsruhe, Seboldstraße 9

fon: 0172-7207196, e-mail: fpf@ict-baden.de

Geschäftsführer: Frank Pfattheicher

Amtsgericht Mannheim: HRB 706949

USt-IdNr: DE 265276745

Am Mi., 30. Okt. 2019 um 19:17 Uhr schrieb Lorenzo

[2019-10-31 08:33] smoms commented on #1928
@vipeller many thanks.
To my last question: when Edge is used as Gateway I understood that for the Identity Translation pattern the credential are cached for 2h only. Can you confirm please?

[2019-10-31 11:10] Jeroenqu commented on #1899
@vipeller see the systemModules population.
![image](https://user-images.githubusercontent.com/56964303/67942037-35c2a580-fbd7-11e9-9b89-2fec0aff7d6e.png)

These were updated while I had the non-proxy setup. After the fake proxy setup, it will corrupt the offline json file which results in not starting the edgeAgent.

[2019-10-31 11:38] tanieee28 commented on #479
@lt72 thanks but I think now I am on some other side of iot edge now. No help for now.
Will put it here if something comes up in future.

[2019-10-31 16:54] chriswaters78 commented on #534
@lt72 Hi, since the recent 1.8 releases things have been much more stable so no more help needed although I lost quite a lot of faith in the Azure IoT solution as it took a long time to fix this critical bug in what was supposed to be a GA release. I think #634 has more details.

[2019-10-31 17:14] vipeller commented on #1928
@smoms in case of identity translation, the base problem is that devices don't understand the protocols Iot Hub (IoT Edge) provides. In this case the solution is that the customer writes a module that can talk to these devices. Then this module uses a separate identity for each individual device connecting to Edge. This is a difference to protocol translation pattern, where edge uses the same iden

[2019-10-31 17:37] pkoronawa opened #1933 "Azure portal reports inconsistent message count for IoT Hub Usage"
When I refresh the IoT Hub Overview on the Azure portal, the number of messages reported in IoT Hub Usage is inconsistent. Refreshing repeatedly seems to bounce between 2 or 3 different values for messages received. They all increase at a reasonable rate, but I wonder what's going on?

[2019-10-31 18:08] smoms commented on #1928
@vipeller many thanks for the clear explanation. There is no 2 hours in the doc. But it is mentioned that there is a SAS Token cached at the Edge (I will find the reference here) to authenticate to IoT Hub and such token can expire. But ok, this is only requested if a module/device needs to connect to IoT Hub, right?

[2019-10-31 18:49] josiahlaivins commented on #1901
Asking detailed query [here](https://github.com/Azure/azure-iot-sdk-python/issues/375#issue-514010191). Will be looking at local blob storage or zeromq to send messages larger than 256mb. I think the solution is sending larger batch messages to get the timing down to 1ms.

Thanks for you'alls help though, we have a better idea on how to solve this issue / direction.

[2019-10-31 18:52] vipeller commented on #1928
@smoms in transparent gateway scenario (when the device would be able to connect directly to IoT Hub, but for some reason an intermediate Edge device is used), the device can authenticate itself to Edge using sas tokens. These tokens expire (the token itself specifies its expiry time). If you use the client SDK, it takes care of generating these tokens, which tokens work for one hour. Before that

[2019-10-31 19:03] smoms commented on #1928
@vipeller thanks. So assuming 1. Edge is offline AND 2. An hour is passed then the device gets disconnected. Right?

[2019-10-31 19:15] vipeller commented on #1928
@smoms sorry, then I was not clear. It doesn't matter that edge is online or offline. It is able to authenticate devices offline and should behave the same way regardless if it is offline or online (the only difference is that when it is not able to authenticate a device using its cached data, then it reaches out to Iot Hub, if it is online)

So the device gets disconnected regardless if edge is o

[2019-10-31 20:26] smoms commented on #1928
@vipeller clear. My point above was a scenario when Edge is offline and device has: 1. valid token or 2. invalid token. In case 1. Edge is buffering messaging, in case 2. it is not. Right?

[2019-10-31 21:02] georgegoglodze commented on #1377
Looks like I am having some connectivity issues as well...

  File "./main.py", line 27, in receive_message_listener
    client.send_message_to_output(message, "output1")
  File "/usr/local/lib/python3.7/site-packages/azure/iot/device/iothub/sync_clients.py", line 427, in send_message_to_output
    handle_result(callback)
  File "/usr/local/lib/python3.7/site-packages/azure/iot/device/iothub/sync_

[2019-10-31 23:32] vipeller commented on #1933
@pkoronawa gathering data (running queries) in a distributes system rarely gives accurate result. There are levels of "accuracy", and the more precise result we want, the more expensive to execute the query. The numbers you see is not the result of some sort of precise message counting mechanism, but it is based on a less expensive query.

Just an example (and this is not the way it is implemented

[2019-10-31 23:38] vipeller commented on #1928
@smoms that is correct.

[2019-11-01 00:22] #1294 closed

[2019-11-01 07:10] smoms commented on #1928
@vipeller thanks lot.

[2019-11-01 20:29] #1933 closed

[2019-11-02 00:07] #1206 closed

[2019-11-02 22:23] alextran1502 commented on #98
I am also having this issue invoking direct method in the device level. If I restart the device, I can get it to work for a few hours and after that it would show 'disconnect' state and I can no longer invoke the direct method. I am using Node SDK.

[2019-11-03 14:07] Dolphinsimon opened #1945 "Cannot connect to iothub through 4G/LTE network when the ethernet port connected in local network."
Hi,

I think it might be an OS related problem (Windows10).
But I couldn't find other ways to solve it.

## Expected Behavior
We have some 4G/LTE IoTEdge based gateways
(iotedge modbus module with Windows10 Ent2019 LTSC).
The gateways should get data from modbus tcp in local nerwork and send data through
4G/LTE network to Iothub in Azure.

## Current Behavior
When the ethernet port connected in lo

[2019-11-04 12:38] petermillsacumentive opened #1947 "Communication between modules and to IoT hub stops working within 24 hours"
## Expected Behavior
Communication to continue working between modules and the IoT hub continuously.

## Current Behavior
After installing test certificates (https://docs.microsoft.com/en-gb/azure/iot-edge/iot-edge-certs), within 24 hours the device shows as running, as well as all its modules. **However**, communication between the modules appears to have stopped and direct method calls to the mo

[2019-11-04 17:27] MPapst commented on #1865
Sorry for the delay. I just figured out this is not related to the IoT Hub Quota.
The transient error happens also with free IoT Hub Quota.

I will check the IoT SDK Version. Unfortunately we are migrating our module backend (Adapter between module logic and IoT SDK) to a new version, so I might do this better with the new backend.

[2019-11-04 17:49] sachidanand opened #1948 "EdgeHub offline message logs are not being cleaned up"
Hi Team
    We are facing the below issue...
Steps
1. Gateway is offline and not connected to Internet
2. EdgeHub stored messages on local as we have set max TTL
3. EdgeHub creates offline message log file on the local container image
4. Once gateway is online then EdgeHub is sending messages to IoT Hub but the local message log file is remained on local
5. Because of this issue we are facing Hard

[2019-11-04 20:17] junsaw commented on #1642
Any suggestions ???  I guess what I am getting at is, is there anything in the pipeline to support Raspberry Pi 4 / Buster ?

[2019-11-04 22:34] veyalla commented on #1642
Supporting Buster as [Tier 1](https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-1) is on our roadmap but not imminent.

[2019-11-05 15:32] myagley commented on #1948
Can you please add the version number for the Edge Hub and runtime, as well as any appropriate Edge Hub logs that exhibit the issue? Thanks!

[2019-11-05 15:40] myagley commented on #1947
What IoT Hub SDK are you using in your module? (language and version) Is the module connecting to the Edge Hub using AMQP or MQTT?

The Edge Hub will drop connections when the connection's credentials expire. On MQTT 3.1.1 there is no way to update a connection's credentials, so the Edge Hub will drop the connection and expects the client to reconnect with a valid credential. On AMQP, there is a m

[2019-11-05 23:20] lt72 commented on #1856
@AzTrainIoT: closing issue for now, please feel free to re-open as you need to.

[2019-11-05 23:20] #1856 closed

[2019-11-06 02:35] SLdragon commented on #1827
Thanks for all your feedback, and we have already fixed this issue in 1.18.0, you can download the latest extension here: https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.azure-iot-edge

[2019-11-06 10:37] petermillsacumentive commented on #1947
I've removed the certificates and it's happened again. Very strange as we've had devices working for two weeks with no problem.

My current ideas as to cause:
- Upgrading to Dotnet Core 3.0
- Something related to the certificates remains (even though I have commented them out of the config.yaml)

Will advise if I figure anything out. Any further guidance would be really helpful.

[2019-11-06 15:24] Jeroenqu commented on #1899
Guys? @vipeller @dmolokanov

[2019-11-06 16:29] fgheysels commented on #1275
I wonder if there's any news on this :)

[2019-11-06 17:12] danigian opened #1960 "hsm-sys - time_t usage and year 2038 issue on 32bit devices"
## Expected Behavior
Customers should be able to deploy their IoT Edge devices using certificates expiring after 2038.

## Current Behavior
Because of hsm-sys usage of time_t, on Linux 32bit devices it happens that time_t is using a 32bit number, making the device not supporting the certificates expiring after 2038 (tested with 2047 expiring certificate)

## Steps to Reproduce
1. Create a valid ce

[2019-11-06 17:36] vipeller commented on #1899
@Jeroenqu sorry, I haven't tried it yet. I am going to reproduce it in a couple of hours and let you know if managed to make the settings disappear - from that point we can chase down the root cause.

[2019-11-06 18:01] vipeller commented on #1899
@Jeroenqu I wanted to setup the environment in your description, but then reading it through I realized that all proxy settings (docker, edge daemon, agent) are 'offline' and it wouldn't take effect on the agent desired properties stored in the cloud (describing the modules to be downloaded for edge)

could we try to:
1) restore edgeAgent desired properties section in your twin
2) see if in that c

[2019-11-06 18:05] lt72 commented on #1654
@varunpuranik can you please take a look at this one?

[2019-11-06 19:09] kkdawkins commented on #1913
Closing for lack of activitiy, feel free to reopen if you want us to puruse this further. Thanks!

[2019-11-06 19:09] #1913 closed

[2019-11-07 14:46] alexeyzolotarev commented on #1960
Hi All,

I'll add more details to this issue.

We have a device_ca.crt certificate, with expiry date in 2047, and a root  CA with expiry in 2059,
and we set these in the config.yaml

Basically, what happens, is that at the very beginning iotedged  daemon fails to start, saying that certificate has  already  expired  in 1969, Dec 31, 23:23:59   (which looks like a time_t value of  -1).
Independent

[2019-11-07 17:39] arsing commented on #1960
(Inlined patch from https://github.com/Azure/iotedge/issues/1960#issuecomment-551110123 so as to not require downloading a zip file)

<details>
<summary>Click here</summary>

[code]

</details>

[2019-11-07 20:32] myagley commented on #1945
What does the output of `iotedge check` show?

Do things work when the ethernet port is not connected to the local network?

[2019-11-07 20:38] lt72 commented on #1807
@hommeabeil I will close the issue for now, please feel free to re-open it when you need to.

[2019-11-07 20:38] #1807 closed

[2019-11-07 20:39] lt72 commented on #1897
@pkoronawa closing this issue as it seems positively resolved. Please feel to re-open if you need to.

[2019-11-07 20:39] #1897 closed

[2019-11-07 20:49] lt72 commented on #1728
@mma-mm we are actively working on enabling this feature, but I cannot offer an ETA at this time.

[2019-11-07 20:52] damonbarry commented on #1654
Based on the information in this issue, I don't think edge hub is actually losing desired properties. Rather I think the custom module (`opcMapper`) isn't handling twin updates as robustly as it should.

Specifically, the callback that receives incremental updates to the twin desired properties is only useful if you already have the previous version of the twin to compare against. So if you ever d

[2019-11-07 20:53] lt72 commented on #1725
@philipktlin can you point @veyalla to some IoT Core team member that could explain the different in behavior?

[2019-11-07 20:58] lt72 commented on #1715
@varunpuranik please route appropriately.

[2019-11-07 20:59] lt72 commented on #1711
@mjeannin2, any additional info you can provide?

[2019-11-07 21:01] lt72 commented on #1706
@KevinKao809 do you know why the IP address changes on Edge? Is that intentional, or part of your testing, etc...?

[2019-11-07 21:55] lt72 commented on #1706
@varunpuranik any chance you can take a look at this one?

[2019-11-07 21:56] lt72 commented on #1702
@varunpuranik can you please route this appropriately?

[2019-11-07 21:59] lt72 commented on #1701
Closing this issue, as it seems to be positively resolved.
@varunpuranik Fyi, for evaluating possible improvements in message handling.

[2019-11-07 21:59] #1701 closed

[2019-11-07 22:00] lt72 commented on #1687
@kkdawkins @arsing can you please take a look at this one and see if there is anything we can do?

[2019-11-07 22:27] myagley commented on #1947
The logs are indicating that the token that is being presented from the module to the Edge Hub is expired. That can happen when using MQTT because there is no token refresh mechanism. The expectation is that the module would then reconnect.

Is your module not reconnecting? There aren't enough logs from the edge hub to see if the module attempts to reconnect.

[2019-11-07 22:30] myagley commented on #1948
There is an issue with versions `1.0.8.0` to `1.0.8.2` regarding growth of the on disk storage. This was fixed in `1.0.8.3`. If you are not on `1.0.8.3`, I would upgrade and retest.

[2019-11-07 22:31] lt72 commented on #1598
This issue has been fixed in 1.0.8.3.

[2019-11-07 22:31] #1598 closed

[2019-11-07 23:15] lt72 commented on #1555
Closing this issue as it seems stale, please feel free to re-open if you need to.

[2019-11-07 23:15] #1555 closed

[2019-11-07 23:16] lt72 commented on #1560
@arsing can you please take a look at this one?

[2019-11-07 23:18] lt72 commented on #1567
@kkdawkins can you please take a look at this one?

[2019-11-07 23:20] lt72 commented on #1587
@kkdawkins can you please provide clarifications about the implementation and point customers to the working version in 1.0.9 RC?

[2019-11-07 23:28] lt72 commented on #1274
Closing this issue as it seems stale, please feel free to re-open if you need to.

[2019-11-07 23:28] #1274 closed

[2019-11-07 23:31] #1512 closed

[2019-11-07 23:32] #1515 closed

[2019-11-08 00:24] philipktlin commented on #1725
@pratson20 please help to provide what exact version and build number of both Windows 10 and Windows IoT Core you used.

[2019-11-08 00:31] philipktlin commented on #1725
Also @pratson20 did you check docker stats? and "/containers/(id)/stats" docker API endpoint?

[2019-11-08 00:54] veyalla commented on #1587
Here are the instructions for testing this with [1.0.9-rc2](https://github.com/Azure/azure-iotedge/releases/tag/1.0.9-rc2):
https://github.com/Azure/iotedge/blob/master/doc/rc/how-to-auto-provision-x509-certificates.md

[2019-11-08 01:19] lt72 commented on #1522
@cconnert Closing issues as it seems to be resolved positively. Please feel free to re-open the issue if you still need help.

[2019-11-08 01:19] #1522 closed

[2019-11-08 01:20] lt72 commented on #1520
@KevinKao809 sorry for the late answer. Did you resolve your issue or still need help?

[2019-11-08 01:22] lt72 commented on #1538
@sebader sorry for the late answer. Did you manage to solve your issue or do you still need help?

[2019-11-08 01:39] arsing commented on #1560
@arabold

It's true that having 20 modules will push the Edge Agent's reported properties just past the 8KiB limit for module twins. Eg with 20 copies of SimulatedTempSensor the twin comes out to just over 12 KiB.

It's possible that exceeding this limit manifests as a 403.

However we're already in the process of updating the limits on module twin sizes. Can you check if you still have the issue?

[2019-11-08 01:52] yophilav opened #1972 "The Dummy Test Return"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Win

[2019-11-08 02:28] arsing commented on #1687
Based on the log in the OP:

... I suspect that neither the `/dev/tpm0` device nor the `/dev/tpmrm0` device nor the `tpm2-abrmd` service were available at the time `iotedged` started. Though I expected to see a "Failure: connecting to the TPM device" log before that one in those cases.

Ref:

- https://github.com/Azure/azure-utpm-c/blob/036c2403cc0524ad6e4463a5887b74d388cc8a68/src/tpm_codec.c#L256

[2019-11-08 03:31] elwoodhemingway commented on #184
Could  you share where you found what works?

[2019-11-08 04:39] #1972 closed

[2019-11-08 05:31] KevinKao809 commented on #1687
Hello,
Now, we used physical TPM device, so, this issue is not bother me any more.

[2019-11-08 05:34] KevinKao809 commented on #1706
Hi, About the IP change, this is common case when our IIoT Gateway connect with 3G/LTE cellular. It could happen many times especially when network is unstable.

[2019-11-08 05:37] KevinKao809 commented on #1520
@lt72 , can you verify does AzureSecurityCenterforIoT support Debian ARM already?
Debian ARM is not in tier 1 support list, this may be the root cause.

[2019-11-08 07:00] sachidanand commented on #1948
Hi We are using this version as of now iotedge 1.0.8 (208b2204fd30e856d00b280112422130c104b9f0)
So do we need to upgrade to 1.0.8.3 version now on production ???
Also is this latest version in the preview or it has been released as for general use

[2019-11-08 08:08] AdamMachera commented on #1538
We added to all outgoing messaged unique identifier on the module level, so
even when edgeHub was sending it twice we were able to filter them on data
lake level.

Regards,
Adam.

pt., 8 lis 2019 o 02:22 Lorenzo Tessiore <notifications@github.com>
napisał(a):

[2019-11-08 11:30] grzegorski opened #1974 "EdgeHub loses connection with IoT Hub and fails on updating Desired Properties however internet connection is ok"
## Expected Behavior
EdgeHub handles well connectivity issues and restores the stream.

## Current Behavior
Hi we noticed today that stream from one of the Edge Devices went down, however internet connection to the Gateway was OK.
Seems like Edge Hub could not connect to the cloud and was failing on updating Desired Properties (Timed Out) until IoT Edge was restarted manually.

## Context (Environ

[2019-11-08 11:39] Dolphinsimon commented on #1945
Everything works fine when the port is not connected.
I haven't check the iotedge check output. I will try this later.

[2019-11-08 13:47] grzegorski commented on #1654
Observed issue today again. Our modules handle now the desired properties update and they didn't fail but EdgeHub and Edge Agent failed to update desired properties and stopped sending anything to the cloud. At the same time IoT Hub reported all connections to be OK.
See issue: https://github.com/Azure/iotedge/issues/1974

[2019-11-08 14:46] Jeroenqu commented on #1899
Hi, bit busy these days. Sorry for the delay, but I will pick it up in the weekend.

[2019-11-08 15:45] #1687 closed

[2019-11-08 16:06] myagley commented on #1974
The `iotedge check` output indicates that there is no network connectivity from with the containers. Quite often the culprit is DNS. Have you specified an explicit set of DNS servers?

https://docs.microsoft.com/en-us/azure/iot-edge/offline-capabilities#specify-dns-servers

It may also be helpful to run the check tool in verbose mode to see the exact error these checks are failing on. `iotedge che

[2019-11-08 16:09] myagley commented on #1948
`1.0.8.3` is generally available and is _not_ a preview release. It's recommended to upgrade to it, if you can, because it has some important stability improvements.

You can read the changelog here: https://github.com/Azure/iotedge/blob/release/1.0.8/CHANGELOG.md

[2019-11-08 17:03] damonbarry commented on #1654
@grzegorski Thanks for opening #1974; we can track this latest instance in that issue.

[2019-11-08 17:06] yophilav opened #1975 "Testing Dummy Again(test)"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Win

[2019-11-08 17:37] myagley commented on #1974
Actually, after looking at the `iotedge check` output closer, it looks like the connectivity checks from the host to the IoT Hub are also failing. Was `iotedge check` run before the runtime was restarted?

[2019-11-08 17:41] pkoronawa commented on #1715
I am experiencing the same problem with the sample code on Windows. Seems to be recently introduced since it works properly if I downgrade Microsoft.Azure.Devices.Client from 1.21.1 to 1.21.0

[2019-11-08 18:21] #1975 closed

[2019-11-09 00:15] yophilav opened #1978 "The return of dummy test issue"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Win

[2019-11-11 08:13] keshava-hm commented on #1851
related threads: https://github.com/Azure/azure-iot-sdk-csharp/issues/1108
https://github.com/MicrosoftDocs/azure-docs/issues/40855

[2019-11-11 08:22] arnabhetc opened #1979 "Custom modules getting disconnected to IoT hub after 24 hours"
## Expected Behavior
Running multiple custom module and using transparent gateway solution where leaf device is configured with X.509 certificates, using MQTT protocol

## Current Behavior
custom modules are running fine  but  modules getting failed after ~24 hours and getting " Transient network error " ( more details in logs), No network disconnection observed

## Steps to Reproduce
Provide a de

[2019-11-11 08:35] sachidanand commented on #1948
When we will be getting iotedge 1.0.9 as GA ??

[2019-11-11 08:55] petermillsacumentive commented on #1947
Generally I'm seeing several attempts succeed before this, then they start to fail. e.g. I don't see this fail after just an hour.

We're following this example: https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module

Would you modules to reconnect with MQTT using this example?

[2019-11-11 09:30] petermillsacumentive commented on #1947
Is it possible there's some remnant of the security certificate I was trying out, but in the hub itself? I can't seem to see anything sadly and I have tried removing the entire device twin from iot hub.

[2019-11-11 09:46] pratson20 commented on #1725
Hi @philipktlin , I am using Windows IoT Core version -10.0.17763.737

Not tried docker stats. Can you please send some reference to use Docker API endpoint

[2019-11-11 16:12] myagley commented on #1979
Hello. Is it possible to get logs from the `iotedged` as well? Specifically from the time `2019-11-10 10:20:00.000` going forward?

`journalctl -u iotedge --since "2019-11-10 10:00:00.000" > iotedge.log` and send the `iotedge.log`

There are some unexpected errors in the Edge Hub logs and these logs should help to fill in some missing information.

[2019-11-11 17:03] arnabhetc commented on #1979
Hey Mike,
Thanks for replying, I would like to let you know that, I have restated the IoT edge to get our services running.. So still can I retrieve those logs..

[2019-11-11 17:25] petermillsacumentive commented on #1947
Couple more things I've found, we had changed our host name for the Raspberry Pi - however we hadn't changed the hosts file. Occasionally I would see host resolution errors on bootup, so going to run another test overnight to see if this is a factor or not.

[2019-11-11 18:13] myagley commented on #1979
You should still be able to get the logs. It is a little dependent on how `journald` is configured on the host machine, which will determine how long the logs are stored for.

[2019-11-11 18:15] myagley commented on #1948
We don't have a firm date for 1.0.9. We are anticipating another release candidate before it goes GA. which means it will not GA any earlier than the beginning of January.

[2019-11-11 18:17] myagley commented on #1947
There isn't any evidence at this point that certificates are to blame. The errors in the logs are related to the SAS token expiring, which occurs after TLS has completed successfully. If certificates were an issue the error would occur much earlier in the connection process.

[2019-11-11 18:21] myagley commented on #1945
I'm not directly familiar with your device setup, but I would start by looking at the device's network routes to see if there is a route from the container's subnet to the 4G/LTE network interface.

To determine the container's subnet, you can run the following command and look under `IPAM.Config` for the subnet.

`docker -H npipe:////./pipe/iotedge_moby_engine version network inspect nat`

[2019-11-11 18:37] Dolphinsimon commented on #1945
Thanks for your advice.
I might have found a solution here:https://docs.microsoft.com/en-us/windows-hardware/drivers/mobilebroadband/understanding-and-configuring-windows-connection-manager#windows-10-version-1809-build-17763404-and-later
I've set the policy to 0. The gateways works as expected: Collectiong data from local network and sending them to cloud through LTE network.
I will keep testing

[2019-11-12 04:33] arnabhetc commented on #1979
Hi Mike,
I tried, its seems the logs are there from Nov 11 12:06:15
You can take a look from  **[here](https://drive.google.com/open?id=1tVAqhizK6ASU0btKCvBO0v_51JxxlcVU)**

[2019-11-12 10:19] petermillsacumentive commented on #1947
Hi Mike, I think I've figured out what was wrong.

Our host was renamed by changing: /etc/hostname
For iotedge by changing /etc/iotedge/config.yaml
**However** the local loopback hadn't been changed here: /etc/hosts
(it still said 127.0.0.1 raspberrypi)

Do you think there might be scope for getting the 'iotedge check' command improved to check the hosts file on Linux too? I'm just about to run an

[2019-11-12 16:42] fgheysels opened #1982 "Module fails to restart because of transient network error"
## Expected Behavior
When an IoT Edge module disconnects it should be able to reconnect.

## Current Behavior
I have an IoT Edge solution that runs on a Raspberry Pi and consists of 4 IoT Edge modules.
Upon deployment of the solution to the Edge Device (Pi), everything was working fine.  After a couple of hours, one of the modules was being restarted by the IoT Edge runtime,
and failed to start ag

[2019-11-12 23:15] lt72 commented on #1547
@philipktlin can you please take a look at this one?

[2019-11-12 23:18] damonbarry commented on #1846
It looks like a solution has been provided and there's been no further activity...closing.

[2019-11-12 23:18] #1846 closed

[2019-11-13 00:21] philipktlin commented on #1801
Just want to clarify with your last comment.  Since you mentioned that a script is running to check DNS resolution and connectivity to EdgeHub; you are running this script inside your custom module, right? how many modules are running on the device? does this connection lost issue happen in more than 1 module? And your custom module has connection lost issue even script reports no problem, right?

[2019-11-13 00:32] philipktlin commented on #1851
1. try to update sender code to use this SendEventAsync method without output name (https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.moduleclient.sendeventasync?view=azure-dotnet#Microsoft_Azure_Devices_Client_ModuleClient_SendEventAsync_Microsoft_Azure_Devices_Client_Message_).
2. try to update receiver code to use this SetMessageHandlerAsync (https://docs.microsoft.com/

[2019-11-13 00:42] philipktlin commented on #1865
@MPapst any update?

[2019-11-13 01:21] philipktlin commented on #1547
I believe this is related to Certificate Invocation List; you need to set revocation mode to No Check.

Try to follow section "Method 4: Turning off Check for Server Certificate Revocation" in this link, https://appuals.com/fix-revocation-information-security-certificate-site-not-available/.  To disable certificate revocation, see if it works.

[2019-11-13 04:03] keshava-hm commented on #1851
Hi @philipktlin , I had opened another thread which explains the actual issue which caused this issue in my project, and the workaround I used. https://github.com/MicrosoftDocs/azure-docs/issues/40855
So according to this thread, the issue was introduced when upgrading Microsoft.Azure.Devices.Client 1.21.0 to 1.21.1.

Thanks
--Keshava G N

[2019-11-13 04:04] keshava-hm commented on #1851
In my opinion, this issue can be closed and the other actual issue (https://github.com/MicrosoftDocs/azure-docs/issues/40855) can be continued...

[2019-11-13 04:35] philipktlin commented on #1851
Thanks for your reply.

[2019-11-13 04:35] #1851 closed

[2019-11-13 06:21] keshav1git opened #1985 "Unable to configure Partition ID for azure IoTHub"
## Expected Behavior
should be able to send messages to IoTHub with user defined partitionID(0/1/2/3)

i.e., I'm able to send messages to IoTHub but messages by default it goes to partition "2" , how do make messages to go to partition "0" or "1" etc.

## Current Behavior
I'm sending messages to IoTHub **ONLY** to partition "2"  using REST API  [link](https://docs.microsoft.com/en-us/rest/api/ioth

[2019-11-13 16:00] somme89 commented on #1801
The script was not running inside a module so I'm not checking connectivity from inside docker only from the machine to the internet. Only one custom module is running plus edgeHub and edgeAgent. The exact same module has been deployed on 25 other machines that are set up in the same way but at different locations. It is the edgeHub module that loses connection to the Azure EdgeHub so naturally th

[2019-11-13 16:21] myagley commented on #1985
There is no way to send a message to a user defined partition on IoT Hub. The partition is selected based on the device id to ensure that all messages from the same id end up in the same partition. This is done by hashing the device id and then mapping a segment of the digests into each partition. This gives a pseudo even distribution of messages across all partitions, assuming each device sends a

[2019-11-13 20:48] RotateAt60MPH opened #1987 "Edge Runtime install on windows - old version of Windows 10 required?"
The docs say that you can only install Edge run-time on the Windows 10 build 1809/17763.  Only.  :P  If you try and install Edge on a properly patched machine, the install fails since it says that the latest build (1909/18363) is not compatible.

It appears to be near impossible (or very well hidden) to take a machine (or VM) and update to not the current build.  Windows update will try and take i

[2019-11-14 08:02] keshav1git commented on #1985
okay thanks @myagley

[2019-11-14 09:44] kajakIYD commented on #1815
Hi @kkdawkins , @darobs
Any updates? :)

[2019-11-14 17:06] myagley commented on #1815
I believe you should be able to depend on time sync'ing actually occurring by adding a dependency on ` time-sync.target`.

[code]

The thing we would need to test is if there is no internet, will the `Wants` (not `Requires`) allow the `iotedged` to start without a time sync.

[2019-11-14 18:28] vipeller commented on #1538
@AdamMachera - thank you for your reports and logs. Can you confirm that your custom module is set up to use MQTT protocol to talk to EdgeHub?

My current theory is the following:

- authentication tokens expire regularly. In case of MQTT, the protocol (3.x) doesn't give a way to reauthenticate, so the current solution is that the module disconnects and reconnects again with the fresh authenticati

[2019-11-14 18:39] AdamMachera commented on #1538
We are using Mqtt for custom module to edgeHub authentication.

[2019-11-14 21:59] philipktlin commented on #1801
Please provide what OS platform/architecture you are using.

[2019-11-15 05:00] SLdragon commented on #1846
You can also refer troubleshoot page:

https://github.com/Microsoft/vs-azure-iot-edge-docs/wiki/Troubleshoot#4-docker-build-fails---when-reference-libraryshared-code-in-projectsolution

[2019-11-15 09:23] DmitryN270713 commented on #1642
Installing docker-ce does not exactly solves the issue, but container can be run at least. The issue that will be faced is:

× config.yaml has correct URIs for daemon mgmt endpoint - Error
    Unable to find image 'mcr.microsoft.com/azureiotedge-diagnostics:1.0.8' locally
    1.0.8: Pulling from azureiotedge-diagnostics
    6e39823df636: Pulling fs layer
    a7e88e83dd1d: Pulling fs layer
    a7e8

[2019-11-15 10:02] somme89 commented on #1801
OS is Ubuntu LTS 18.04.2 x64

[2019-11-15 18:37] MPapst commented on #1865
I think it's been an implementation issue or depending on the SDK.
We upgraded our Module Backend (which now is using 1.21.0 of the IoT Device SDK (C#)) and the issue seems gone.

[2019-11-15 18:37] #1865 closed

[2019-11-15 21:40] dmolokanov commented on #1898
I'm closing this issue for the lack of activity. Feel free to re-open it if you additional questions. Thanks!

[2019-11-15 21:40] #1898 closed

[2019-11-15 21:42] dmolokanov commented on #1885
I'm closing this issue for now. Stay tuned for the upcoming realeases. Thanks for reaching us!

[2019-11-15 21:42] #1885 closed

[2019-11-15 23:59] philipktlin commented on #1979
Since we don't have iotedged log from Nov 10 10:20 forward, we can't find out the root cause.  Base on edgeAgent and edgeHub log, there is something wrong that parsermodule can't be started up.  Please keep monitoring and if happens again, provide logs of iotedged, edgeAgent and edgeHub and all other module logs for investigation.

[2019-11-16 00:00] philipktlin commented on #1979
I will leave this issue open for now; and it will go to stale automatically after 30 days.

[2019-11-16 00:40] philipktlin commented on #1982
Did you check DNS works at the moment that your module failed to connect? did you test DNS inside failed module?  does other modules use the same way to instantiate module client? Would you share the full log of iotedged, edgeAgent and edgeHub.  @varunpuranik  do you have any suggestion?

[2019-11-17 18:04] V4A001 commented on #1730
Why do you use your name in the settings?

[2019-11-18 04:43] philipktlin commented on #1801
There are some issues related to netplan fixed in https://wiki.ubuntu.com/BionicBeaver/ReleaseNotes/ChangeSummary/18.04.3.  I would suggest you to upgrade to 18.04.3 version and see if this will resolve the issue.  Also it will be great if you can run your script inside EdgeHub container to log internet connection and iotedge check periodically.

[2019-11-18 06:09] dmefed commented on #1987
As a side question, whether it is planned to add IoT Edge Runtime support for the latest 1903 Windows 10 build?

If yes, when approximately this could happen?

[2019-11-18 06:45] philipktlin commented on #1706
Please provide all logs from edgeAgent, edgeHub and custom module; iotedge daemon log and iotedge check result for investigation.

[2019-11-18 07:02] veyalla commented on #1987
@RotateAt60MPH You can use Windows Server 2019 eval during development: https://www.microsoft.com/en-us/evalcenter/evaluate-windows-server-2019. This will remain on build 17763 which a long term support release.

@dmefed No plans, we intend to support only LTSC releases of Windows at this time. Please see this page for production supported OS list: https://docs.microsoft.com/en-us/azure/iot-edge/s

[2019-11-18 09:43] DmitryN270713 commented on #1642
After configuring IoTEdge properly (docker-ce used instead of moby-engine by Microsoft) it seems like this temporary solution should help people with Buster.
√ config.yaml is well-formed - OK
√ config.yaml has well-formed connection string - OK
√ container engine is installed and functional - OK
√ config.yaml has correct hostname - OK
√ config.yaml has correct URIs for daemon mgmt endpoint - OK
√

[2019-11-18 12:37] keshava-hm commented on #63
Whether this solution works in Windows OS with Windows containers?

Is there a way to connect to host from module?

Thanks

[2019-11-18 14:35] dallasakre commented on #1987
@veyalla The solutions you have suggested are both terrible and do not reflect well on Microsoft.  The original post by @RotateAt60MPH is exactly the issue many of us will face and I would have thought that Microsoft was security conscious of IoT Edge devices and would therefore encourage Windows updates.

Also, you didn't answer the last part of the question:

**Also, you mentioned Windows Server

[2019-11-18 16:18] alaendle opened #2005 "User Voice seems to be dead/unmoderated"
As an interested user I followed you suggestion and placed a feature request on User Voice.

And I did this more than a month ago - https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/38782231-support-hierarchical-module-input-structure - but the issue still waits for an acknowledgement to be published.

So please make sure that the issues awaiting moderation on User Voice get proc

[2019-11-18 18:16] philipktlin commented on #1872
Thanks to share your scenario with us.

Issue1: this is moby's behavior.  It is better to find support from Moby repo.
Issue2: since docker volume will not be removed even container is removed.  Even IoT Edge detects changes in deployment and try to re-create the container with the new parameters; existing volume doesn't take the new parameter.

To resolve these issues with workaround, I would sug

[2019-11-18 18:36] fgheysels commented on #1982
I've been able to ssh into the Raspberry Pi that acts as an edge device.  Since `iotedge check` reported that there was no DNS configured, I've done that by specifying this entry in `daemon.json`:

[code]
I've also noticed that the `/etc/hosts` file contained an error:  the IP address 127.0.1.1 didn't refer to the hostname of the device.   I've changed that as well and rebooted the device

For now

[2019-11-18 18:55] veyalla commented on #1987
@dallasakre Few clarifications which may help:

* From the Tier 1 OS page I linked in the previous reply, on Windows 10 Desktop Client OS, only [Windows 10 **IoT** Enterprise](https://docs.microsoft.com/en-us/windows/iot-core/windows-iot-enterprise) is supported in production. This is a Windows 10 SKU licensed differently than Pro, Home or Enterprise (non-IoT) SKUs and usually available from OEMs.

[2019-11-18 19:59] dallasakre commented on #1987
@veyalla Thanks for the quick response, that is helpful.

[2019-11-18 20:04] philipktlin commented on #1982
Definitely 127.0.0.1 mapping should always map to your device name.  For using public DNS 1.1.1.1, I think it is required as well since iotedge check result of your device tells that no DNS is configured.

Please monitor and provide logs of IoT edge daemon, edgeAgent, edgeHub and your custom module , and iotedge check result when problem happens again.

This issue will go to stale if it is inactiv

[2019-11-18 22:24] philipktlin commented on #1872
Close this as this is existing Moby behavior.  noted this scenario, will think about it in the future.

[2019-11-18 22:24] #1872 closed

[2019-11-19 03:24] ancaantochi commented on #796
Closing because no activity. Please reopen if you still have this issue.

[2019-11-19 03:24] #796 closed

[2019-11-19 05:46] keshava-hm commented on #1543
what's the solution for this?

Is there a way to get host IP from iot edge module?

[2019-11-19 06:24] LiangJy123 commented on #1543
I believe the right approach is to take the host's name from the environment variable.
Then convert the host name to IP.

 It's just that I can't do it in my network environment.

So I found two ways to get around it.
1.  Just like @arsing  saying , use FQDN.
To find your device's FQDN, use the command "NSLOOKUP + your device computer name".
Then you can get computer name alias.
But it's not worki

[2019-11-19 06:29] keshava-hm commented on #1543
Thanks, @LiangJy123 for response.

When I convert the host name to IP, I get a different IP than the host IP.

You mean , "NetworkMode": "host", ?

[2019-11-19 06:48] keshava-hm commented on #1543
This does work when I hard code the FQDN name. But is there a way to get this from edge module?

Thanks a lot.

[2019-11-19 07:54] LiangJy123 commented on #1543
I also hard code it. (Laughing and crying)
I tried  to get this from edge module but didn't find the way, for example, specifying a DNS resolution server.

---------------------------------------------------分割线---------------------------------------
I can't implement host mode in Windows system, maybe Moby is like docker.
![image](https://user-images.githubusercontent.com/13048899/69122628-4d0bf90

[2019-11-19 08:10] keshava-hm commented on #1543
My aim is to communicate over TCP to an app on host which is listening on a port.
I was using a workaround to write the host IP from app to a text file and access this file by mounting the directory in docker to get the host IP on my module... Do you think there's a better way to do this?

[2019-11-19 08:57] fgheysels commented on #1982
Should 127.0.0.1 map to the device-name or 127.0.1.1 ?

The logs for edgeAgent, edgeHub and my custom module should be in the issue, but seems like there's something wrong with the formatting.  I'll fix it.

How can I get the logs for the edge daemon ?

[2019-11-19 15:25] grzegorski commented on #1974
@myagley DNS servers are set for docker globally in daemon.json and the `iotedge check` was run before resarting iotedge runtime.

[2019-11-19 16:27] #1978 closed

[2019-11-19 17:46] lt72 commented on #1901
Closing issue, please re-open if needed.

[2019-11-19 17:46] #1901 closed

[2019-11-19 17:46] lt72 commented on #1900
Closing issue, please re-open as needed.

[2019-11-19 17:46] #1900 closed

[2019-11-19 17:49] lt72 commented on #681
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:49] #681 closed

[2019-11-19 17:50] lt72 commented on #711
Closing this issue as it is fixed. Please re-open as needed.

[2019-11-19 17:50] #711 closed

[2019-11-19 17:50] lt72 commented on #740
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:50] #740 closed

[2019-11-19 17:51] lt72 commented on #744
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:51] #744 closed

[2019-11-19 17:52] lt72 commented on #747
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:52] #747 closed

[2019-11-19 17:52] lt72 commented on #817
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:52] #817 closed

[2019-11-19 17:52] lt72 commented on #818
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:52] #818 closed

[2019-11-19 17:52] lt72 commented on #819
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:52] #819 closed

[2019-11-19 17:53] lt72 commented on #820
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:53] #820 closed

[2019-11-19 17:53] lt72 commented on #821
Closing this issue as it seems resolved. Please re-open as needed.

[2019-11-19 17:53] #821 closed

[2019-11-19 17:53] lt72 commented on #831
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:53] #831 closed

[2019-11-19 17:54] lt72 commented on #853
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:54] #853 closed

[2019-11-19 17:54] lt72 commented on #867
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:54] #867 closed

[2019-11-19 17:54] lt72 commented on #871
Closing this issue as was fixed in 1.0.8. Please re-open as needed.

[2019-11-19 17:54] #871 closed

[2019-11-19 17:55] lt72 commented on #885
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:55] #885 closed

[2019-11-19 17:55] lt72 commented on #891
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:55] #891 closed

[2019-11-19 17:56] lt72 commented on #898
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:56] #898 closed

[2019-11-19 17:58] chipalost commented on #1947
@veyalla, please evaluate whether this is a feature request we can add to the 'iotedge check' tool.

[2019-11-19 17:58] myagley commented on #1985
I am going to close this issue as there are no plans in IoT Hub to allow the partition to be specified.

[2019-11-19 17:58] #1985 closed

[2019-11-19 17:59] lt72 commented on #19
@varunpuranik was this fixed for 1.0.8?

[2019-11-19 17:59] lt72 commented on #44
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:59] #44 closed

[2019-11-19 17:59] lt72 commented on #225
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 17:59] #225 closed

[2019-11-19 18:00] lt72 commented on #237
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 18:00] #237 closed

[2019-11-19 18:00] lt72 commented on #321
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 18:00] #321 closed

[2019-11-19 18:00] lt72 commented on #479
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 18:00] #479 closed

[2019-11-19 18:01] lt72 commented on #534
@chriswaters78 I understand your concern, we are working to improve our turnaround time. Thank you for your feedback.

[2019-11-19 18:01] #534 closed

[2019-11-19 18:02] myagley commented on #1974
Based on the evidence from the `iotedge check` output it looks like there is no connectivity from the device to this IoT Hub, from the host and from within the iot edge network.

Is the issue that the Edge Hub did not reconnect after the device regained connectivity?

[2019-11-19 18:22] lt72 commented on #646
Closing this issue as it seems fixed. Please re-open as needed.

[2019-11-19 18:22] #646 closed

[2019-11-19 18:28] lt72 commented on #1928
Closing this issue as it seems resolved. Please re-open as needed.

[2019-11-19 18:28] #1928 closed

[2019-11-19 18:31] lt72 commented on #1927
Closing this issue as it seems stale. Please re-open as needed.

[2019-11-19 18:31] #1927 closed

[2019-11-19 18:36] kwildermuth1 commented on #1912
@nextdynamic Did you solve the issue running IoT Edge modules on Raspberry PI 4 with the arm32 architecture, or did you just choose a different path? I am experiencing the same issue reported here.

[2019-11-19 19:00] ancaantochi commented on #1899
@Jeroenqu,
I noticed in iotedged logs that it fails to get edgeAgent identity because the certificate validation fails, it looks like a self signed certificate is used by the https_proxy. Did you install the certificate http proxy CA on the machine?

You can do a quick check to see if the certificate validation passes when connecting to the proxy:

`openssl s_client -connect 192.168.251.254:3128 `

[2019-11-19 20:44] olovemaas commented on #1987
Dear Veyalla. Thanks for the link to download Win Server 2019. I'll try it out.  However, you sure make it hard to use Microsoft software and spread the Edge technology when locking out users like this. This is not good way forward. KR Olov E

[2019-11-19 23:23] lt72 commented on #834
Closing issues as it seems stale. please feel free to re-open as needed.

[2019-11-19 23:23] #834 closed

[2019-11-19 23:23] lt72 commented on #835
Closing issues as it seems stale. please feel free to re-open as needed.

[2019-11-19 23:23] #835 closed

[2019-11-19 23:23] lt72 commented on #843
Closing issues as it seems stale. please feel free to re-open as needed.

[2019-11-19 23:23] #843 closed

[2019-11-19 23:24] lt72 commented on #844
Closing issues as it seems stale. please feel free to re-open as needed.

[2019-11-19 23:24] #844 closed

[2019-11-19 23:24] lt72 commented on #857
Closing issues as it seems stale. please feel free to re-open as needed.
We recommend upgrading to 1.0.8.4 (released today) where we have some security fixes related to dotnet, and lots of reliability improvements.

[2019-11-19 23:24] #857 closed

[2019-11-19 23:26] veyalla commented on #1947
This is first time I've seen this oversight being the root cause. I think we should track if this is a stumbling block for more users and then re-evaluate implementing a check for it.

[2019-11-19 23:29] lt72 commented on #933
Closing issues as it seems stale. please feel free to re-open as needed.
We recommend upgrading to 1.0.8.4 (released today) where we implemented lots of reliability improvements.

[2019-11-19 23:29] #933 closed

[2019-11-19 23:29] lt72 commented on #948
Closing issues as it seems resolved. please feel free to re-open as needed.
We recommend upgrading to 1.0.8.4 (released today) where we implemented lots of reliability improvements.

[2019-11-19 23:29] #948 closed

[2019-11-19 23:30] lt72 commented on #949
Closing issues as it seems resolved. please feel free to re-open as needed.
We recommend upgrading to 1.0.8.4 (released today) where we implemented lots of reliability improvements.

[2019-11-19 23:30] #949 closed

[2019-11-19 23:30] lt72 commented on #950
Closing issues as it seems stale. please feel free to re-open as needed.
We recommend upgrading to 1.0.8.4 (released today) where we implemented lots of reliability improvements.

[2019-11-19 23:30] #950 closed

[2019-11-19 23:31] lt72 commented on #952
Closing issues as it seems stale. please feel free to re-open as needed.
We recommend upgrading to 1.0.8.4 (released today) where we implemented lots of reliability improvements.

[2019-11-19 23:31] #952 closed

[2019-11-19 23:31] lt72 commented on #961
Closing issues as it seems stale. please feel free to re-open as needed.
We recommend upgrading to 1.0.8.4 (released today) where we implemented lots of reliability improvements.

[2019-11-19 23:31] #961 closed

[2019-11-19 23:31] lt72 commented on #966
Closing issues as it seems stale. please feel free to re-open as needed.
We recommend upgrading to 1.0.8.4 (released today) where we implemented lots of reliability improvements.

[2019-11-19 23:31] #966 closed

[2019-11-19 23:49] lfitchett opened #2016 "Test"
sadaSD

[2019-11-19 23:49] #2016 closed

[2019-11-19 23:49] lfitchett commented on #2016
TESDT

[2019-11-19 23:50] lfitchett commented on #2016
[commands.txt](https://github.com/Azure/iotedge/files/3866615/commands.txt)

[2019-11-20 05:37] keshava-hm commented on #1543
Thanks a lot for the response. I think you mean by
[code]

I'll try this.

[2019-11-20 05:45] RotateAt60MPH commented on #1987
@veyalla

Spinning up a evaluation version of Win Server is NOT a reasonable expectation for creating an Edge development environment.  What happens when that eval times out?  Reinstall another fresh eval version of Win server?  Seriously?

It shows a staggering amount of shortsightedness on the part of Microsoft to expect developers to base a development environment on EVALUATION software.  Is th

[2019-11-20 09:01] petermillsacumentive commented on #1947
Just to confirm, we've been running tests for about a week now and the problem hasn't come back.

Obviously now we understand what we were missing, we won't be making the same mistake again.

[2019-11-20 12:25] Jeroenqu commented on #1899
@ancaantochi thanks for your reply. You're right, I've requested the proxy certificate from the service supplier. The previous remark from the service supplier was that it is only required for SSL deep packet inspection, which they didn't turn on.

![image](https://user-images.githubusercontent.com/56964303/69238816-21037d00-0b99-11ea-9037-e2e90d226700.png)

[2019-11-20 15:14] nextdynamic commented on #1912
It took awhile ,but once I worked thru this blog, I was able to compile and deploy.

https://devblogs.microsoft.com/iotdev/easily-build-and-debug-iot-edge-modules-on-your-remote-device-with-azure-iot-edge-for-vs-code-1-9-0/

From: kwildermuth1 <notifications@github.com>
Sent: Tuesday, November 19, 2019 1:37 PM
To: Azure/iotedge <iotedge@noreply.github.com>
Cc: Tim Brown <Timothy.Brown@microsoft.co

[2019-11-20 15:16] nextdynamic commented on #1912
This is the link I followed.

It was not the deployment template mods, but the settings.json.  Specifically –

"azure-iot-edge.executor.env": {
    "DOCKER_HOST": "ssh://pi@192.168.86.74"
}

Using the docker host on windows seemed to cause the cross compiler issue.

From: Denis Molokanov <notifications@github.com>
Sent: Friday, October 25, 2019 4:24 PM
To: Azure/iotedge <iotedge@noreply.github.com

[2019-11-20 16:27] MkTru opened #2020 "Cannot configure proxy for iotedge"
When configuring a proxy for the iotedge daemon as documented at https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support the service no longer starts.

**Versions**
- OS: Windows 10 IoT, LTSC, 1809, Build: 17763.107.
- iotedge 1.0.8 (208b2204fd30e856d00b280112422130c104b9f0)

**Observed Behavior**:
As soon as the key HKLM\SYSTEM\CurrentControlSet\Services\iotedge\Environment

[2019-11-20 18:18] Mo-GH commented on #130
the work around not work for me and the link is not anymore valid :
http://ftp.se.debian.org/debian/pool/main/o/openssl/libssl1.0.0_1.0.2l-1~bpo8+1_amd64.deb"

thanks

[2019-11-20 19:06] chriswue commented on #130
@Mo-GH It doesn't look like Debian9 images are built regularly. https://packages.microsoft.com/debian/9/prod/pool/main/i/iotedge/ contains only 1.0.7.1 My advise would be to got with Ubuntu instead. If there are issues on Debian (such as packaging or dependency issues) then you're likely on your own.

[2019-11-20 20:34] ancaantochi commented on #2020
Hi @MkTru,

Can you get more information if you try to get the logs using
`. {Invoke-WebRequest -useb aka.ms/iotedge-win} | Invoke-Expression; Get-IoTEdgeLog`

Can you please run the command to query for the registry key and let me know what is returns:

`reg query HKLM\SYSTEM\CurrentControlSet\Services\iotedge /v Environment`

When it works did you only remove the registry key or did you make cha

[2019-11-20 21:10] lt72 commented on #1378
@radoye apologies for the late answer. Are you still experiencign this issues?

[2019-11-20 21:13] lt72 commented on #1325
@chieftn was the bug fixed in the portal? Can we close this issue?

[2019-11-20 21:14] lt72 commented on #1208
Hi @mbialecka did you manage to try 1.0.8?

[2019-11-20 21:15] lt72 commented on #1923
@vipeller has this been fixed already?

[2019-11-20 21:17] lt72 commented on #1705
@ancaantochi can you please take a look when you have a chance?

[2019-11-20 21:19] lt72 commented on #1636
Closing this issue as it seems resolved, please feel free to re-open as needed.

[2019-11-20 21:19] #1636 closed

[2019-11-20 21:21] vipeller commented on #1923
@lt72 There is a pending pull request in the C# SDK (which is needed for a decent fix) and a temporary fix which I haven't written tests for - pulled away for other issues. So the answer is no, but it is on it's way.

[2019-11-20 21:23] lt72 commented on #1791
Closing this issue as it seems stale, please feel free to re-open as needed and we will get back to it.

[2019-11-20 21:23] #1791 closed

[2019-11-20 21:24] lt72 commented on #1757
Closing this issue as it seems resolved, please feel free to re-open as needed.

[2019-11-20 21:24] #1757 closed

[2019-11-20 23:59] yfakariya commented on #1738
Any update for this?(I'm just afraid that the bot close the issue because of inactivity.)

[2019-11-21 07:14] MkTru commented on #2020
Get-IoTEdgeLog is empty, probably since the service does not start.

Here some sample entries:

[2019-11-21 08:55] keshava-hm commented on #1543
Thanks for the help, @LiangJy123 , but when I try this, I get following error:
_Transient network error occurred, please retry._
Do you have any idea on this?
Thanks.
--Keshava

[2019-11-21 20:00] pkoronawa opened #2030 "Can't configure logfile limit"
I have set logging configuration on the edge device as documented, but don't see any change in the log behavior. The same configuration in **\ProgramData\Docker\config** seems to have the desired effect, as indicated by **docker inspect**. However, the docker daemon is not running on the edge device so I can't get the same information.

From the logs
[code]

[code]

[2019-11-21 20:31] ancaantochi commented on #1982
I think the change to the /etc/hosts file fixed your issue because the connection failed from the module to edgeHub. The change to daemon.json to add the DNS is to fix issues from edgeHub to the cloud. Because your module is running on the host network it needs to be able to resolve the GatewayHostname, you can check which value it has in the Env for IOTEDGE_GATEWAYHOSTNAME using:

`docker inspect

[2019-11-21 20:37] ancaantochi commented on #2030
Did you restart Moby Engine service after you made the configuration change?

[2019-11-21 21:35] ancaantochi commented on #2020
Please try to restart the service then run below commands to get logs. These filters the logs for the past 5 minutes

[code]

[code]

[2019-11-22 01:15] veyalla commented on #1947
Thanks @petermillsacumentive. I didn't mean to imply you'll be doing this again. I was recommending implementing an 'iotedge check' for it if we have the same report from *other* users, which would indicate that is a common stumbling block.

Closing issue since the problem seems to have been solved. Feel free to re-open if needed.

[2019-11-22 01:15] #1947 closed

[2019-11-22 06:26] arnabhetc commented on #1979
Hi ,

I faced the same issue in the gateway once more the same error,

**version of Edge run time** -->

`edgeHub                 running          Up a day         mcr.microsoft.com/azureiotedge-hub:1.0.8
`
`edgeAgent               running          Up a day         mcr.microsoft.com/azureiotedge-agent:1.0.8`

**The  error I faced in the one of the custom module  parsermodule**  -->

[code]

Here I

[2019-11-22 08:58] petermillsacumentive commented on #1947
No offence taken @veyalla - I'd been fighting the problem for about a week, so I'm just glad we're all working again.

[2019-11-22 09:54] seanmcd-msft commented on #1898
I believe the issue here is that windows host networking service that provides the vnet service that  backs docker and does dhcp and mdns is single instance.  you can have multiple docker/moby instances installed. but, you can't have more then 1 of them running at a time.  if you do then the first service instance that starts gets the network resources and the other instance has weird networking p

[2019-11-22 12:24] MkTru commented on #2020
The command Get-WinEvent... reports the same

To me it seems like a general "windows problem" regarding the "Environment" key.
Could there be a problem with registry virtualization / ACLs?

[2019-11-22 13:56] kajakIYD commented on #1815
@myagley thank you for reply.
I a couple of days I will be able to check if solution you suggested works.

[2019-11-22 14:53] arnabhetc commented on #1979
Hi,

One more of our running gateway failed using the same issue above --->

Error in the custom module is [pasermodule] -->

[code]
Here I will give the logs for the more clarity -->

EdgeAgent logs ---> **[HERE](https://drive.google.com/open?id=1Nr0lInCLwQieyiydUjBw163P4-FMqRt0)**

EdgeHub logs --> **[HERE](https://drive.google.com/open?id=1f9YkzGMNKwiiblZpcrDwVxp9gPeQ1r54)**

Custom Module logs

[2019-11-22 17:16] ancaantochi commented on #1549
Hi @gearsmotion789,

I am sorry for the late reply, we must have missed your question.

You don't have to add azure-iot-test-only.root.ca.cert.pem to IotHub certificates, but you have to install it on the downstream device:

[https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connect-downstream-device#install-certificates-in-the-os](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connec

[2019-11-22 19:30] ancaantochi commented on #1899
@Jeroenqu, was the issue fixed in edgeAgent after the proxy certificate was installed?

[2019-11-22 21:42] ancaantochi commented on #1706
@KevinKao809, Is the custom module running on the host network or on azure-iot-edge docker network? By default it runs on azure-iot-edge if you didn't specify another network in the deployement

[2019-11-22 23:00] KevinKao809 commented on #1706
Both，it was happen on both network mode.

取得 Android 版 Outlook<https://aka.ms/ghei36>

________________________________
From: Anca Antochi <notifications@github.com>
Sent: Saturday, November 23, 2019 5:42:44 AM
To: Azure/iotedge <iotedge@noreply.github.com>
Cc: KevinKao809 <cheeyuankao@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/iotedge] Change IP address result in D2C m

[2019-11-23 01:52] radoye commented on #1378
@lt72 not lately. haven't really tried to repro, though.

[2019-11-23 21:44] ancaantochi commented on #1706
On host network it is expected the connection would fail when the IP was changed. By message loss do you mean that the module was not able to send it to edge hub or does the message send completes successfully but edge hub losses it? The custom module has to handle exceptions and it should retry to send the message.

Can you please attach logs that were requested by  when the custom module is in a

[2019-11-23 21:49] ancaantochi commented on #1705
@KevinKao809, I will try to reproduce the issue and update here. The connection failure is expected, but I think what you would like is to be able to configure the timeout to a shorter period, it that right?

[2019-11-23 21:51] ancaantochi commented on #1899
It looks that the problem  was because of the proxy certificate, I will close this issue, please reopen if needed.

[2019-11-23 21:51] #1899 closed

[2019-11-23 21:53] ancaantochi commented on #1982
I will close this issue, please reopen if needed.

[2019-11-23 21:53] #1982 closed

[2019-11-23 21:57] ancaantochi commented on #2020
Yes, it looks like an issue specific to Windows IoT. I was not able to reproduce.

@jiria, can you please help?

[2019-11-24 00:46] KevinKao809 commented on #1705
@ancaantochi , right. we would like to define timeout by ourselves.

[2019-11-24 12:31] Slaffyjoe opened #2032 "my credit cards"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Win

[2019-11-24 15:00] joeyadamhenry commented on #1809
I'm not sure what to do

[2019-11-24 18:04] crpietschmann commented on #1232
When might we see this bug fix and v1.0.9 released?

[2019-11-24 18:40] crpietschmann opened #2033 "iotedge check with DPS & x.509 configuration returns "cannot resolve IoT Hub hostname" Errors"
## Expected Behavior
The `/etc/iotedge/config.yaml` is setup for DPS provisioning using x.509 certificates.

When running `sudo iotedge check --verbose --iothub-hostname https://iothub-name.azure-devices.net` (with my IoT Hub hostname) all checks should succeed without error.

## Current Behavior
The `iotedge check` command is returning the following errors for the **Connectivity Checks** showing

[2019-11-25 02:47] LiangJy123 commented on #1543
Hi @keshava-hm , Where did you get the exception?

[2019-11-25 03:40] keshava-hm commented on #1543
I think I get exception when I try to communicate to edge hub. Do we need to set the above options to edge hub as well?

With this network settings, can we communicate to the other modules using MQTT?

One more thing, can we use "vEthernet (nat)" network interface to communicate between host pc and edge module?
Because, if we can, then we can get and use the default gateway IP from docker containe

[2019-11-25 04:08] #2032 closed

[2019-11-25 06:24] radoye opened #2034 "Module version of Hub Device Streams?"
What is the recommended way to leverage [IoT Hub Device Streams](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-device-streams-overview) from a module?

  * Module SDK has "create from environment", handling connection string distribution and enabling us to deploy a feature to all edge devices;
  * Device SDK does not seem to have that, and requires us to handle connection string distribut

[2019-11-25 07:28] Dolphinsimon commented on #1945
Update: We have tested the  Windows Group Policy options above. When the option set to 0,  ethernet adapters and LTE  adapters works together.  For the passed few days, our  gateways have kept a stable state collectiong and sending data.
Thanks for everyone.

[2019-11-25 07:29] #1945 closed

[2019-11-25 07:34] TerryWarwick commented on #1987
@RotateAt60MPH,

We are aware of the challenges with limiting support to Windows 10 build 17763 for developers on the semi-annual channel releases.  This is complicated by the requirement that the Windows container host and Windows container image versions must match due to sharing of the Windows Kernel. ([More Info](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containe

[2019-11-25 07:57] lary12 opened #2036 "Henrique de Figueiredo所组成并于1993年开发。 设计目的 其设计目的是为了嵌入应用程序中，从而为应用程序提供灵活的扩展和定制功能。 Lua 特性 轻量级: 它用标准C语言编写并以源代码形式开放，编译后仅仅一百余K，可以很方便的嵌入别的程序里。 可扩展: Lua提供了非常易于使用的扩展接口和机制：由宿主语言(通常是C或C++)提供这些功能，Lua可以使用它们，就像是本来就内置的功能一样。 ever"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Win

[2019-11-25 07:57] lary12 commented on #2020
10000000

[2019-11-25 08:31] keshava-hm commented on #1851
Looks like this issue is solved in 1.21.2
https://github.com/Azure/azure-iot-sdk-csharp/issues/1108

[2019-11-25 12:55] nanowireUK opened #2399 "Many releases missing assets"
Trying to deploy IoT Edge to Debian 9 OS. Version 1.0.8 is the lastest non-rc version with the required assets (and Moby is even only 1.0.7).

Is there a reason there isn't a full build of assets for each release?

[2019-11-25 13:35] Jeroenqu commented on #1899
I've installed the certifiate, and still busy validating the outcome with the supplier.

[2019-11-25 14:50] RotateAt60MPH commented on #1987
@TerryWarwick Well, it is refreshing to actually get an authoritative response to concerns.  Thanks for that!

For my team, the value proposition for IoT development erodes when another license for Windows (Enterprise) is required.  For sure, it would be ideal to leverage existing dev infrastructure for development since our team does not have licenses for Enterprise.

The acknowledgement that the

[2019-11-25 14:50] #1987 closed

[2019-11-25 18:46] crpietschmann commented on #2033
It looks like this functionality is planned for v1.0.9 release, as per this link: <https://github.com/Azure/iotedge/blob/master/doc/rc/how-to-auto-provision-x509-certificates.md#create-and-provision-an-iot-edge-device-using-x509-certificates-preview>

Guess I'll close this Issue and wait until the 1.0.9 release.

[2019-11-25 18:46] #2033 closed

[2019-11-25 19:16] #2036 closed

[2019-11-25 19:24] chipalost commented on #2005
Thank you for posting feature requests on UserVoice! You're correct that we didn't respond as fast as we should have. I've updated the request on UserVoice and will close this GitHub issue.

[2019-11-25 19:24] #2005 closed

[2019-11-25 19:42] jiria commented on #2020
@MkTru , can you confirm if this reproes on IoT Core or IoT Enterprise?

[2019-11-26 00:33] arsing commented on #595
If this is still an issue, please confirm that the Docker Linux VM does have the correct time (`docker-machine ssh docker date`). If it is, we can reopen the issue then.

[2019-11-26 00:33] #595 closed

[2019-11-26 00:37] arsing commented on #2030
If the Docker daemon wasn't running, you wouldn't have had any running modules to get logs from. Why do you think the Docker daemon wasn't running?

[2019-11-26 13:01] jason-e-gross commented on #118
@mrohera
That's not true.    The edge agent and hub agent will transmit self-health/status messages that you have no control over, and are absolutely not part of your code -- and it still WILL count against your message count.

I created an IOT Edge device just today, that doesn't do any communication (just writes hello world to the console), and removed $upstream reference and the temp simulator

[2019-11-26 15:15] sachidanand opened #2042 "One extra blob URL is being used in the Edge Runtime and that is not open on our proxy firewall"
Hi Team
    We have seen that Edge runtime is using the blob URL for some purpose and that is not enabled on our Proxy firewall. So could you please let us know that for what purpose it is being used. And do we need to enable it on our firewall??
Also please let us know the full name of that storage account so that we can enable it on firewall.

[2019-11-26 16:02] pkoronawa commented on #2030
@ancaantochi i I had not restarted the service explicitly, but I had rebooted the machine. Does that not have the same effect? It does seem that after restarting the service the log file size is honored. However, only a single log file is preserved, despite setting "max-file": "10"

@arsing Because I tried **docker inspect** and received **error during connect:...This error may also indicate that

[2019-11-26 16:35] arsing commented on #2030
I assume you did not set [the `-H` parameter](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows#manage-module-containers) or did not run it as Administrator.

[2019-11-26 19:37] pkoronawa commented on #2030
@arsing Thanks. I missed that parameter in the docs. So the settings are showing up in **inspect**, but I would assume up to 10 logs would be present. I never see more than one in **iotedge-moby\containers\\***

[code]

[2019-11-26 20:43] chipalost commented on #2034
This is a known feature request that we're tracking and a couple of work items that need to be completed before this scenario is delivered end to end. First we need a GA version of a module SDK which supports device streams. After that, we need to update Edge Hub to support this feature.

[2019-11-26 21:25] arsing commented on #2042
What component are you seeing the access from? Is it iotedged? Edge Agent? Edge Hub? Moby engine?

If it's Edge Agent, it will access storage accounts for uploading logs if you use [the `UploadLogs` direct method.](https://github.com/Azure/iotedge/blob/master/doc/built-in-logs-pull.md#uploadlogs)

If it's the Moby engine, you're likely seeing the storage account that hosts the `mcr.microsoft.com/*

[2019-11-27 03:01] onlinepy opened #2398 "How to install IoTEdge for centos7 ARM on raspbian Pi"
I tried installing IoT Edge for Centos ARM32 on Raspberry PI. During installation of the libiothsm-std-1.0.9-0.1.rc3.el7.armv7hl.rpm
rpm -ivh libiothsm-std-1.0.9-0.1.rc3.el7.armv7hl.rpm
error: Failed dependencies:
libcrypto.so.1.0.0 is needed by libiothsm-std-1.0.9-0.1.rc3.el7.armv7hl
libssl.so.1.0.0 is needed by libiothsm-std-1.0.9-0.1.rc3.el7.armv7hl

[2019-11-27 03:50] LiangJy123 commented on #1543
Oh! I can't help you with this exception.
I can't install iotedge because my computer version is not 17763.

I read the c-sharp-sdk source code  about the module communication.
It may use the  value of **IOTEDGE_GATEWAYHOSTNAME**
![image](https://user-images.githubusercontent.com/13048899/69690393-9970bd80-1106-11ea-9ad9-0e58e4899908.png)

![image](https://user-images.githubusercontent.com/1304889

[2019-11-27 03:58] keshava-hm commented on #1543
Thanks @LiangJy123 , thanks a lot for the help! :)

[2019-11-27 05:54] keshava-hm opened #2047 "How to stop IoT edge module using powershell command?"
We have iotedge restart command to restart the module. But how to stop an iot edge module using powershell command?

There's a stop - and - start command for docker, but iot edge module restarts after few seconds automatically.

Any workaround/solution will be helpful.

Thanks
Keshava G N

[2019-11-27 06:41] keshava-hm commented on #1843
Is there a way to stop and start an iot edge module from powershell?

Thanks

[2019-11-27 07:09] sachidanand commented on #2042
Hi Team,
    We are getting this Blob being accessed by Mob-Docker .. So as you mentioned that MCR is using the blob storage under line so do we need to enable it on our firewall then.. Also could you give me more steps for mirroring the image to our ACR.

Also I think then the ACR which we are using for custom modules then it would also use some storage account under the line right ???  Can we fi

[2019-11-27 07:43] MPapst commented on #2047
That is done by the edgeAgent.
As IoTEdge is a cloud managed application, you are in need to set the module in stop using the cloud backend (which is the IoTHub) by using the „set modules“ function in the Azure Portal.

[2019-11-27 08:04] sachidanand opened #2048 "Is there Edge Runtime APIs so that we can get the Edge module status on the Gateway when Gateway is offline"
Hi Team,
    We want to develop an Utility like as Watch Dog which will monitor Edge Runtime, Edge Modules on Gateway Locally. Specially when the Gateway is offline and we want to perform some steps locally.
So could you tell me so the best approach for this.. Also could you provide me the Edge Runtime APIs so that we can call them to get the status of the Edge Modules. and Edge Runtime.. Or is th

[2019-11-27 08:11] keshava-hm commented on #2047
Thanks for the response, @MPapst . My requirement is to stop and start the module when I'm accessing a hardware resource (COM port) which is accessed by the module as well. I know that I can stop all the modules using stop-service iotedge command. But is there a similar command to just stop one module?

Stopping from portal is not useful for me. So, is there a way to do this from powershell ?

Tha

[2019-11-27 08:12] arsing commented on #2042
`docker pull` + `docker push`

For an ACR, yes, you'd probably be in the same boat that you're in now. I wasn't saying you have to use an ACR specifically. You can use whatever Docker container registry you want.

Alternatively, you have the option of whitelisting the whole `*.blob.core.windows.net` wildcard, or all IP ranges of Azure, as documented at https://docs.microsoft.com/en-us/azure/contai

[2019-11-27 08:12] #2042 closed

[2019-11-27 09:22] MPapst commented on #2047
@keshava-hm there is the api you could use instead  of the Portal. I am not sure If there is a pwsh implementation for the module api. Nevertheless, I would Not recommend for Most Szenarios to have device management credentials on the edge device!
Is your requirement really to stop the module? If you can leave it running and just release some ressources, I would go for an interop implementation an

[2019-11-27 12:36] davidzwa commented on #1228
Interested in any update. It's weird that something like this is limited by a newer version of Windows, when the whole idea behind containerization is that it is not.

Please provide us with insight

[2019-11-27 15:17] DK2019-w opened #2049 "edge_hsm_client_crypto.c:hsm_client_crypto_init:47) Could not create store. Error code 2025"
## Expected Behavior
Create new dev certificates because the old ones were expired and changed the path in the /etc/iotedge/config.yaml path to the new directorey where the newly generated certificates were stored. Started the iotedge runtime again with sudo systemctl start iotedge and normally the edge runtime should be running and the edgeAgent, etc. should be started.

## Current Behavior
The e

[2019-11-27 17:21] ewertons opened #2050 "Use custom connector with IoT Edge Runtime"
Ported on behalf of @DmitryN270713 from https://github.com/Azure/azure-iot-sdk-c/issues/1337
Apologies for not filling the template, please follow up with customer for more details.

---

Hi guys,
Today I have a bit tricky question. Imagine a situation when someone has written a custom connector to the network (let's say there are a lot of security features hidden and so on). Now imagine that each

[2019-11-27 19:16] pkoronawa commented on #1228
Windows Server 2019 from the [Evaluation Center](https://www.microsoft.com/en-us/evalcenter/evaluate-windows-server-2019?filetype=ISO) is still on the supported 17763 build and that is what I have been using. See related issue #1897

[2019-11-27 21:16] mrohera commented on #118
@veyalla adding you to address @jason-e-gross 's comment. is there some guidance that can be given to customers for what to expect about status and health messages.

[2019-11-27 21:34] veyalla commented on #118
@ebertrams and @varunpuranik have been looking into this.

[2019-11-27 23:52] varunpuranik commented on #1702
@vipeller who is driving this investigation.

[2019-11-28 00:08] annadhpi opened #2051 "edgeHub fail to start"
## Expected Behavior
start edgeHub without any issue.

## Current Behavior
edgehub stopped while starting edgeHub

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. sudo iotedged -c /etc/iotedge/config.yaml
2. this start edgeAgent > edgeHub > our module.
3. only edgeHub fails to start

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click he

[2019-11-28 03:52] keshava-hm commented on #2047
Thanks @MPapst . Yes, I'm checking to do it in the module, but main requirement is to stop the module and start it later. This is because, I have an MSI, installing which needs com port to be released which is being used by module.

[2019-11-28 06:31] kiranpradeep opened #2053 "[documentation request] Abandoned message retry strategy of edgeHub"
This is a documentation request and so not able to adhere to template. If a ModuleClient choses to temporarily reject a message using MessageResponse.Abandoned, edgeHub will retry delivery of the message after while.
1. Is it possible to document the retry strategy (min period/max period/retry count) used by edgeHub for `MessageResponse.Abandoned` messages.
2. Is the retry configurable?

To be sur

[2019-11-28 09:18] somme89 commented on #1801
I tried to update the system but no luck. We're now trying to install the edge services on a different machine but on the same network.

[2019-11-29 01:37] asergaz commented on #2050
Here's the question with a possible solution in StackOverflow: https://stackoverflow.com/questions/58970711/is-it-possible-to-use-custom-connector-with-iot-edge-runtime

@DmitryN270713 please let us know if your issue can now be closed.

[2019-11-29 12:18] bechynsky opened #2054 "Unable to load the service index for source https://api.nuget.org/v3/index.json"
Environment: Dev machine running supported version of Windows 10 IoT Enterprise, latest Docker CE switched to Windows containers, Visual Studio COde and IoT Edge plugin. IoT Edge is tested and running. There was known issue with DNS solved by adding fix DNS on OS level.

If we try to build custom C# module based using microsoft/dotnet:2.1-sdk base container we get this error

docker build  --rm -f

[2019-11-29 13:05] mparkitny commented on #608
Any chances that this feature will be added?

[2019-11-29 14:21] pietersap opened #2055 "Sudden failure of edgeAgent - Agent reconcile concluded with errors - Operation timed out"
## Expected Behavior

The edgeAgent and the whole runtime runs reliably and stable, without interruptions.

(When the network connection is unstable, the runtime is able to run disconnected and reconnects when the network is again available. Messages are buffered locally and none are lost as long as storage on device permits.)

## Current Behavior

At our pilot projects, our edge deployment fails

[2019-11-30 10:44] davidzwa commented on #1228
Went for a Raspberry Pi and for an Azure VM. Still, the solution to assume an image running docker containers is quite suboptimal.

[2019-12-01 19:07] kirksw commented on #1882
We also have a need to control when a module should be updated, as the module is real-time optimizer, so the last thing we want is that the container should be swapped out while it is running. Also we would actually like to implement it, such that the user should choose when the upgrade should happen.

I like @josiahlaivins approach of using flags on the device twin. Because I think that having co

[2019-12-02 08:59] sachidanand commented on #2048
Can you please revert on this

[2019-12-02 09:43] MkTru commented on #2020
I'm using a fresh install of "Windows 10 IoT Enterprise LTSC 2019" from my Visual Studio Subscription.

@ancaantochi: Which System did you try it on?

Anyway. It really seems like no service will start on that system when creating the Environment key as described in the online documentation. Which is what really confuses me. And I tried it both using scripts and via regedit.

[2019-12-02 14:41] davidzwa commented on #1882
We have similar needs, currently considering our OTA-process for a time-critical set of processes. Currently we measured a down-time of less than 30 seconds for a fresh sample Edge-module and about 15 seconds for a image-layer-updated edge module, both which can already cause high financial damage. I can imagine that with bigger code-footprint, these numbers will only go higher.
Each process needs

[2019-12-02 17:35] varunpuranik commented on #2055
Hi @pietersap,
Thanks for the issue and all the details. One question - does the EdgeAgent recover from this error after some time (say 5-10 mins or so), or does it keep throwing the same error?
Also, it looks like the call to iotedged to get the list of modules is timing out. Can you please provide iotedged logs for your scenario as well. That should tell us more about why you are running into th

[2019-12-02 17:47] varunpuranik commented on #2054
Hi @bechynsky, this seems like a docker with windows containers issue, and not related to IoT Edge as such. Did you try restarting the docker service? I read reports of that fixing it.
@adashen, @xinshiMSFT - any other pointers to help resolve this issue?

[2019-12-02 18:03] pietersap commented on #2055
@varunpuranik thank you for reaching out

 It does not recover from this error in 5-10 minutes. We have observed that the edgeAgent has come back online after a very long time (~hours to days), but this is likely to be caused by a restart of the device after a power break. Looking at the content of the logs and the fact that there are "Time out" exceptions in the logs of edgeAgent, though, we are

[2019-12-02 18:05] pietersap commented on #2055
It was working for the larger part of the weekend, but it crashed yesterday in the afternoon. This morning after 11 AM it came back online. I will share the logs of the edgeAgent after coming back online

[2019-12-02 19:35] varunpuranik commented on #2055
Thanks for the info @pietersap. We will wait for the iotedged logs.

[2019-12-02 19:43] varunpuranik commented on #2053
Hi @kiranpradeep - we don't recommend using the MessageResponse.Abandoned pattern from the modules. The MessageResponse.Completed is used to send an ack to the EdgeHub to indicate that the message was received.

If you want to defer processing a message, we recommend maintaining a separate queue of received messages, which can then be processed by the application.

Can you please elaborate on your

[2019-12-02 20:08] varunpuranik commented on #2051
Hi @annadhpi - looks like you are running into a moby issue - https://github.com/moby/moby/issues/16816
Can you try some of the suggestions in that thread to resolve the issue -
$>iptables -t filter -N DOCKER
If this does not work, try restarting the docker service.
$>service docker restart

[2019-12-02 22:15] vipeller commented on #1346
@mill5james we found the reason of this error. There was an id counting error in the library - sending through 0x8000 messages within an hour lead to this problem. It will be fixed with the following releases.

[2019-12-02 22:34] varunpuranik commented on #2049
Can you please provide the iotedged logs for your scenario? That might tell us why IoT Edge runtime is failing to start for you.
https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#standard-diagnostic-steps

[2019-12-03 00:23] vipeller commented on #1702
@C1oudNinja : Hi, sorry for the delay - I started working on this issue. It seems that you use MQTT in your module to talk to edgeHub. Could you check if the same thing happens when you use AMQP? Also, can you provide an edgeHub log from before the moment you delete the old version of your module? I'd like to see how it disconnects from edgeHub. Thank you!

[2019-12-03 00:30] vasdee opened #2060 "Error creating client identity - when bridging mosquitto to edgeHub as module"
Hi,

I am trying to build out an transparent gateway using iotedge. Due to some specific use cases with our design, it requires putting a pure MQTT broker (mosquitto in this case) as the primary connection for devices to communicate with and then bridge that with edgeHub before sending the data to unto iothub.

I have managed to install mosquitto directly on the iotedge host (hostname is iothub-te

[2019-12-03 00:55] varunpuranik commented on #2030
@pkoronawa - in the config, you have set the max-file to 10. So that is the maximum number of files you will have. A new file will be created only if the first file of 500k is full. So you will get 10 files only if you have 9 full files on disk.

[2019-12-03 01:14] arsing commented on #1979
The `parsermodule` logs have no timestamps, so I can only guess what the correlation between the `parsermodule` logs and Edge Hub logs is.

Edge Hub says:

[code]

Indeed, `parsermodule` is using MQTT which can't refresh the token in-band (like AMQP can), so I believe it's expected that Edge Hub will disconnect the module and expect it to reconnect with a new token. @varunpuranik Is my understandi

[2019-12-03 01:24] vipeller commented on #1702
@C1oudNinja also if you could test this with longer timeouts than 10 seconds (you can set it by the sliders on the portal). I want to know if it just recovers slowly, or a permanent problem until edgeHub gets restarted.

[2019-12-03 06:38] bechynsky commented on #2054
Hi, I did all recommended steps to fix it. I have same issue on my dev laptop running Windows 10 Enterprise.

[2019-12-03 06:54] arnabhetc commented on #1979
Hi @arsing,
I  have one more gateway that failed, this time it was running the edge agent and edge hub with 1.0.8.4 versions,

we are using transparent gateway solution with leaf device authentication [ connection string]

I am posting logs  -->

EdgeHub logs -->
[edgeHub_log.txt](https://github.com/Azure/iotedge/files/3915004/edgeHub_log.txt)

EdgeAgent logs-->
[edgeAgent_log.txt](https://github.

[2019-12-03 13:47] alaendle commented on #900
Since I encountered the same problem trying to implement a transactional consumer with the C SDK.
I need to use the C SDK since I'm enforced to use other libraries that are only available - and I need at-least-once semantic of message processing; so what are my options? As far as I get it the problem with not redelivering abandoned messages using MQTT still persists - and trying to use AMQP raises

[2019-12-03 14:58] sachidanand opened #2062 "Edge Modules are not working with Proxy Settings"
## Expected Behavior
Edge Modules should work with Proxy settings

## Current Behavior
We are having proxy firewall and we have setup the proxy setting for Docker Moby, Edge Agent, and Registry  entry as per given in the guidelines.
But Edge Modules are not working with proxy. However, I am able to access the internet on that gateway with the same proxy. also when I can see that module status is s

[2019-12-03 15:58] veyalla commented on #2054
Adding @shizn

[2019-12-03 16:41] pietersap commented on #2055
@varunpuranik The iotedge logs are lost, we were not able to retrieve them unfortunately.

But I do have a new observation of the same error. I added these to the description, see the details "second observation". This time, we had a crash around 14u36. Interestingly, we also have a snapshot around that time (14u40) of the CPU usage of the different processes. You can see that dockerd is taking up

[2019-12-03 19:11] richma-ms commented on #1702
@C1oudNinja, this is an issue that should have been fixed with 1.0.9, please try a newer build to see if your problem gets resolved.

[2019-12-03 19:11] #1702 closed

[2019-12-03 20:53] shizn commented on #2054
Thanks for looping me in. Please check this nuget issue https://github.com/NuGet/Home/issues/5358 to see if those workarounds work for you.

[2019-12-04 01:09] seanmcd-msft commented on #2020
i'm unable to reproduce a problem.  when i add the environment value per the docs it's working for me.  @MkTru when the system is in a failed state what is the output from the entire iotedge key per:
reg query HKLM\SYSTEM\CurrentControlSet\Services\iotedge /s
also, i'd like to double check we're running the exact same version.  what is the output from:
reg query "hklm\software\microsoft\windows nt

[2019-12-04 01:28] varunpuranik commented on #2062
Hi @sachidanand ,
Can you please elaborate on what you mean by "Edge modules are not working"? From the EdgeAgent and EdgeHub log snippets you have shared, I see no errors, and looks like they are able to connect to IoTHub just fine. If there are other errors, can you please share the full logs so that we know what is going on?

Also, please note that the currently the iotedge check command does n

[2019-12-04 01:58] varunpuranik commented on #2060
Hi @vasdee -
From the error in EdgeHub, it looks like the bridge is not setting the username in the connect packet it is using to connect to EdgeHub.
The EdgeHub MQTT Protocol head expects certain properties to be set in the connect packets.
Look at the C# SDK implementation of this for reference - https://github.com/Azure/azure-iot-sdk-csharp/blob/master/iothub/device/src/Transport/Mqtt/MqttIotHu

[2019-12-04 02:37] blackchoey commented on #2054
[code]
According to above logs, the ip address of `api.nuget.org` cannot be resolved in docker container.
Could you try command `docker run microsoft/dotnet:2.1-sdk ping api.nuget.org` to see whether the DNS resolution in docker container works well?

[2019-12-04 02:43] stevebus commented on #2060
Hey @vasdee .   Glad you found my blog post useful to get started. 🙂  Unfortunately I haven’t tried it (yet) with Mosquitto in an Edge module..

 A few questions/comments:

What is the device id you created in IoTHub to represent your Mosquitto broker?  You have a slash in it (in your remote client ID field), so I assume you created a device ID and manually created a module I’d under it?  I haven’

[2019-12-04 03:32] vasdee commented on #2060
@varunpuranik thanks for the reply. Yes it is a pure MQTT Bridge using Mosquitto's built in feature
@stevebus thanks for the writing the article, it had some good pointers in there for getting started on this.

1) The device id for mosquitto is BridgeAdapter, it was created as a child device under the EdgeGateway device. I'm not sure if this is a required or necessary approach but I did it so I co

[2019-12-04 07:17] sachidanand commented on #2062
Hi ,
   I am getting the below error in the module.. This is Temperature simulator module which I deployed for testing purpose..

Unhandled Exception: System.AggregateException: One or more errors occurred. (Transient network error occurred, please retry.) ---> Microsoft.Azure.Devices.Client.Exceptions.IotHubCommunicationException: Transient network error occurred, please retry. ---> System.IO.IOE

[2019-12-04 08:08] DK2019-w commented on #2049
-- Logs begin at Die 2019-11-26 07:27:11 CET. --
Dez 04 09:03:34 localhost.localdomain iotedged[7947]: 2019-12-04T08:03:34Z [INFO] - Finished configuring certificates.
Dez 04 09:03:34 localhost.localdomain systemd[1]: iotedge.service: main process exited, code=exited, status=1/FAILURE
Dez 04 09:03:34 localhost.localdomain systemd[1]: Unit iotedge.service entered failed state.
Dez 04 09:03:34 local

[2019-12-04 09:44] DmitryN270713 commented on #2050
Hi @asergaz,

Yes, I know about this. The guy with strange nickname "user...." is me =)

[2019-12-04 15:43] stevebus commented on #2060
thanks for the details @vasdee .   Glad you at least got a working solution, but I understand (and agree) that you don't want to have to expose edgeHub externally and use FQDN..   I think adding the vm hostname into /etc/hosts might be a workaround...

Generally, when we communication from module-to-module inside of IoT Edge, you can just use the module name and we will automatically resolve it.

[2019-12-04 18:04] veyalla commented on #608
@mparkitny - can you please clarify which components on the edge device you'd like to restart remotely?

[2019-12-04 18:07] varunpuranik commented on #2062
It looks like Authentication failed for the module for some reason. Can you share the full EdgeHub log as well? I would like to see if it has any corresponding entries in there for the SimulatedTemperatureSensor module failing to connect.

[2019-12-04 18:18] lt72 commented on #1804
@vipeller @varunpuranik can you please take a look at this one or re-route appropriately?

[2019-12-04 18:45] lucasFigueiredoEE opened #2066 "IoT Edge Runtime Response: Error 406"
## Expected Behavior
IoT Edge Runtime Response should be OK and an IoT Edge Custom Module should be running.

## Current Behavior
IoT Edge Runtime Response: 406 -- The device is offline or not sending status reports.
IoT Edge Custom Module: Not reported by device.

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. Install IoT Edge in a computer and Deploy it with an Io

[2019-12-04 19:39] varunpuranik commented on #2047
@keshava-hm Starting and stopping of the modules depends on the IoT Edge deployment on the device, and is controlled by EdgeAgent by design.
If you want to stop the module, the way to do that is to create a new deployment with the module status as Stopped. You can also stop the entire IoT Edge runtime ($>sudo systemctl stop iotedge), which will stop the modules as well.

[2019-12-04 19:39] varunpuranik commented on #2047
I will close this issue. If you have any other questions or concerns, please feel free to re-open it or file a new one.

[2019-12-04 19:39] #2047 closed

[2019-12-04 23:22] varunpuranik commented on #2066
Looks like IoT Edge runtime is not starting up properly on your device.

Can you please provide EdgeAgent and iotedged logs for your scenario? That will tell us what might be going on.

Also, can you try the following command and provide us the output -
$>sudo systemctl status iotedge

[2019-12-05 01:13] vasdee commented on #2060
Using `edgeHub:8884` with or without the `GatewayHostName=iothub-test` unfortunately didn't work.   I don't even see a connection attempt being logged in the edgeHub logs...

The /etc/hosts alias to localhost seems to work too, so I have an ok solution to build on for now.  I'm going to have to read up more about docker networking and name resolution, I get the feeling that the answer might be the

[2019-12-05 05:29] mparkitny commented on #608
@veyalla
prefferably entire device, but restarting runtime would also be useful

[2019-12-05 08:44] petermillsacumentive commented on #608
@veyalla – if we were able to restart any module that would be useful too. Many thanks.

From: mparkitny <notifications@github.com>
Sent: 05 December 2019 05:29
To: Azure/iotedge <iotedge@noreply.github.com>
Cc: Peter Mills <Peter.Mills@acumentive.com>; Comment <comment@noreply.github.com>
Subject: Re: [Azure/iotedge] Remote restart of the Azure IoT Edge runtime (#608)

@veyalla<https://github.com

[2019-12-05 09:32] DoychinDoychev opened #2071 "Transparent Gateway - Leaf Device Device-Twins question"
Hi there,

I went through the docs for iot edge but i couldn't find the answer to the following question:
[code]

thanks

[2019-12-05 12:30] kiranpradeep commented on #2053
@varunpuranik Thanks for the reply. As per the suggestion, we will not use edgehub queue. The planned scenario was to use edgehub internal queue as a persistence mechanism which we have dropped now.

[2019-12-05 14:03] sachidanand commented on #2062
Edge Hub Logs

{"log":"2019-12-05 13:53:24.692 +00:00 Edge Hub Main()\r\n","stream":"stdout","time":"2019-12-05T13:53:24.7363139Z"}
{"log":"\u003c7\u003e 2019-12-05 14:53:25.618 +01:00 [DBG] [Microsoft.Azure.Devices.Edge.Util.Edged.WorkloadClient] - Making a Http call to unix:///C:/ProgramData/iotedge/workload/sock to CreateServerCertificateAsync\r\n","stream":"stdout","time":"2019-12-05T13:53:25.

[2019-12-05 14:07] sachidanand commented on #2062
[8b07e00952a9e9c8339255e143493d36091fa71abb6010874f4fe21b7ecc93ad-json.zip](https://github.com/Azure/iotedge/files/3927176/8b07e00952a9e9c8339255e143493d36091fa71abb6010874f4fe21b7ecc93ad-json.zip)

Edge Agent Logs

[2019-12-05 14:08] sachidanand commented on #2062
Custom Module Logs

 Failed to read module twin 'DieCastingModule:1.0.0.0' on agent ''.\r\n","stream":"stdout","time":"2019-12-05T13:57:13.4967652Z"}
{"log":"Microsoft.Azure.Devices.Client.Exceptions.IotHubCommunicationException: Transient network error occurred, please retry. ---\u003e System.IO.IOException: Authentication failed because the remote party has closed the transport stream.\r\n","str

[2019-12-05 14:26] davidzwa commented on #1228
@saikovvuri I have found it to work on build 18363 albeit with a different approach, which was in a closed issue:
https://github.com/Azure/iotedge/issues/144

[2019-12-05 14:30] davidzwa commented on #144
I can confirm that this fix is working, but I want to understand why it goes wrong, since I am working on making a Learning/Development kit for my colleagues.

[2019-12-05 14:43] pietersap commented on #2055
@varunpuranik Any insights on this? Right now we have a better control over the device and enabled persistent logging. Any other required information can be included at your request.

Also, it seems like the same issue occurs rather frequently, but in many cases the edgeAgent the edgeAgent does not crash or recovers immediately while in other cases it stays offline for many hours while in other th

[2019-12-05 15:18] pietersap commented on #2055
@varunpuranik  The error happened again just now, and in this case the edgeAgent did not stop altough it did again log the error. Now, we have a **clear error message in the iotedge logs**

Also, again the logs from edgeAgent

Two of our custom modules where stopped for a short time, others continued running.

I hope this helps, this issue is critical for us.

![image](https://user-images.githubus

[2019-12-05 16:29] emilm commented on #1687
Correct! I tried to run tpm_server together with "tpm2-abrmd --tcti="mssim:host=localhost,port=2321" --allow-root"

I can successfully create EK with tpm2_getpubek -H 0x81010000 -g 0x01 -f ek.pub, convert that to base64 and use it in DPS. But I get the error:

[code]

I use ibmswtpm2 v1332.

[2019-12-05 17:44] chipalost commented on #2050
Thanks for asking this question on StackOverflow. That's exactly where we'd like to address issues like this. I'm going to close this issue since it is tracked there. It also looks like you got an answer on StackOverflow. Please let us know if you need more guidance.

[2019-12-05 17:52] lt72 commented on #1801
Hi @somme89, any new info?

[2019-12-05 17:53] veyalla commented on #1804
Closing as I believe setting DNS server for the local environment helped here.

Please re-open if that's not the case.

[2019-12-05 17:53] #1804 closed

[2019-12-05 17:59] chipalost commented on #1974
Hi @grzegorski, are you still hitting this issue? If so, do you have any further logs that we can use for investigation?

[2019-12-05 18:02] lt72 commented on #1654
Closing for now, using #1974 to track, please re-open as needed.

[2019-12-05 18:02] #1654 closed

[2019-12-05 18:04] varunpuranik commented on #2071
Hi @DoychinDoychev - the leaf device can connect to EdgeHub on the IoT Edge device, and can get its Desired properties by doing a GetTwin() operation. It can also subscribe to the desired property updates ([SetDesiredPropertyUpdateCallbackAsync](https://github.com/Azure/azure-iot-sdk-csharp/blob/f5c5081f13a76cae25f691f547d0a276352e0629/iothub/device/src/ModuleClient.cs#L430)) so that the leaf devi

[2019-12-05 18:12] chipalost commented on #2030
Closing this issue as it looks like it has been addressed. Please reactivate if you need more guidance.

[2019-12-05 18:12] #2030 closed

[2019-12-05 18:14] chipalost commented on #1706
@KevinKao809 , are you still seeing this issue? If so, please provide additional logs so that we can do further investigation.

[2019-12-05 21:07] arsing commented on #1687
@emilm Your case is not the same as this issue. You're using libiothsm in in-memory TPM mode instead of TPM device mode, and the in-memory TPM mode does not implement EK functionality.

Release packages do not contain the in-memory TPM mode, so I assume you built `iotedge` locally. In that case, make sure you don't set `USE_TEST_TPM_INTERFACE_IN_MEM` to `ON` in the cmake command for libiothsm.

[2019-12-05 21:16] emilm commented on #1687
Thank you. I found out before you answered and corrected my post. Sorry.

I try to use yocto and meta-iotedge. https://github.com/Azure/meta-iotedge
It seems largely unmaintained right now and maybe it's causing problems. I am using _warrior_.

What I have noticed, is that from poking in that referred source code, it tries to connect to the old (and deprecated?) resourcemgr. The new resource manag

[2019-12-05 21:20] arsing commented on #1687
If you see lines 32 and 33 of that file, you can see constants for tpm2-abrmd. Specifically, inside `tpm_usermode_resmgr_connect`, you can see it tries tpm2-abrmd before it tries the tcti-socket-based resource manager.

So if the tpm2-abrmd detection is also not working for you, you should probably open an issue against azure-utpm-c.

[2019-12-05 21:58] emilm commented on #1687
Thanks. Sorry for my ignorance.

I have no /dev/tpmrm0, so I have to investigate why it's not created. I had no idea that was the entry point to the management interface. Thanks!

[2019-12-05 22:26] varunpuranik commented on #2062
Thanks for all the logs @sachidanand.  It looks like the connection is not even reaching EdgeHub.

One question - have you set up the proxy in the SimulatedTemperatureSensor? It should not need the proxy to reach the EdgeHub at all. And if not, then the proxy configuration should not affect the SimulatedTemperatureSensor connection behavior.

[2019-12-05 22:35] varunpuranik commented on #2049
That actually does not have the information I am looking for. Can you please run the following command and provide us the output -
$>journalctl -u iotedge

[2019-12-06 06:39] seanmcd-msft opened #2078 "windows install script vcruntime check needs to be wow64 aware for enterprise"
As mentioned in https://github.com/Azure/iotedge/pull/1871#discussion_r354624952 , the Windows installer script looks at `C:\Windows\System32\vcruntime140.dll` to decide whether the MSVCRT is already installed or not. This will probably get redirected to `C:\Windows\SysWoW64` when running 32-bit PS on 64-bit Windows. If so, it should be fixed to be PS-bitness-independent, just like https://github.

[2019-12-06 06:50] arsing opened #2079 "Fix MSVCRT detection in installer script when running in 32-bit PS running on 64-bit Windows host"
As mentioned in https://github.com/Azure/iotedge/pull/1871#discussion_r354624952 , the Windows installer script looks at `C:\Windows\System32\vcruntime140.dll` to decide whether the MSVCRT is already installed or not. This will probably get redirected to `C:\Windows\SysWoW64` when running 32-bit PS on 64-bit Windows. If so, it should be fixed to be PS-bitness-independent, just like https://github.

[2019-12-06 06:52] arsing commented on #2079
Duplicate of #2078

[2019-12-06 06:52] #2079 closed

[2019-12-06 09:26] bechynsky commented on #2054
Version of Docker is 2.1.0.1
Result of ping

[code]

After update to 2.1.0.5 is problem same.

[2019-12-06 13:34] sachidanand commented on #2062
I have not set the proxy details in any custom module.. The Proxy setup is only for EdgeHub And Edge Agent all the custom modules are not having the proxy details ...

So could you let me know the cause of this issue

[2019-12-06 19:49] lucasFigueiredoEE commented on #2066
Status   Name               DisplayName
------   ----               -----------
Running  iotedge            Azure IoT Edge Daemon

ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     0.0        IoTEdge                             {Deploy-IoTEdge, Get-IoTEdgeLog, Initialize-IoTEdge, Insta...

[2019-12-07 00:19] yophilav commented on #1895
Testing reopen under a new cred

[2019-12-07 00:21] yophilav commented on #1895
Oh baby, baby, how was I supposed to know
That something wasn't right here?

[2019-12-07 00:22] #1895 closed

[2019-12-07 00:25] yophilav opened #2087 "Dummy Test Issue: I got 99 problems but this ain't one."
## Expected Behavior
Tell us what should happen
If I modify this ticket body?

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)
Trees

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [

[2019-12-07 00:29] yophilav commented on #2087
Update comment that's not body.

[2019-12-07 00:30] yophilav commented on #2087
Ra-ra-ah-ah-ah
Roma-roma-ma
Gaga, ooh la-la

[2019-12-07 00:31] yophilav commented on #2087
close in bad romance

[2019-12-07 00:31] #2087 closed

[2019-12-07 12:38] DoychinDoychev commented on #2071
hi @varunpuranik thank you for your answer.

Let me confirm if i understand correctly - once the leaf device is connected to edge then all its communication goes through the edge, including:
- if desider properties are changed, that change will be communicated to the leaf via the edge
- if direct method is invoked from a backend service in the cloud,  that will be communicated to the device via th

[2019-12-07 15:44] alaendle opened #2089 "Transacted consumers with C SDK possible? Re-open #900?"
Is this (#900) limitation still in place (with e.g. 0.2.0.0-16bionic)? Is it possible to write C/C++ consumers that support transactions between the IoT edge and other systems? If not, what are the options to establish a reliable communication? Since I'm using other C libraries using another SDK that supports AMQP on the edge seems not to be a (good) option.

[2019-12-07 18:41] veyalla commented on #2054
You mentioned some DNS issues fixed at the host level, you might be running into similar issues from within the container.

You can try the resolution from [here](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#edge-agent-module-continually-reports-empty-config-file-and-no-modules-start-on-the-device).

You'll need to use the path `C:\ProgramData\docker\config` for `daemon.json` file

[2019-12-08 16:06] bechynsky commented on #2054
This is not working, I already tested it before I created issue here. I tried to setup DNS inside Docker container using this command

`netsh interface ip set dns "Ethernet" static 8.8.8.8`

Command completes with no effect to host find host. Interesting is that I can ping servers after running this.

[2019-12-08 16:18] bechynsky commented on #2054
Here is test I did

Command:
`docker run -it --user administrator microsoft/dotnet:2.1-sdk  ping google.com`
Output:
`Ping request could not find host google.com. Please check the name and try again.`

Command:

`docker run -it --user administrator microsoft/dotnet:2.1-sdk netsh interface ip set dns "Ethernet" static 8.8.8.8 & ping google.com
`
Output:

[code]

Updated Docker file

[code]

Same er

[2019-12-08 16:34] veyalla commented on #2054
The only valid admin user I know for Windows containers is `ContainerAdministrator`, so might want to try that.

Also this Moby issue/fix seems relevant: https://github.com/moby/moby/pull/30383

[2019-12-08 16:44] bechynsky commented on #2054
If you not use _administrator_ DNS setup is not working.

Command:

`docker run -it microsoft/dotnet:2.1-sdk netsh interface ip set dns "Ethernet" static 8.8.8.8 & ping google.com`

Output

`The requested operation requires elevation (Run as administrator).`

[2019-12-09 05:42] #1721 closed

[2019-12-09 08:17] danwale commented on #1960
We've hit this issue as well, is there any update on when this will be resolved in a stable release?

[2019-12-09 12:07] pushist1y commented on #1395
You should really put this somewhere in the quickstart articles or in manuals. Thank you for the solution!

`docker -H npipe:////./pipe/iotedge_moby_engine ps`

[2019-12-09 17:49] arsing commented on #1395
It's mentioned off-hand in https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows , but yes there should probably be more explanation of what it's for and what it does.

[2019-12-09 17:52] varunpuranik commented on #2089
@alaendle - It seems like you want to achieve at-least-one semantics with an app using the C SDK talking to EdgeHub. In that case, the recommended pattern is -
- Add a callback for receiving messages, and send a Completed response when you receive the message, which is used as an ACK.
- If you need to delay processing a message in your app for some reason, store it locally, and process it when the

[2019-12-09 21:25] varunpuranik commented on #19
This should be fixed with 1.0.8.4. Please re-open the issue if you are still the issue with 1.0.8.4 and provide the complete EdgeHub debug logs.

[2019-12-09 21:25] #19 closed

[2019-12-09 21:45] varunpuranik commented on #1979
@arnabhetc -
From the logs on both your gateway devices, I see the same thing-
- The module parsermodule connects to EdgeHub, and functions normally
- After one hour, EdgeHub drops its token because the token is expired.
- The module re-connects to EdgeHub, but none of the operations work correctly. In particular, EdgeHub does not get feedback for the messages sent to the module.

What SDK is the

[2019-12-09 21:48] varunpuranik commented on #2062
In your scenario, proxy setting should not affect a module connecting to EdgeHub at all. We need to investigate on our side what might be going on and get back to you.

[2019-12-09 21:53] varunpuranik commented on #2066
Typically you get what you are seeing when the IoT Edge runtime on your edge device has been stopped. Before shutting down, EdgeAgent updates the runtime status of all modules to Unknown, and the Runtime Reported status to 406, which is what you are seeing in the Portal.

Did you confirm that you are looking at the same IoT Edge device in portal that is running on your device?

From the logs, it s

[2019-12-09 21:54] varunpuranik commented on #2071
Yes, that is correct.

I will close this issue. Please re-open it if you have any other questions.

[2019-12-09 21:54] #2071 closed

[2019-12-09 22:14] varunpuranik commented on #2062
Can you share the following with us -
1. Your deployment or the EdgeAgent Twin desired properties (please strip off any sensitive information)?
2. Output of $>sudo docker inspect SimulatedTemperatureSensor

[2019-12-09 22:29] varunpuranik commented on #2055
@pietersap -
Sorry for the delayed response.
- About the error in iotedged - The Broken pipe error is not abnormal, and the pipe should get recreated and connection should resume, which is what happened looks like.
- Unfortunately the logs you provided don't seem like complete logs - it is hard to tell from the screenshots what exactly is going on. Can you please provide full EdgeAgent and iotedge

[2019-12-09 23:10] yophilav opened #2094 "Dummy Test Issue: More of it. Testing header format"
## Expected Behavior
Tell us what should happen

## Current Behavior
Tell us what happens instead of the expected behavior

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1.
2.
3.
4.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>Click here</summary>

[code]
</details>

### Device Information
* Host OS [e.g. Ubuntu 16.04, Ubuntu 18.04, Win

[2019-12-09 23:11] #2094 closed

[2019-12-10 06:36] alaendle commented on #2089
@varunpuranik - Please excuse that I was unclear or at least vague in my description of the problem. But you filled the missing points with valid assumptions - thanks for that 👍 ! Indeed I want to process messages with at-least-once quality - and use the C sdk to talk to the local EdgeHub of an Azure IoT Edge.

To be honest I'm not satisfied with both of the recommended patterns. The second couldn

[2019-12-10 07:13] sachidanand commented on #2062
{
  "deviceId": "fsfsdf",
  "moduleId": "$edgeAgent",
  "etag": "AAAAAAAAACc=",
  "deviceEtag": "MjY2NTE4OTYysdf",
  "status": "enabled",
  "statusUpdateTime": "0001-01-01T00:00:00Z",
  "connectionState": "Connected",
  "lastActivityTime": "0001-01-01T00:00:00Z",
  "cloudToDeviceMessageCount": 0,
  "authenticationType": "sas",
  "x509Thumbprint": {
    "primaryThumbprint": null,
    "secondaryThum

[2019-12-10 07:20] sachidanand commented on #2062
[
    {
        "Id": "sha256:4dd7cc645e275e7a69b730f74e5a20e158345cac89372d60d3fa5dea4d188456",
        "RepoTags": [
            "mcr.microsoft.com/azureiotedge-simulated-temperature-sensor:1.0"
        ],
        "RepoDigests": [
            "mcr.microsoft.com/azureiotedge-simulated-temperature-sensor@sha256:f9c677c80baf85b1a1f8444da74df0bb37ea3f29606c1d15ad980a94ebe1c16c"
        ],
        "P

[2019-12-10 07:21] sachidanand commented on #2062
I have shared both the details so could you check it now on Priority

[2019-12-10 08:29] davidzwa commented on #144
@veyalla I +1, the issue still persists. The issue is incorrectly closed.

[2019-12-10 17:32] arnabhetc commented on #1979
Hi @varunpuranik
Thanks for your reply,

- I am using azure [IoT python device SDK  v1](https://github.com/Azure/azure-iot-sdk-python/tree/v1-deprecated) SDK, as the latest SDK is in the preview we are not using that.

-  in the logs, you can see with one exception the parser module fails, but according to the nature of edge it should auto restart the module and the module should work normally, bu

[2019-12-10 18:08] veyalla commented on #2051
@annadhpi Can please provide the requested details?

[2019-12-10 18:09] chipalost commented on #2050
Actually closing this issue per the comment above.

[2019-12-10 18:09] #2050 closed

[2019-12-10 18:10] veyalla commented on #2054
@seanmcd-msft Can you help here please?

[2019-12-10 18:29] veyalla commented on #1974
Closing as this has gone stale. Please re-open if required.

[2019-12-10 18:29] #1974 closed

[2019-12-10 19:27] seanmcd-msft commented on #2054
are you trying to run IotEdge-Moby and Docker CE at the same time?  If so, that is not supported.  They can both be installed simultaneously and thus maintain separate configurations. but, only one can be enabled at a time.

[2019-12-11 08:20] bechynsky commented on #2054
Moby is not installed on computer.

[2019-12-11 08:39] pospanet commented on #1294
Can you please re-open? I am having the same issue using latest version.

docker info:
pospa@rpi-cp:~/install/moby $ docker version
Client:
 Version:           3.0.7
 API version:       1.40
 Go version:        go1.12.8
 Git commit:        578ab52e
 Built:             Wed Oct  2 21:39:40 2019
 OS/Arch:           linux/arm
 Experimental:      false
Cannot connect to the Docker daemon at unix:///var

[2019-12-11 08:53] DK2019-w commented on #2049
X11 forwarding request failed on channel 0
Last login: Wed Dec  4 09:29:35 2019 from 192.168.5.60
[root@localhost ~]# sudo journalctl -u iotedge
-- Logs begin at Mit 2019-12-04 11:12:31 CET, end at Mit 2019-12-11 09:48:14 CET. --
Dez 04 11:12:52 localhost.localdomain systemd[1]: Started Azure IoT Edge daemon.
Dez 04 11:12:52 localhost.localdomain iotedged[1755]: 2019-12-04T10:12:52Z [INFO] - Using

[2019-12-11 12:50] somme89 commented on #1801
No luck. The problem is still there. We will try to use an updated library for AMQP messaging which seems to contain some bug-fixes that are relevant. I'll post an updated once we tested it.

[2019-12-11 16:08] veyalla commented on #1294
Which OS are you using? ‘uname -a’ should tell you.

Note: Raspbian Buster is not yet supported. Please use Raspbian Stretch.

FYI @cpuguy83

[2019-12-11 21:04] seanmcd-msft commented on #2054
Earlier in the thread you said that iotedge was tested and running successfully after a DNS change.  did I misunderstand that comment?  The iotedge install includes the iotedge-moby service.  Also, can you share the entire Dockerfile?

[2019-12-11 21:40] varunpuranik commented on #2089
@alaendle - Sorry I am a bit confused.
My understanding of the original ask was to have a module connect to EdgeHub and receive messages with at-least-once semantics (so that if the module fails to ack a message for some reason, the message will be sent again to the module). I explained the pattern to achieve this with one module in my previous answer.
What you describe is complex app deployment w

[2019-12-12 09:34] bechynsky commented on #2054
On one computer it was never installed on second we removed before we installed Docker.

[2019-12-12 17:51] lucasFigueiredoEE commented on #2066
Hi, I have once again reinstalled IoT Edge with the connection string for the Edge Device on my Azure portal, however the situation continues. I checked the status of the EdgeAgent on the portal and it says "running", is that what you meant by checking the module's twin?

NAME             STATUS           DESCRIPTION      CONFIG
edgeAgent        running          Up 2 minutes     mcr.microsoft.com/

[2019-12-12 18:37] arsing commented on #1560
The increased limits are now generally available.

[2019-12-12 18:37] #1560 closed

[2019-12-12 19:25] pkoronawa commented on #2030
@varunpuranik The log file has filled and recreated many times, but the previous versions are always deleted. There has never been more than one file at any given time.

[2019-12-12 19:39] kkdawkins commented on #2049
@DK2019-w  Are you sure that iotedge has permissions on the new directory?

[2019-12-12 19:46] kkdawkins commented on #2066
@lucasFigueiredoEE - We want to confirm that the device you see in the portal matches the device you are sending us logs from - there are no errors in the logs you sent.

Can you match the device ID on the modules twin (in the portal) with the device that is running?

[2019-12-13 01:29] seanmcd-msft commented on #2054
ok, so this doesn't appear to be an IoT Edge issue.  if you replace the 'RUN dotnet restore' with 'RUN curl http://nuget.org' do you get back html from the nuget site?

[2019-12-13 06:52] DK2019-w commented on #2049
Currently, it has read permissions at the new directory. Are read permissions sufficient?

[2019-12-13 09:42] pietersap commented on #2055
@kkdawkins We can no longer provide logs for the scenario where the edgeAgent does not recover. Also, the logs that are included in this issue give, in my opinion, a complete overview of the issue. Other logs in the iotedge service or edgeAgent showed no issues at all and look completely normal.

I will try to provide extra logs as soon as the issue occurs again. But I can tell you already that th

[2019-12-13 14:57] alaendle commented on #2089
@varunpuranik - Thanks and sorry, it wasn't my intention to cause additional confusion.

Basically I want what you've stated - **receive messages from EdgeHub with at-least-once semantics**.

I just thought it would be wise to add some context to be able to share my concerns with your initial answer. But if this adds confusion, here is just my requirement without additional info.

I want...
1. Rec

[2019-12-13 19:44] varunpuranik commented on #2089
@alaendle - thanks, that makes sense. And I appreciate the context as well.
The flow you ask works with AMQP, but not with MQTT. That is a C# SDK limitation and not a limitation with EdgeHub as such. Can you use AMQP as the protocol to talk to EdgeHub.
Please note that currently there is a perf issue with receiving messages over AMQP. So if perf is a concern for you, please test if it meets your r

[2019-12-14 10:53] JeeWeetje opened #2129 "No verbose information given on "container time is close to host time" Error with sudo iotedge check --verbose command"
## Expected Behavior
I would expected while running the ```sudo iotedge check --iothub-hostname iothub-***.azure-devices.net --verbose``` command that detailed information about the "container time is close to host time" error would have been shown. Like:

[code]

Where the detailed error message plus reference to external sources would be minimum to display.

## Current Behavior
Only this output

[2019-12-14 11:04] JeeWeetje opened #2130 "Time drift between host and container while running sudo iotedge check --verbose"
## Expected Behavior
Run ```sudo iotedge check --iothub-hostname iothub-***.azure-devices.net --verbose```
I would expected:
[code]
Note: this is 1 out of 10 that somehow got an OK on the test. The 9 other runs dit give the "Current behaviour".

## Current Behavior
Run ```sudo iotedge check --iothub-hostname iothub-***.azure-devices.net --verbose```
This output is shown:

[code]

## Steps to Repro

[2019-12-14 11:13] JeeWeetje opened #2131 "iotedge logs edgeAgent report version 1.0.8.23694809 while explicitly deployed 1.8.0.4 tagged module"
## Expected Behavior
Run:
[code]
I would expected:
[code]

## Current Behavior
Run:
[code]

This output is shown:

[code]

## Steps to Reproduce
Provide a detailed set of steps to reproduce the bug.
1. Deploy iotedge, set host persistent storage and deploy the following deployment manifest:

[code]

6. Run the command ```systemctl restart iotedge```
7. Run the command ```iotedge logs --tail 100 -f

[2019-12-15 17:40] varunpuranik commented on #2131
@JeeWeetje -
Looks like you have edgeAgent version 1.0.8 deployed, instead of 1.0.8.4.
Here is the output for version 1.0.8 (note the build number and commit id)
<6> 2019-12-15 17:36:08.186 +00:00 [INF] - Version - 1.0.8.23694809 (f5186c42ebb721893c5a497c789236803de42fb7)

Here is the output for version 1.0.8.4 (note the build number and commit id)
<6> 2019-12-15 17:35:00.063 +00:00 [INF] - Versio

[2019-12-16 01:05] philipktlin commented on #1547
Close it for now; and feel free to re-open if revocation mode doesn't work.

[2019-12-16 01:05] #1547 closed

[2019-12-16 06:50] alaendle commented on #2089
@varunpuranik For sure I could consider AMQP; but before I try that, are you sure that the C SDK (not the C# SDK) has support for it?

I just ask because https://github.com/Azure/iotedge/issues/900#issuecomment-475084546 suggests otherwise - but maybe this is wrong has changed in the meanwhile.

[2019-12-16 07:24] varunpuranik commented on #2089
@alaendle - ah, yes. The C SDK does not support AMQP yet.
So unfortunately at this point, your only option is to accept the message (send Completed response), and handle the additional logic in your module code.

@jebrando @jspaith as fyi

[2019-12-16 09:20] pietersap commented on #2055
closing this since we no longer observed the issue after applying CPU constraints for our modules. We now have new stability problems for which I will open another issue

[2019-12-16 09:50] #2055 closed

[2019-12-16 10:17] pietersap opened #2134 "modules become disconnected (edgeHub 1.0.8.4) (critical)"
#  Expected Behavior

All modules are connected and stay connected. When a module is not connected, the edgeHub reconnects the module.

## Current Behavior

For no apparant reason, our modules were disconnected and are no longer reconnected by edgeHub. edgeHub logs errors and tells us that the modules are not connected.

## Context (Environment)

### Output of `iotedge check`

<details>
<summary>C

[2019-12-16 10:54] kgalic opened #2397 "Java module refuses to connect"
I have followed the tutorial for creating IoT Edge Java module, but it does not work always.
If I run it in the DEBUG mode, I get the following error:

`java module java.io.IOException: Could not open the connection
at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)
AbstractPlainSocketImpl.java:350
	at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSock

[2019-12-16 11:48] pietersap commented on #1979
I have [opened an issue](https://github.com/Azure/iotedge/issues/2134) that might be related. It includes detailed logs from edgeAgent, edgeHub and the iotedged service.

[2019-12-16 13:36] lucasFigueiredoEE commented on #2066
Hi, kkdawkings. Yes I can match the device ID on the modules twin with the device that is running. The Id in the IoT Hub resource is [1] and from executing "iotedge logs edgeHub" I got the Id from the device running [2].
![2](https://user-images.githubusercontent.com/47249041/70911144-f964d080-1fef-11ea-98f7-607b733d42ca.PNG)

![1](https://user-images.githubusercontent.com/47249041/70911084-e3efa6

[2019-12-16 13:40] sachidanand commented on #2062
Hi, Is there any update on this ... Please consider it on priority as it is impacting our production env.

[2019-12-16 14:19] JeeWeetje commented on #2131
@varunpuranik I have 1.0.8 defined in my config.yaml and I did an deployment with explicitly stating the 1.0.8.4 version in my deployment manifest template.

I know what happened. I did a a ```systemctl restart iotedge``` and did the ```iotedge logs edgeAgent``` right after reboot. So it listed the 1.0.8 version stated in my config.yaml, then did the deployment again and installed the 1.0.8.4. If

[2019-12-16 14:19] #2131 closed

[2019-12-16 17:46] darobs commented on #2134
Hell @pietersap, thank you for this detailed information.  It looks like the iotedged logs were cut off after 80 characters or so.  Is it possible to get the full logs for iotedged?

[2019-12-16 18:14] kkdawkins commented on #2049
It needs read/write

[2019-12-16 18:31] ede0m commented on #1228
When does IoTEdge plan to support running windows containers on the newer, stable windows host builds (v1903, 1909)?

[2019-12-16 18:51] kkdawkins commented on #2062
Hi @sachidanand - We don't see anything wrong with what you have provided. At this point, we will try to reproduce this internally. I will reply here when I know more.

[2019-12-16 18:52] kkdawkins commented on #2066
Hey - Can you get us the Edge Agent twin from the Portal? Be sure to strip any secrets/passwords/etc.

[2019-12-16 18:52] varunpuranik commented on #2134
@pietersap -
A couple of things -
- EdgeHub is a server, and connecting to the server is a client operation. EdgeHub does not reach out to modules to establish or re-establish connections. It is the module's responsibility to connect/re-connect to EdgeHub.
- Looking at the EdgeHub logs, it seems like the module REMOVE/REMOVE is connecting to EdgeHub over both AMQP and MQTT. I am not sure how that

[2019-12-16 19:01] pietersap commented on #2134
@varunpuranik we have 4 modules that use MQTT for the connection. AFAIK none of the modules use AMQP, but I can check again. In the logs, I have anonymized all module names to "REMOVED", so what you are seeing is actually related to different modules, so I don't think any module is opening another connection.

None of our custom modules show any errors, all the logs are custom and expected logs.

[2019-12-16 19:05] pietersap commented on #2134
@darobs I'm not sure if I will be able to retrieve the "full" iotedged logs, I'm sorry if they are truncated. But actually I don't think those last characters of the log lines are going to give you much more information. All logs look normal (with the periodical check "edge runtime is running) for the whole period (also extending before and after the time range of those logs) except for that one "

[2019-12-16 19:23] pietersap commented on #2134
@varunpuranik  I have checked again and indeed one of our modules (our latest addition that is still in early dev phase) used AMQP.

Diving back into the original non-anonymized logs, I can tell you that the "module disconnected" problem occurs for more than one module but it has recovered for all but one module.

Not sure if this is useful information, but one thing specific to the module that di

[2019-12-16 19:30] varunpuranik commented on #2134
@pietersap - Thanks for the information. From what you tell me, it seems like a client side issue. Doing Send event operations in parallel when some of them could fail could have some interesting unintentional consequences. Is there a reason you need to do that?
Else, when one of the threads runs into some issues, can you have the module fail? That way it can get restarted by EdgeAgent and continu

[2019-12-16 22:06] kkdawkins commented on #2051
@annadhpi - Are you still seeing this? If not, we will close the issue.

[2019-12-16 22:20] kkdawkins commented on #2130
1. How long does it take for that test to execute? More than 10 seconds? We check against a threshold of 10 seconds and so if docker is being slow, it could be erroneously triggering the threshold. We will work to make this check more robust.

2. Does it happen witout using the hardware clock? Can you confirm that the hardware clock is not constantly changing the host time by a large nubmer of sec

[2019-12-16 22:44] JeeWeetje commented on #2130
@kkdawkins The answer to your first question:

1. If the error occurs it seems that the test takes ~12-14 seconds to complete after ```√ host time is close to real time - OK``` appears on screen (ssh terminal via local wifi network) . I had 2 occurences before I encountered the error, where the test passed green. All within a second (really fast appearing on screen).

To answer your second questio

[2019-12-16 22:55] JeeWeetje commented on #2130
@kkdawkins found the code for the check: https://github.com/azure/iotedge/blob/master/edgelet/iotedge/src/check/checks/container_local_time.rs but my Rust knowledge is a bit Rusty. Will ask a colleague tomorrow to translate ;-)

[2019-12-17 01:03] kkdawkins commented on #2130
So that's exactly the issue then - the second test has a threshold of 10 seconds to report it as "time drift."

We will make that test more robust going forward! You could write a script that does the same docker call as us but then computes the host time *after* the docker call completes.

[2019-12-17 07:45] blackchoey opened #2146 "Module status is N/A on Azure IoT Hub Portal"
Open this issue on behalf of @smoms. Here's the words from smoms:

@smos, please help provide more details here if you still have this issue. Thanks.

[2019-12-17 17:19] kkdawkins commented on #2051
Closed - inactive

[2019-12-17 17:19] #2051 closed

[2019-12-17 17:19] kkdawkins commented on #2049
@DK2019-w  - Did this solve your issue?

[2019-12-17 19:23] dmolokanov commented on #2146
Hi @blackchoey! Thanks for opening the issue. It is really hard to reason about this behavior without information about edge runtime and logs.

@smos Could you please add this information to the issue. We have a template for it. Feel free to create a new issue if required.

[2019-12-17 19:25] annadhpi commented on #2051
@kkdawkins   I don't have a device with me and our member is on it to follow up.  Unfortunately, everyone is off due to the holiday season.  Not sure if we can reopen or we can continue using this bug. Plz let us know.

[2019-12-17 19:25] smoms commented on #2146
sorry this issue was ages ago. I do not remember anymore. pls be more reactive if you want community to help.

[2019-12-17 19:46] dmolokanov commented on #2146
Closing this issue as no immediate action required. Feel free to open an issue if you will have an update or any other issues in the future with iotedge in the future. Thanks!

[2019-12-17 19:46] #2146 closed

[2019-12-17 20:22] josiahlaivins commented on #1580
What are the create options supposed to look like? I am attempting  --gpus all also, but still cannot access nvidia-smi on the device. I am able to run my module locally, but not over iot edge.

[2019-12-17 20:55] arsing commented on #1580
If you've got it working with `docker run`, then you can dump its create options with `docker inspect`

Based on the internal bug report I'd got, it was what's mocked in https://github.com/Azure/iotedge/commit/5a6d5067c832ad85b39cc15d323442a973b3d3f7#diff-f934dbd6b3bc59bc9fb35e9e1a0e6b91R213 , but you should verify with Docker docs / nvidia docs / your live container to be sure.

[2019-12-17 21:33] AaronEdelman opened #2151 "(1.0.9 rc3) identity_cert and identity_pk values not being created in expected format"
## Expected Behavior
The config.yaml on the device is specifies:

Note:
The values of all of these fields can be specified either as a
"file" scheme URI such as "file:///C:/cert_key.pem" or a
 file path such as "C:\\\cert_key.pem"

so I would expect this powershell command

 . {Invoke-WebRequest -useb https://aka.ms/iotedge-win} | Invoke-Expression; ` Initialize-IoTEdge -Dps -ScopeId XXXXXX -X509I

[2019-12-18 00:12] kkdawkins commented on #2151
Hi!

Since you are using the 1.0.9-rc, please be sure to use the installer script from 1.0.9. You can find it here:

https://github.com/Azure/iotedge/blob/1.0.9-rc3/scripts/windows/setup/IotEdgeSecurityDaemon.ps1

This contains updated versions of functins like Initialize-IoTEdge

[2019-12-18 05:16] DK2019-w commented on #2049
Not really, we changed the permissions to read/write but still the same error occurs.
Current logs:

-- Logs begin at Mit 2019-12-18 04:07:26 CET, end at Mit 2019-12-18 06:16:07 CET. --
Dez 18 04:07:46 localhost.localdomain systemd[1]: Started Azure IoT Edge daemon.
Dez 18 04:07:46 localhost.localdomain iotedged[1823]: 2019-12-18T03:07:46Z [INFO] - Using config file: /etc/iotedge/config.yaml
Dez 1

[2019-12-18 09:31] alaendle commented on #2089
With other words, it is not possible to write a C module that processes messages at-least-once; so messages could get lost during the process. Since the complete Azure IoT Edge platform is build around the concept of exchanging messages between devices, modules and the cloud I didn't believe this state could last forever. Or is the C SDK not really supported and just a crutch for people that could

[2019-12-18 14:11] AaronEdelman commented on #2151
Hi,

Thanks for the quick response. unfortunately when I don't reference https://aka.ms/iotedge-win, using just:

Install-IoTEdge -Dps -ScopeId $scopeId -ContainerOs Windows -X509IdentityCertificate $x509IdentityCertificate -X509IdentityPrivateKey $x509IdentityPrivateKey

It throws error: The term 'Initialize-IoTEdge' is not recognized as the name of a cmdlet.

Is it an issue with my Deploy-IotEdg

[2019-12-18 15:27] somme89 commented on #1801
No luck with the update. We tried running `iotedge check ` for 12h every 2m which showed no problems with connectivity at all, although the edgeHub service dropped connection every ~40m as usual. Now we have another installation showing the same symptoms so it is starting to become a bigger problem. We'll test the connection from a custom module as it seems that the problem is either only present

[2019-12-18 17:08] kkdawkins commented on #2151
You need to replace the aka.ms url with the one that I provided.

Also, please don't use the aka.ms url for Deploy-IoTEdge - you need to use the URL that I provided which points to the 1.0.9-rc script.

For example,

". {Invoke-WebRequest -useb https://github.com/Azure/iotedge/blob/1.0.9-rc3/scripts/windows/setup/IotEdgeSecurityDaemon.ps1} | Invoke-Expression; ` Initialize-IoTEdge -Dps -ScopeId XX

[2019-12-18 17:13] #2130 closed

[2019-12-18 17:54] philipktlin commented on #1801
Try to run your script for checking network status inside a docker container on iotedge device; in order to confirm that the problem is about network connection inside containers only; not edgeHub or IoT Hub.  If so, we should focus to investigate why network connection inside containers is not stable.

[2019-12-18 18:22] lt72 commented on #650
Closing issue, as it was addressed by recent 1.0.8.x releases as well. Please re-open if you need to.

[2019-12-18 18:22] #650 closed

[2019-12-18 18:24] lt72 commented on #1462
@varunpuranik can you please make a recommendation, on MSDN issue as well?

[2019-12-18 18:26] lt72 commented on #1452
@CodeJan Hello, we believe this issue was fixed with 1.0.8.x release. Please give t a try and your convenience and feel free to re-open this issue as needed.

[2019-12-18 18:26] #1452 closed

[2019-12-18 18:26] dmolokanov commented on #2049
I noticed something weird in logs you provided:

Dez 18 04:07:47 localhost.localdomain iotedged[1859]: 2019-12-18T03:07:47Z [INFO] - Configuring the Device CA certificate using **"/"CACertificates/certs/new-edge-device-full-chain.cert.pem""**.

Seems like there are additional quotes around the cert chain file path. I don't see it for a key. Could you please verify this part of your config file?

[2019-12-18 18:28] lt72 commented on #1451
@keshav1git Closing due to inactivity, Please re-open the issue and send us the needed logs ('iotedge check' and 'iotedge supportBundle' output) if you can.

[2019-12-18 18:28] #1451 closed

[2019-12-18 18:29] lt72 commented on #1450
Closing due to inactivity, please re-open if needed.

[2019-12-18 18:29] #1450 closed

[2019-12-18 18:29] lt72 commented on #1414
@darobs can you please answer question above and close issue?

[2019-12-18 18:31] lt72 commented on #1413
@varunpuranik was this issue fixed already?

[2019-12-18 18:32] lt72 commented on #1344
@mill5james we fixed a similar issue with latest 1.0.8 release. Can you please give it a try and re-open this issue as needed?

[2019-12-18 18:32] #1344 closed

[2019-12-18 18:33] lt72 commented on #1331
It seems this issue has been handled elsewhere. Please re-open as necessary.

[2019-12-18 18:33] #1331 closed

[2019-12-18 18:34] lt72 commented on #1282
Closing, as it seems resolved. Please re-open as needed.

[2019-12-18 18:34] #1282 closed

[2019-12-18 18:34] #1246 closed

[2019-12-18 18:35] kkdawkins commented on #2151
@AaronEdelman  Did that resolve your issue?

[2019-12-18 18:37] lt72 commented on #1235
Hi @saikovvuri, sorry for the late answer and thank you for your patience. I assume you do not need assistance any longer. Please re-open this issue if that is not the case and we will answer promptly.

[2019-12-18 18:37] #1235 closed

[2019-12-18 18:38] lt72 commented on #1215
@sarweshs sorry for the delayed answer. Do you still need help?

[2019-12-18 18:39] lt72 commented on #1207
We fixed several issues in this area with release 1.0.8 and 1.0.9. Can you please try any of those versions and let us know if this still repros? Re-open the issue in case. Thank you and thank you for your patience.

[2019-12-18 18:39] #1207 closed

[2019-12-18 18:39] lt72 commented on #1197
Closing, as it seems the issue was resolved.

[2019-12-18 18:39] #1197 closed

[2019-12-18 18:40] lt72 commented on #1195
Closing, as it seems this issue is now stale. Please feel free to re-open as necessary.

[2019-12-18 18:40] #1195 closed

[2019-12-18 18:41] lt72 commented on #1185
Thank you for your feedback, closing the issue as it is resolved.

[2019-12-18 18:41] #1185 closed

[2019-12-18 18:42] lt72 commented on #1175
Hello, we fixed a few issues is this area with 1.0.8 and 1.0.9. If you can try any of those versions, please re-open the issue if it still repros.

[2019-12-18 18:42] #1175 closed

[2019-12-18 18:44] lt72 commented on #1123
Closing issue as stale. We apologize for the late answer. Please re=open as needed.

[2019-12-18 18:44] #1123 closed

[2019-12-18 18:45] lt72 commented on #1075
@krokoko unfortunately we will not be able to publish a roadmap at this time. Blob storage is not supported.

[2019-12-18 18:45] #1075 closed

[2019-12-18 18:46] #1034 closed

[2019-12-18 18:46] #978 closed

[2019-12-18 18:46] AaronEdelman commented on #2151
@kkdawkins  Not yet. When running the Deploy or Initialize with that url it throws error

Invoke-Expression : At line:149 char:19
+               Sign&nbsp;up
+                   ~
The ampersand (&) character is not allowed. The & operator is reserved for future use; wrap an ampersand in double quotation marks ("&") to pass it
as part of a string.

[2019-12-18 18:46] lt72 commented on #977
Closing as this is positively resolved.

[2019-12-18 18:46] #977 closed

[2019-12-18 18:49] lt72 commented on #909
Closing as stale.

[2019-12-18 18:49] #909 closed

[2019-12-18 18:50] lt72 commented on #1711
Closing as stale. Please re-open as needed.

[2019-12-18 18:50] #1711 closed

[2019-12-18 18:50] DK2019-w commented on #2049
Yes, there were some wrong quotes too, so the changing of the permissions to read/write worked and solved the issue.
Thank you, and I will close this ticket.

[2019-12-18 18:50] #2049 closed

[2019-12-18 18:50] lt72 commented on #1550
Closing as stale, please re-open as needed.

[2019-12-18 18:50] #1550 closed

[2019-12-18 18:50] kkdawkins commented on #2151
Sorry, I meant to give you GitHub's raw version. Please use this:
https://raw.githubusercontent.com/Azure/iotedge/1.0.9-rc3/scripts/windows/setup/IotEdgeSecurityDaemon.ps1

[2019-12-18 18:50] lt72 commented on #1769
Closing as stale, please re-open as needed.

[2019-12-18 18:50] #1769 closed

[2019-12-18 18:51] lt72 commented on #1637
Correct.
Closing as stale, please re-open as needed.

[2019-12-18 18:51] #1637 closed

[2019-12-18 18:53] lt72 commented on #1475
@CindyXing can we follow up with the customer to inform about the preview refresh expect ETA?

[2019-12-18 18:54] lt72 commented on #1189
Issue seems resolved, closing now. Please re-open as needed.

[2019-12-18 18:54] #1189 closed

[2019-12-18 18:55] lt72 commented on #1029
This is fixed with 1.0.8 release coming out by end of this week. Please give it a try when available and re-open issue as needed.

[2019-12-18 18:55] #1029 closed

[2019-12-18 18:56] lt72 commented on #1346
This is fixed in 1.0.8, please give it a try and re-open as needed.

[2019-12-18 18:56] #1346 closed

[2019-12-18 18:57] #1827 closed

[2019-12-18 18:57] lt72 commented on #1731
@darobs Please check this one.

[2019-12-18 18:58] lt72 commented on #1587
Closing as resolved, please re-open as needed.

[2019-12-18 18:58] #1587 closed

[2019-12-18 19:02] lt72 commented on #1520
Support matrix does not include any ARM device:
https://docs.microsoft.com/en-us/azure/asc-for-iot/how-to-deploy-agent

[2019-12-18 19:05] lt72 commented on #1960
@danwale @alexeyzolotarev The issue is with how __time_t__ is defined in glibc. We will not be able to change that.
We anticipate that we will issue a further release (likely 1.0.10) with a breakign change and move from time_t to [u]int64_t.

[2019-12-18 19:05] #1948 closed

[2019-12-18 19:11] AaronEdelman commented on #2151
@kkdawkins All good now. Thanks a lot!

[2019-12-18 19:11] #2151 closed

[2019-12-18 20:20] MarekLani commented on #2053
@varunpuranik  please can you comment more on reasons why not to use message.Abandoned? Can you provide intended use of abandoning message?

[2019-12-19 01:14] alexeyzolotarev commented on #1960
Hi  @lt72,

The two issues fixed by the patch above are not related to time_t functions from glibc, but rather with the overflow in   calculations of seconds in hsm_sys, that is done manually.
Another issue was that OpenSSL could sometime return the extended ASN1 string format with 4 year digit instead of 2, (refer to ASN1_GENERALIZEDTIME   vs ASN1_UTCTIME).

It does indeed requires some re-work i

[2019-12-19 07:18] sachidanand commented on #2062
Ok.. Please let me know once you are able to reproduce it at your end.. Our IT Team was saying that Edge runtime is trying to access Iot Hub without proxy. However, we have already the proxy details in the Moby docker and IoT Edge.

[2019-12-19 17:37] lt72 commented on #1979
@dmolokanov can you please take a look at this one?

[2019-12-19 18:05] varunpuranik commented on #2062
@sachidanand - Thanks for the information. Couple of questions -
- From the EdgeHub logs, it seems like it is able to connect to IoTHub just fine. Do you need it to go through the proxy in your environment?
- Also, I was under the impression that the issue is that the modules are not able to connect to EdgeHub. That should be unrelated to whether EdgeHub is configured with the proxy, and whether i

[2019-12-19 18:15] sachidanand commented on #2062
Yes it is working without proxy and modules are able to communicate with Edgehub. But when I am using proxy on this gateway then modules are Not able to connect edgehub. So could you check and let me know what is the behavior of edge hub with proxy

[2019-12-19 22:49] elliotchaim commented on #68
@dsajanice I am updating the version in the module.json file, yet still experiencing the issue which @nhuurnink described. Any advice?

[2019-12-20 14:20] cmenzi commented on #2062
It works, when using the edges self-signed certificates or auto created certificates, but when using production ready certificates from create by our pki. The edge module cannot authenticate anymore.

Means: when I commenting out this from `config.yml`:

[code]

Important! We somehow need to do

1. `Stop-Service iotedge`
1. ` docker -H npipe:////./pipe/iotedge_moby_engine rm edgeHub edgeAgent Simu

[2019-12-20 18:18] dmolokanov commented on #1979
Hi @arnabhetc! While we are investigating this issue on our side you may want to try python sdk v2 that was GA recently https://github.com/Azure/azure-iot-sdk-python.

[2019-12-20 19:45] gri6507 opened #2174 "Deployment policy out of sync with edge device"
I have seen this issue multiple times, although it is far from 100%. I have a single IoT Hub with a single IoT Edge deployment policy (tag based), which deploys a specific version of a custom IoT Edge module from the Azure Content Registry (AZR). I have two edge devices within the hub with correct tags such that the deployment policy applies to them. Physically, one of these edge devices is a piec

[2019-12-20 22:25] dmolokanov commented on #2174
Hello @gri6507.
From what we can see from logs you provided it seems like a bad device has not a very reliable connection to the internet. Both edgeAgent and edgeHub lost connection around this time. Usually "at scale" deployment reconciles its desired properties within 15-20 minutes because this is an asynchronous process.

Could you please provide information about the edge runtime version, `iot

[2019-12-20 22:34] varunpuranik commented on #2062
@cmenzi - is your device cert rooted in a cert that is included in the trusted_ca_certs bundle? And without the proxy, the deployment works fine with the same production ready certs?

[2019-12-20 23:00] kkdawkins commented on #2066
Closing due to inactivity - feel free to repoen if you would like us to continue to investigate!

[2019-12-20 23:00] #2066 closed

[2019-12-20 23:47] darobs commented on #1414
Hello @keshav1git,

@myagley is correct, there is no current way to change this behavior or to specify a different partitioning scheme.

If you think that assigning a partition is a useful or needed feature, you can [provide this as feedback to the IoT Hub User Voice](https://feedback.azure.com/forums/321918-azure-iot).

To alleviate the concern in your scenario, the hash to the the partition is s

[2019-12-20 23:47] #1414 closed

[2019-12-21 01:52] cmenzi commented on #2062
Yes. Same chain. Root CA -> Intermediate - > Device CA

Then from Device CA the workload CA is created.

Without proxy, authenticaten works. But with proxy setting it doesn`t work.

[2019-12-21 23:28] orionJag commented on #1294
I'm also having the same issue. The following are some additional info

_**Uname -a**
Linux MyPie01 4.19.75-v7+ #1270 SMP Tue Sep 24 18:45:11 BST 2019 armv7l GNU/Linux

**sudo apt-get install moby-engine**
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  moby-engine
0 upgraded, 1 newly installed, 0 to remove an

[2019-12-21 23:33] orionJag commented on #1294
I'm also having the same issue.

Uname -a
Linux MyPie01 4.19.75-v7+ #1270 SMP Tue Sep 24 18:45:11 BST 2019 armv7l GNU/Linux

sudo apt-get install moby-engine
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  moby-engine
0 upgraded, 1 newly installed, 0 to remove and 174 not upgraded.
1 not fully installed or rem

[2019-12-21 23:35] orionJag commented on #1294
I'm also having same issue, need your help and support.

Uname -a
Linux MyPie01 4.19.75-v7+ #1270 SMP Tue Sep 24 18:45:11 BST 2019 armv7l GNU/Linux

sudo apt-get install moby-engine
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  moby-engine
0 upgraded, 1 newly installed, 0 to remove and 174 not upgraded.
1 no

[2019-12-21 23:40] orionJag commented on #1294
I'm also having same issue, need your help and support.

**Uname -a**
Linux MyPie01 4.19.75-v7+ #1270 SMP Tue Sep 24 18:45:11 BST 2019 armv7l GNU/Linux

**sudo apt-get install moby-engine**
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  moby-engine
0 upgraded, 1 newly installed, 0 to remove and 174 not upgrad